{% extends "index_page.html" %}
{% block title %}Batch Edit{% endblock %}
{% block content %}
<div class="container">
    {% if 'system:data:batch-edit' in system_privileges() %}
    <form id="edit-form" class="form-horizontal" method="post" action="/datasets/batch_edit" enctype="multipart/form-data">
        <div style="max-width: 800px;">
            <div class="page-header">
                <h2>Batch Edit</h2>
            </div>
            <p>
                Upload a file (of either the full or sample-data format downloaded from the Search Result page) with the desired changes.
            </p>
            <hr>
            <div style="padding-left: 20px; padding-right: 20px" class="form-horizontal">
                <div class="form-group" style="margin-bottom: 10px;">
                    <label class="col-xs-2 control-label" for="species">Species:</label>
                    <div class="col-xs-9">
                        <select class="form-control" name="species" id="species" style="width: 340px;"></select>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 10px;">
                    <label class="col-xs-2 control-label" for="group">Group:</label>
                    <div class="col-xs-9">
                        <select class="form-control" name="group" id="group" style="width: 340px;"></select>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 15px;">
                    <label class="col-xs-2 control-label">File:</label>
                    <div class="col-xs-9">
                        <div style="display: inline-block;">
                            <input type="file" name="traits_file" style="display: inline-block;"/>
                        </div>
                        <div style="display: inline-block; margin-left: 15px;">
                            <input type="checkbox" id="transpose_file" name="transpose_file" value="true">
                            <label for="transpose_file" title="Traits as column, samples as rows">Transposed File</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 15px;">
                    <label class="col-xs-2 control-label">Data Type:</label>
                    <div class="col-xs-9">
                        <div>
                            <div style="margin-bottom: 6px;">
                                <input type="radio" id="samples" name="data_type" value="samples" checked />
                                <label for="sample" style="margin-left: 8px;">Sample Data</label>
                            </div>
                            <div>
                                <input type="radio" id="descriptions" name="data_type" value="descriptions" />
                                <label for="meta" style="margin-left: 8px;">Descriptions</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 15px;">
                    <div class="col-xs-offset-3 col-xs-9">
                        <input type="submit" style="width: 125px;" class="btn btn-primary" value="Submit Edits">
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% else %}
    <h2>You lack the permissions to view this page. Please <a href="{{ authserver_authorise_uri() }}">sign in</a>.</h2>
    {% endif %}
</div>
{% endblock %}
{% block js %}
    <script>
      gn_server_url = "{{ gn_server_url }}";
    </script>
    <script src="/static/new/javascript/dataset_select_menu_orig.js"></script>
{% endblock %}
