{% extends "index_page.html" %}
{% block title %}Batch Edit{% endblock %}
{% block content %}
<div class="container">
    {% if 'system:data:batch-edit' in system_privileges() %}
    <form id="edit-form" class="form-horizontal" method="post" action="/datasets/batch_edit" enctype="multipart/form-data">
        <div style="max-width: 600px;">
            <h2>Batch Edit</h2>
            <p>
                Upload a file (of either the full or sample-data format downloaded from the Search Result page) with the desired changes.
            </p>

            <div style="margin-bottom: 10px;">
                <label for="file_type" style="display: block; margin-bottom: 5px;">File type:</label>
                <select name="file_type" id="file_type" style="width: 280px;">
                    <option value="sample-data">Sample Data</option>
                    <option value="metadata">Metadata</option>
                </select>
            </div>

            <div style="margin-bottom: 10px;">
                <label for="species" style="display: block; margin-bottom: 5px;">Species:</label>
                <select name="species" id="species" style="width: 280px;"></select>
            </div>

            <div style="margin-bottom: 10px;">
                <label for="group" style="display: block; margin-bottom: 5px;">Group:</label>
                <select name="group" id="group" style="width: 280px;"></select>
            </div>

            <div style="margin-bottom: 15px;">
                <label style="display: block; margin-bottom: 5px;">File to upload:</label>
                <input type="file" name="traits_file" />
            </div>

            <input type="submit" style="width: 125px;" class="btn btn-success" value="Submit Edits">
        </div>
    </form>
    {% else %}
    <h2>You lack the permissions to view this page. Please <a href="{{ authserver_authorise_uri() }}">sign in</a>.</h2>
    {% endif %}
</div>
{% endblock %}
{% block js %}
    <script>
      gn_server_url = "{{ gn_server_url }}";
    </script>
    <script src="/static/new/javascript/dataset_select_menu_orig.js"></script>
{% endblock %}
