<section classs="row commit-content"  style="padding-top:25px">
  <div  class="col-sm-10 col-sm-offset-1">
    <div>
      <div>
        <h2> <i>Commit your Changes</i></h2>
      </div>
    </div>
    <br>
    <div>
      <div class="row">
        <label class="col-sm-4" for="message-text"> <i>*Commit Message*</i></label>

      </div>
      <br>
      <div class="row">
        <textarea class="col-sm-12">
        </textarea>

      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <button class="btn btn-secondary col-sm-2 col-sm-offset-1">
        Cancel
      </button>

      <button class="btn btn-primary col-sm-2 col-sm-offset-1">
        Commit
      </button>
    </div>
    <br>

  </div>
</section>
