<section classs="row commit-content"  style="padding-top:25px">
  <form  action="/editor/commit" method="POST" class="col-sm-10 col-sm-offset-1">
    <div>
      <div>
        <h2> <i>Commit your Changes</i></h2>
      </div>
    </div>
    <br>
    <div>
      <div class="row">
        <label class="col-sm-4" for="message"> <i>*Commit Message*</i></label>

      </div>
      <br>
      <div class="row">
        <textarea rows="12" class="col-sm-12" name="message" required>
        </textarea>

      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <button  hx-post="/editor/commit"
	       hx-target="#output"
	       hx-swap= "innerHTML"
	       class="btn btn-primary col-sm-2 col-sm-offset-1">
        Commit
      </button>
    </div>
    <br>

  </form>
</section>
