<section class="container-fluid  gnqa-copy" id="search-hist">
  <header class="row">
    <div class="panel panel default col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <div>
	    <h4 class="text-secondary" style="font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif;font-size:2.3rem">Your AI search History </h4>
	  </div>
	</div>
      </div>
    </div>
  </header>
  <div class="container row">
    <div>
      <div class="col-sm-6 col-sm-offset-3" style="margin-bottom:10px">
	<button type="button" class="btn btn-danger" id="delete-btn">Delete Selected </button>
      </div>
      <div >
      <div class="panel panel-default col-sm-6 col-sm-offset-3 ">
      <div>
	<ul class="list-group list-group-flush" style="overflow-y:scroll">
    {% for item in  prev_queries %}
    <li class="row list-group-item">
      	<input name="" type="checkbox"   value="{{item['task_id']}}" class="col-sm-1" style="height: 20px;
  width: 20px;">
	<div class="col-sm-10">
	    <button
	      hx-get="/gnqna/hist?query={{item['query']}}&search_term={{item['task_id']}}"
              hx-target="#swap"
	      hx-swap="innerHTML"
	      hx-trigger= "click"
	      data-bs-toggle="tooltip"
	      data-bs-placement="left"
	      title="/gnqna/hist?query={{item['query']}}&search_term={{item['task_id']}}"
	      style="background:transparent;border:none;cursor:pointer"
	      >
	      <p class="text-info">{{item.get('query')}} </p>
	    </button>
     </div>
    </li>
    {% endfor %}
    </ul>
   </div>
  </div>
  </div>
</section>
<script>
  htmx.on("#delete-btn", "click", function(evt){
      htmx.ajax("DELETE","/gnqna/hist", {target: "#search-hist","swap" :"outerHTML",
				      values: Array.from(htmx.findAll("input[type=checkbox]:checked"), e => e.value)}) 
  })
</script>
