# gitignore
*.pyc
*.orig
*.bak
*.cross
*~
genotype_files/genotype/HSNIH_copy.geno
web/new_genotypes/HSNIH.json
wqflask/secure_server.py
build/
dist/
*.egg-info/
EGG-INFO/
wqflask/output/*
wqflask/wqflask/static/output/*
