include gn2/*
include gn2/other_config/*
include gn2/other_config/nginx_conf/*
include gn2/cfg/*
include gn2/maintenance/*
include gn2/maintenance/dataset/*
include gn2/maintenance/dataset/datasampledir/*
include gn2/maintenance/dataset/datasampledir/load_phenotypes/*
include gn2/maintenance/dataset/datasampledir/load_genotypes/*
include gn2/utility/*
include gn2/wqflask/*
include gn2/wqflask/templates/*
include gn2/wqflask/templates/admin/*
include gn2/wqflask/templates/email/*
include gn2/wqflask/templates/collections/*
include gn2/wqflask/templates/new_security/*
include gn2/wqflask/correlation/*
include gn2/wqflask/interval_mapping/*
include gn2/wqflask/interval_analyst/*
recursive-include gn2/wqflask/static *
include gn2/wqflask/correlation_matrix/*
include gn2/wqflask/show_trait/*
include gn2/wqflask/wgcna/*
include gn2/wqflask/marker_regression/*
include gn2/wqflask/heatmap/*
include gn2/flask_security/*
include gn2/flask_security/templates/*
include gn2/flask_security/templates/security/*
include gn2/flask_security/templates/security/email/*
include gn2/dbFunction/*
include gn2/basicStatistics/*
include gn2/base/*
