include gn2/*
include gn2/other_config/*
include gn2/other_config/nginx_conf/*
include gn2/cfg/*
include gn2/maintenance/*
include gn2/maintenance/dataset/*
include gn2/maintenance/dataset/datasampledir/*
include gn2/maintenance/dataset/datasampledir/load_phenotypes/*
include gn2/maintenance/dataset/datasampledir/load_genotypes/*
include gn2/utility/*
include gn2/wqflask/*
include gn2/wqflask/templates/*
include gn2/wqflask/templates/admin/*
include gn2/wqflask/templates/email/*
include gn2/wqflask/templates/collections/*
include gn2/wqflask/templates/new_security/*
include gn2/wqflask/correlation/*
include gn2/wqflask/interval_mapping/*
include gn2/wqflask/interval_analyst/*
include gn2/wqflask/static/*
include gn2/wqflask/static/dbdoc/*
include gn2/wqflask/static/new/*
include gn2/wqflask/static/new/js_external/*
include gn2/wqflask/static/new/js_external/zxcvbn/*
include gn2/wqflask/static/new/css/*
include gn2/wqflask/static/new/javascript/*
include gn2/wqflask/static/new/javascript/node_modules/*
include gn2/wqflask/static/new/javascript/node_modules/.bin/*
include gn2/wqflask/static/new/packages/*
include gn2/wqflask/static/new/packages/nvd3/*
include gn2/wqflask/static/new/packages/noUiSlider/*
include gn2/wqflask/static/new/packages/DataTables/*
include gn2/wqflask/static/new/packages/DataTables/images/*
include gn2/wqflask/static/new/packages/DataTables/js/*
include gn2/wqflask/static/new/packages/DataTables/css/*
include gn2/wqflask/static/new/packages/DataTables/src/*
include gn2/wqflask/static/new/packages/DataTables/src/api/*
include gn2/wqflask/static/new/packages/DataTables/src/core/*
include gn2/wqflask/static/new/packages/DataTables/src/ext/*
include gn2/wqflask/static/new/packages/DataTables/src/model/*
include gn2/wqflask/static/new/packages/DataTables/extensions/*
include gn2/wqflask/static/new/packages/DataTables/unit_testing/*
include gn2/wqflask/static/new/packages/DataTables/unit_testing/templates/*
include gn2/wqflask/static/new/packages/DataTables/unit_testing/performance/*
include gn2/wqflask/static/new/packages/DataTables/unit_testing/tests/*
include gn2/wqflask/static/new/packages/DataTables/unit_testing/tests/1_dom/*
include gn2/wqflask/static/new/packages/DataTables/unit_testing/tests_onhold/*
include gn2/wqflask/static/new/packages/DataTables/unit_testing/tests_onhold/5_ajax_objects/*
include gn2/wqflask/static/new/packages/DataTables/unit_testing/tests_onhold/3_ajax/*
include gn2/wqflask/static/new/packages/DataTables/unit_testing/tests_onhold/2_js/*
include gn2/wqflask/static/new/packages/DataTables/unit_testing/tests_onhold/4_server-side/*
include gn2/wqflask/static/new/packages/DataTables/unit_testing/tests_onhold/6_delayed_rendering/*
include gn2/wqflask/static/new/packages/DataTables/unit_testing/tests_onhold/1_dom/*
include gn2/wqflask/static/packages/*
include gn2/wqflask/static/packages/underscore/*
include gn2/wqflask/static/packages/bootstrap/*
include gn2/wqflask/static/packages/bootstrap/fonts/*
include gn2/wqflask/static/packages/bootstrap/js/*
include gn2/wqflask/static/packages/bootstrap/css/*
include gn2/wqflask/static/packages/bootstrap/img/*
include gn2/wqflask/static/packages/novus-nvd3-d51729c/*
include gn2/wqflask/static/packages/novus-nvd3-d51729c/lib/*
include gn2/wqflask/static/packages/novus-nvd3-d51729c/deprecated/*
include gn2/wqflask/static/packages/novus-nvd3-d51729c/deprecated/charts/*
include gn2/wqflask/static/packages/novus-nvd3-d51729c/test/*
include gn2/wqflask/static/packages/novus-nvd3-d51729c/src/*
include gn2/wqflask/static/packages/novus-nvd3-d51729c/src/models/*
include gn2/wqflask/static/packages/novus-nvd3-d51729c/src/models/backup/*
include gn2/wqflask/static/packages/novus-nvd3-d51729c/examples/*
include gn2/wqflask/static/packages/novus-nvd3-d51729c/examples/images/*
include gn2/wqflask/static/packages/DT_bootstrap/*
include gn2/wqflask/static/packages/colorbox/*
include gn2/wqflask/static/packages/colorbox/example5/*
include gn2/wqflask/static/packages/colorbox/example5/images/*
include gn2/wqflask/static/packages/colorbox/example4/*
include gn2/wqflask/static/packages/colorbox/example4/images/*
include gn2/wqflask/static/packages/colorbox/example1/*
include gn2/wqflask/static/packages/colorbox/example1/images/*
include gn2/wqflask/static/packages/colorbox/content/*
include gn2/wqflask/static/packages/colorbox/example3/*
include gn2/wqflask/static/packages/colorbox/example3/images/*
include gn2/wqflask/static/packages/colorbox/example2/*
include gn2/wqflask/static/packages/colorbox/example2/images/*
include gn2/wqflask/static/packages/colorbox/i18n/*
include gn2/wqflask/static/packages/node/*
include gn2/wqflask/static/packages/node/tools/*
include gn2/wqflask/static/packages/node/tools/closure_linter/*
include gn2/wqflask/static/packages/bootstrap-old/*
include gn2/wqflask/static/packages/bootstrap-old/js/*
include gn2/wqflask/static/packages/bootstrap-old/css/*
include gn2/wqflask/static/packages/bootstrap-old/img/*
include gn2/wqflask/static/packages/pragmaticly-smart-time-ago-40fa376/*
include gn2/wqflask/static/packages/pragmaticly-smart-time-ago-40fa376/lib/*
include gn2/wqflask/static/packages/pragmaticly-smart-time-ago-40fa376/lib/locales/*
include gn2/wqflask/static/packages/pragmaticly-smart-time-ago-40fa376/test/*
include gn2/wqflask/static/packages/pragmaticly-smart-time-ago-40fa376/test/lib/*
include gn2/wqflask/static/packages/pragmaticly-smart-time-ago-40fa376/test/specs/*
include gn2/wqflask/static/packages/pragmaticly-smart-time-ago-40fa376/src/*
include gn2/wqflask/static/packages/pragmaticly-smart-time-ago-40fa376/src/locales/*
include gn2/wqflask/correlation_matrix/*
include gn2/wqflask/show_trait/*
include gn2/wqflask/wgcna/*
include gn2/wqflask/marker_regression/*
include gn2/wqflask/heatmap/*
include gn2/flask_security/*
include gn2/flask_security/templates/*
include gn2/flask_security/templates/security/*
include gn2/flask_security/templates/security/email/*
include gn2/dbFunction/*
include gn2/basicStatistics/*
include gn2/base/*
