{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% extends "base.html" %}
{% include "security/_messages.html" %}
{% block content %}
<body>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="login-form">
          <h2>Register</h2>
          <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
            <fieldset>
              <div class="clearfix">
                {{ render_field_with_errors(register_user_form.email) }}
              </div>
              <div class="clearfix">
                {{ render_field_with_errors(register_user_form.password) }}
              </div>
              {% if register_user_form.password_confirm %}
                  <div class="clearfix">
                  {{ render_field_with_errors(register_user_form.password_confirm) }}
                  </div>
              {% endif %}
              {{ render_field(register_user_form.submit) }}
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div> 
</body>

{% include "security/_menu.html" %}

{% endblock %}

<!--<form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
  {{ register_user_form.hidden_tag() }}
  {{ render_field_with_errors(register_user_form.email) }}
  {{ render_field_with_errors(register_user_form.password) }}
  {% if register_user_form.password_confirm %}
    {{ render_field_with_errors(register_user_form.password_confirm) }}
  {% endif %}
  {{ render_field(register_user_form.submit) }}
</form>-->