{% extends "base.html" %}
{% block title %}Send Confirmation{% endblock %}
{% block content %}

{% from "security/_macros.html" import render_only_errors %}
{% include "security/_messages.html" %}

<div class="security_box">
    <h4>Resend confirmation instructions</h4>

    <form action="{{ url_for_security('send_confirmation') }}"
          method="POST" name="send_confirmation_form">

        <fieldset>
            {{ send_confirmation_form.hidden_tag() }}

             <div class="control-group">
                <label class="control-label" for="email">Email Address</label>
                <div class="controls">
                    <input id="email" name="email" class="focused" type="text" value="">
                </div>
                {{ render_only_errors(send_confirmation_form.email) }}

            </div>

            <div class="control-group">
                <div class="controls"">
                    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Sign in">
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}