.nvd3 .nv-axis.nv-x text {
  font-size: 16px;
  font-weight: normal;
  fill: black;
}

.nvd3 .nv-axis.nv-y text {
  font-size: 16px;
  font-weight: normal;
  fill: black;
}

.nv-x .nv-axis g path.domain {
    stroke: black;
    stroke-width: 2;
}

.nv-y .nv-axis g path.domain {
    stroke: black;
    stroke-width: 2;
}

.nvd3 .nv-axis.nv-x path.domain {
    stroke-opacity: 1;
}

.nvd3 .nv-axis.nv-y path.domain {
    stroke-opacity: 1;
}

line.nv-regLine {
    stroke: red;
    stroke-width: 1;
}

.nv-axisMin-x,
.nv-axisMax-x,
.nv-axisMin-y,
.nv-axisMax-y {
    display: none;
}
