/* The following handles the left side scrollbar for the trait page table */

/* Move scrollbar to the left */
.dataTables_scrollBody {
    direction: rtl;
    overflow: auto;
  }
  
  /* Reset direction for table content */
  .dataTables_scrollBody table.dataTable {
    direction: ltr;
  }
  
  /* Align header with body columns */
  .dataTables_scrollHeadInner,
  .dataTables_scrollHead table {
    direction: ltr;
    width: 100% !important; /* Ensure width matches the body */
  }

  /* Shift checkbox to the right so it doesn't overlap with the scrollbar */
  .edit_sample_checkbox.scroll-left {
    margin-left: 12px;
  }
