.barchart .axis path,
.barchart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  shape-rendering: crispEdges;
}

#legend-left, #legend-right {
  font-size: 20px;
}

.nvd3 .nv-group {
  fill-opacity: .9 !important;
}

.nvtooltip table td.legend-color-guide div {
  display: none;
}