.interval_map .y_axis path,
.interval_map .y_axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.interval_map .y_axis text {
    font-family: sans-serif;
    font-size: 14px;
}

.interval_map .x_axis path,
.interval_map .x_axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.interval_map .x_axis text {
    text-anchor: end;
    font-family: sans-serif;
    font-size: 8px;
}

interval_map rect {
    stroke: WhiteSmoke;
    fill: white;
}

interval_map path {
    stroke: steelblue;
    stroke-width: 1;
}