#markdown {
    padding: 20px;
}

#markdown h2,
#markdown h3,
#markdown h4,
#markdown h5 {
    font-weight: bold;
}

#markdown img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.github-btn-container {
    margin: 20px 10px;
    display: flex;
    width: 90vw;
    justify-content: flex-end;
}

.github-btn {
    border: 3px solid #357ebd;
    background: lightgrey;
    padding: 6px 8px;
    border-radius: 16px;
}

.github-btn a {
    font-weight: bold;
    color: #357ebd;
}

.github-btn a img {
    height: 40px;
    width: 40px;
}


.container {
    width: 80vw;
    margin: auto;
    max-width: 80vw;

}

.container p {
    font-size: 17px;
    word-spacing: 0.2em;
}

@media(max-width:650px) {
    .container {
        width: 100vw;
    }
}