.chr_manhattan_plot .y_axis path,
.chr_manhattan_plot .y_axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.chr_manhattan_plot .y_axis text {
    font-family: sans-serif;
    font-size: 14px;
}

.chr_manhattan_plot .x_axis path,
.chr_manhattan_plot .x_axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.chr_manhattan_plot .x_axis text {
    text-anchor: end;
    font-family: sans-serif;
    font-size: 10px;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}

/*rect {
    stroke: WhiteSmoke;
    fill: lightgrey;
}*/
/*rect {
    stroke: WhiteSmoke;
    fill: Azure;
}*/

tr .outlier {
    background-color: #ffff99;
}

table.dataTable thead th{
  border-right: 1px solid white;
  color: white;
  background-color: #369;
}

table.dataTable thead .sorting_asc {
  background-image: url("../packages/DataTables/images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("../packages/DataTables/images/sort_desc_disabled.png");
}

table.dataTable thead th {
  padding: 4px 18px 4px 10px;
}

table.dataTable tbody td {
  padding: 4px 20px 2px 10px;
}

table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #ccc;
}