#content h2, h3, h4, h5, h6 {
    color: #545454;
    margin-bottom: 1em;
    border-bottom: dashed 1px #dfdfdf;
    padding-bottom: 0.3em;
}

#content table td {
    padding: 0.5em;
    /* border-right: solid 1px #fff; */
}

#secondaryContent {
    position: relative;
    float: left;
    width: 18.5em;
    padding: 1em 1em 1em 1em;
    background: #fff url('/static/new/images/a1.gif') top right repeat-y;
}


input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
}