tr .outlier {
    background-color: #ffff99;
}

#bar_chart_container {
    overflow-x:scroll;
}

div.sample_group {
    overflow: auto; # needed because it contains float dataTable wrapper
}

.js-plotly-plot .plotly .modebar {
  left: 100px;
}

table.dataTable thead th{
  border-right: 1px solid white;
  color: white;
  background-color: #369;
}

table.dataTable thead .sorting_asc {
  background-image: url("../packages/DataTables/images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("../packages/DataTables/images/sort_desc_disabled.png");
}

table.dataTable thead th {
  padding: 4px 18px 4px 10px;
}

table.dataTable tbody td {
  padding: 3px 20px 1px 10px;
}

table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #ccc;
}