tr .outlier {
    background-color: #ffff99;
}

table.dataTable tbody tr.selected {
    background-color: #ffee99;
}

#bar_chart_container {
    overflow-x:scroll;
}

div.sample_group {
    overflow: auto; # needed because it contains float dataTable wrapper
}

.js-plotly-plot .plotly .modebar {
  left: 100px;
}

table.dataTable thead th, table.dataTable tfoot th{
  border-right: 1px solid white;
  color: white;
  background-color: #369;
}

table.dataTable thead .sorting_asc {
  background-image: url("../packages/DataTables/images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("../packages/DataTables/images/sort_desc_disabled.png");
}

table.dataTable thead th, table.dataTable tfoot {
  padding: 4px 18px 4px 10px;
}

/* Header for a column with a numeric value that should be right-aligned */
table.dataTable thead th div.numeric_header {
  text-align: right;
}

table.dataTable tbody td {
  padding: 2px 15px 0px 10px;
}

table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #ccc;
}

.glyphicon {
  position: relative;
  top: 2px;
}

.trait_page_main_div {
  min-width: 700px;
}

table.dataTable tbody td.column_name-Checkbox {
  padding: 3px 0px 0px 9px;
  text-align: center;
}

table.dataTable tbody td.column_name-Index {
  padding: 2px 4px 0px 2px;
  text-align: right;
}

/* the column with +/- in it that appears in the table when there's an SE column */
table.dataTable tbody td.column_name-PlusMinus {
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}

table.dataTable tbody td.column_name-Value, table.dataTable tbody td.column_name-SE, table.dataTable tbody td.column_name-num_cases {
  text-align: right;
}

.btn_toolbar {
  margin-bottom:15px;
}