tr .outlier {
  background-color: #ffff99;
}

table.dataTable tbody tr.selected {
  background-color: #ffee99;
}

table.metadata {
    table-layout: fixed;
}

table.metadata td:nth-child(1) {
    width: 10%;
}

table summary b {
    cursor: pointer;
    text-decoration: underline;
}

table details[open] {
    width: 80%;
}

#bar_chart_container {
  overflow-x:scroll;
}

div.sample_group {
  overflow: auto; # needed because it contains float dataTable wrapper
}

.js-plotly-plot .plotly .modebar {
  left: 100px;
}

table.dataTable thead th, table.dataTable tfoot th{
  border-right: 1px solid white;
  color: white;
  background-color: #369;
}

table.dataTable thead .sorting_asc {
  background-image: url("/js/DataTables/images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("/js/DataTables/images/sort_desc_disabled.png");
}

table.dataTable thead th, table.dataTable tfoot {
  padding: 4px 18px 4px 10px;
}

/* Header for a column with a numeric value that should be right-aligned */
table.dataTable thead th div.numeric_header {
  text-align: right;
}

table.dataTable tbody td {
  padding: 2px 15px 0px 10px;
}

table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #ccc;
}

.checkbox {
  min-height: 20px;
}

.trait_value_input {
  text-align: right;
}

.glyphicon {
  position: relative;
  top: 2px;
}

table.dataTable tbody td.column_name-Checkbox {
  padding: 1px 0px 0px 9px; /* The left padding here is because text-align:center does not seem to be working properly. No idea why this is. */
  text-align: center;
  vertical-align: middle;
}

table.dataTable tbody td.column_name-Index {
  padding: 2px 4px 0px 2px;
  text-align: right;
}

/* the column with +/- in it that appears in the table when there's an SE column */
table.dataTable tbody td.column_name-PlusMinus {
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}

table.dataTable tbody td.column_name-Value, table.dataTable tbody td.column_name-SE, table.dataTable tbody td.column_name-num_cases {
  text-align: right;
}

div.btn-toolbar {
  margin-bottom:15px;
}

/* div containing the form options for each segment of the trait page - correlations, statistics, mapping, etc */
div.section-form-div {
  padding: 20px;
}

table.left-float {
  float: left;
}

div.scatterplot-btn-div {
  margin-bottom:40px;
}

div.correlation-main {
  min-width: 1200px;
}

div.correlation-options {
  min-width: 700px;
}

.min-expr-field {
  width: 70px;
}

div.p-range-slider {
  width: 200px;
  margin-left: 15px;
}

span.p-range-lower {
  margin-top: 5px;
  font: 400 12px Arial;
  color: #888; 
  display: inline-block;
}

span.p-range-upper {
  font: 400 12px Arial;
  color: #888;
  display: inline-block;
  margin: 5px 0px 0px 170px;
}

input.corr-location {
  width: 50px;
  display: inline;
}

div.block-div {
  margin-bottom: 10px;
}

div.block-div-2 {
  margin-top:10px;
  margin-bottom:10px;
}

div.normalize-div {
  margin-top:10px;
}

div.mapping-main {
  display: block;
}

div.mapping-options {
  float: left;
  width: 600px;
  padding-top: 0px;
}

div.mapping-descriptions {
  float: left;
  width: 500px;
  min-width: 20%;
  margin-bottom: 0px;
  padding-left: 15px;
}

div.covar-options {
  padding-top: 7px;
}

.control-label {
  text-align: right;
}

.chr-select, .maf-select, .scale-select, .reaper-ver-select {
  width: 80px;
}

span.covar-text {
  font-size: 13px;
  font-weight: 400;
}

div.select-covar-div {
  margin-bottom: 10px;
}

.select-covar-button {
  width: 80px;
  padding-right: 10px;
}

.selected-covariates {
  overflow-y: scroll;
  resize: none;
  width: 400px;
}

.cofactor-input {
  width: 160px;
  display: inline-block;
}

.no-control-radio {
  margin-left: 10px;
}

.map-method-text {
  margin-top: 20px;
}

.rqtl-description {
  padding-top: 40px;
  display: none;
}

div.sample-table-container {
  padding-bottom: 10px;
}

div.sample-table-search-container {
  display: inline;
  height: 40px;
}

input.sample-table-search {
  width: 200px;
  display: inline;
  float: left;
  vertical-align: top;
}

div.sample-table-export-container {
  padding-left: 10px;
  display: inline;
}

div.export-code-container {
  padding-top: 20px;
  width: 600px;
  display: none;
}

.export-code-field {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 150px;
}

table.sample-table {
  float: left;
}

input.trait-value-input {
  text-align: right;
}

div.inline-div {
  display: inline;
}

/* div.colorbox_border {
  border: 1px solid grey;
} */
div#cboxContent {
  /* box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12) */

  padding: 10px 10px 5px 10px;

  -moz-box-shadow: 3px 3px 5px #535353;
  -webkit-box-shadow: 3px 3px 5px #535353;
  box-shadow: 3px 3px 5px #535353;

  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px 6px 6px 6px;

  /* border: 2px solid grey; */
}

#cboxClose {
  margin-right: 5px;
  margin-bottom: 2px;
}
