/* Adapted from http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/ */

.one-column-emphasis
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    line-height: 1.6em;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}
.one-column-emphasis th
{
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
    color: #039;
}
.one-column-emphasis td
{
    padding: 10px 15px;
    color: #669;
    border-top: 1px solid #e8edff;
}
.oce-first
{
    background: #d0dafd;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.one-column-emphasis tr:hover td
{
    color: #339;
    background: #eff2ff;
}
