div.tool-button-container {
    min-width: 950px;
}

div.collection-table-options {
    min-width: 1100px;
}

div.show-hide-container {
    margin-bottom: 5px;
    margin-top: 10px;
}

button.active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }