div.tool-button-container {
    min-width: 1050px;
}

div.collection-table-options {
    min-width: 1100px;
}

div.show-hide-container {
    margin-bottom: 5px;
    margin-top: 10px;
}

button.active {
    background: #BEBEBE;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

div.dts {
    display:block !important
}

div.dts div.dts_loading {
    z-index:1
}

div.dts div.dts_label {
    position:absolute;
    right:10px;
    background:rgba(0,0,0,0.8);
    color:white;
    box-shadow:3px 3px 10px rgba(0,0,0,0.5);
    text-align:right;
    border-radius:3px;
    padding:0.4em;
    z-index:2;
    display:none
}

div.dts div.dataTables_scrollBody {
    background:repeating-linear-gradient(45deg, #edeeff, #edeeff 10px, #fff 10px, #fff 20px)
}

div.dts div.dataTables_scrollBody table {
    z-index:2
}

div.dts div.dataTables_paginate,div.dts div.dataTables_length{
    display:none
}
