{% extends "base.html" %}
{% block title %}Group Manager{% endblock %}
{% block content %}
<!-- Start of body -->
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h1>Group Manager</h1>
        </div>
    </header>

    <div class="container">
        <div class="page-header">

        </div>
        <form>
            <div class="control-group">
                <b>Group Name: </b>
                <div class="input-append">
                    <input type="text" name="group_name">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Read</th>
                        <th>Type</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Full Name</th>
                    </tr>
                </thead>
            {% for dataset in datasets %}
                <tr>
                    <td><input type="checkbox" name="read" value="{{ dataset.type }}:{{ dataset.name }}"></td>
                    <td>{{ dataset.type }}</td>
                    <td>{{ dataset.id }}</td>
                    <td>{{ dataset.name }}</td>
                    <td>{{ dataset.fullname }}</td>
                </tr>
            {% endfor %}
            </table>
        </form>
    </div>

<!-- End of body -->

{% endblock %}