{% extends "base.html" %}
{% block title %}Group Manager{% endblock %}
{% block content %}
<!-- Start of body -->
     {{ header("List of groups", "" )}}

    <div class="container">
        <div class="page-header">
            <h1>Manage Groups</h1>
        </div>
        <form action="/manage/groups" method="POST">
            <div class="container" style="margin-bottom: 30px;">
                <div><h3>Admin Groups</h3></div>
                <hr>
                <table id="admin_groups" class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Index</th>
                            <th>Name</th>
                            <th># Members</th>
                            <th>Created</th>
                            <th>Last Changed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in admin_groups %}
                        <tr>
                            <td><input type="checkbox" name="read" value="{{ group.id }}"></td>
                            <td>{{ loop.index }}</td>
                            <td>{{ group.name }}</td>
                            <td>{{ group.admins|length + group.users|length }}</td>
                            <td>{{ group.created_timestamp }}</td>
                            <td>{{ group.changed_timestamp }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="container">
                <div><h3>User Groups</h3></div>
                <hr>
                <table id="user_groups" class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Index</th>
                            <th>Name</th>
                            <th># Members</th>
                            <th>Created</th>
                            <th>Last Changed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in user_groups %}
                        <tr>
                            <td><input type="checkbox" name="read" value="{{ group.id }}"></td>
                            <td>{{ loop.index }}</td>
                            <td>{{ group.name }}</td>
                            <td>{{ group.admins|length + group.users|length }}</td>
                            <td>{{ group.created_timestamp }}</td>
                            <td>{{ group.changed_timestamp }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>



<!-- End of body -->

{% endblock %}

{% block js %}
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/TableTools/media/js/TableTools.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/underscore/underscore-min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready( function () {
            $('#admin_groups, #user_groups').dataTable( {
                "drawCallback": function( settings ) {
                     $('#admin_groups tr').click(function(event) {
                         if (event.target.type !== 'checkbox') {
                             $(':checkbox', this).trigger('click');
                         }
                     });
                },
                "columns": [
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural" }
                ],
                "columnDefs": [ {
                    "targets": 0,
                    "orderable": false
                } ],
                "order": [[1, "asc" ]],
                "sDom": "Ztr",
                "iDisplayLength": -1,
                "autoWidth": true,
                "bDeferRender": true,
                "bSortClasses": false,
                "paging": false,
                "orderClasses": true
            } );
        });
    </script>
{% endblock %}
