{% extends "base.html" %}
{% block title %}User Manager{% endblock %}
{% block content %}
<!-- Start of body -->
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h1>User Manager</h1>
        </div>
    </header>

    <div class="container">
        <div class="page-header">
            <h1 title="{{ user.id }}">{{ user.email_address }}</h1>

            <span class="badge">{{ numify(user.login_count, "login", "logins").capitalize() }}</span>

            {% if user.active %}
            <span class="label label-success">Active</span>
            {% else %}
            <span class="label label-warning">Inactive</span>
            {% endif %}
        </div>



        <table class="table table-hover">
<!--        <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>-->

            <tr>
                <td>Name</td>
                <td>{{ user.full_name }}</td>
            </tr>

            <tr>
                <td>Organization</td>
                <td>{{ user.organization }}</td>
            </tr>


            <tr>
                <td>Confirmed</td>

                {% if user.confirmed_at %}
                <td>{{ timeago(user.confirmed_at + "Z") }}</td>
                {% else %}
                <td><span class="label label-warning">Unconfirmed</span></td>
                {% endif %}
            </tr>

            <tr>
                <td>Most recent login</td>
                {% if user.most_recent_login %}
                <td>{{ timeago(user.most_recent_login.timestamp.isoformat() + "Z") }} from {{ user.most_recent_login.ip_address }}</td>
                {% else %}
                <td><span class="label label-warning">Never</span></td>
                {% endif %}
            </tr>

<!--            <tr>
                <td>Last login</td>
                <td>{{ user.last_login_at }} from {{ user.last_login_ip }}</td>
            </tr>
-->
    <!--        <tr>
                <td>Number of logins</td>
                <td>{{ user.login_count }}</td>
            </tr>-->

        </table>


    </div>

<!-- End of body -->

{% endblock %}

{% block js %}

    <script type="text/javascript" src="/static/packages/smart-time-ago/lib/timeago.js"></script>
    <script>
        $('body').timeago();
    </script>

{% endblock %}
