{% extends "base.html" %}
{% block title %}Matched Groups{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('css', filename='DataTables/css/jquery.dataTables.css') }}" />
    <link rel="stylesheet" type="text/css" href="/static/new/packages/DataTables/extensions/buttons.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/static/new/css/show_trait.css" />
{% endblock %}
{% block content %}
<!-- Start of body -->
    <div class="container">
        <h1>The following groups were found:</h1>
        <br>
        <form id="add_groups">
            <input type="hidden" name="resource_id" value="{{ resource_id }}">
            <div id="groups_list" style="min-width: 600px; max-width: 800px;">
                {% if group_list|length > 0 %}
                <button type="submit" class="btn btn-primary" style="margin-bottom: 40px;">Add Selected Group</button>
                <table id="groups_table" class="table-hover table-striped cell-border" style="float: left;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Created</th>
                            <th>Last Changed</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for group in group_list %}
                        <tr>
                            <td align="center" style="padding: 0px;"><input type="radio" name="selected_group" VALUE="{{ group.id }}"></td>
                            <td>{% if 'name' in group %}{{ group.name }}{% else %}N/A{% endif %}</td>
                            <td>{% if 'created_timestamp' in group %}{{ group.created_timestamp }}{% else %}N/A{% endif %}</td>
                            <td>{% if 'changed_timestamp' in group %}{{ group.changed_timestamp }}{% else %}N/A{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h2>No matching groups were found.</h2>
                {% endif %}
            </div>
        </form>
    </div>

<!-- End of body -->

{% endblock %}

{% block js %}
    <script language="javascript" type="text/javascript" src="{{ url_for('js', filename='DataTables/js/jquery.dataTables.min.js') }}"></script>
    <script>
        $('#groups_table').dataTable();
    </script>
{% endblock %}
