{% extends "base.html" %}
{% block title %}User Manager{% endblock %}
{% block content %}
<!-- Start of body -->
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h1>User Manager</h1>
        </div>
    </header>

    <div class="container">
        <div class="page-header">
            <h1>User Manager</h1>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Organization</th>
                    <th>Active</th>
                    <th>Confirmed</th>
                </tr>
            </thead>
        {% for user in users %}
            <tr>
                <td title="{{ user.id }}">
                    <a href="{{ url_for('manage_user', user_id=user.id) }}">{{ user.email_address }}</a>
                </td>
                <td>{{ user.organization }}</td>
                <td>{{ 'Yes' if user.active else 'No' }}</td>
                <td title="{{ user.confirmed }}">{{ 'True' if user.confirmed else 'False' }}</td>
            </tr>
        {% endfor %}
        </table>


    </div>

<!-- End of body -->

{% endblock %}
