<div id="myModal">
    <div class="modal-header">
        <h2>Define or Add to Collection</h2>
        <p>You have two choices: Name a new collection
        or add to an existing collection.</p>
    </div>
    <div class="modal-body" style="margin-left: 20px;">
        <form action="/collections/new" data-validate="parsley" id="add_form">
            {% if traits is defined %}
            <input type="hidden" name="traits" value="{{ traits }}" />
            {% else %}
            <input type="hidden" name="hash" value="{{ hash }}" />
            {% endif %}
            <fieldset>
              <legend>1. Create a new collection</legend>
              <div style="margin-left: 20px;">
                <!--<label>Collection name:</label>-->
                <input type="text" name="new_collection" placeholder=" Name of new collection..."
                    data-trigger="change" data-minlength="5" data-maxlength="50" style="width: 100%">
                <button type="submit" name="create_new" class="btn btn-primary" style="margin-top: 20px;">Create collection</button>
                {% if uc is not defined %}
                <span class="help-block" style="color:red;">This collection will be saved to this computer for 30 days.</span>
                {% endif %}
              </div>
            </fieldset>
            {% if collections|length > 0 %}
            <hr />
            <fieldset>
              <legend>2. Add to an existing collection</legend>
              <div style="margin-left: 20px;">  
                <!--<label>Existing collection name:</label>-->
                <select name="existing_collection" class="form-control">
                    <!--<option selected disabled>Select Collection</option>-->
                {% for col in collections %}
                    {% if loop.index == 1 %}
                    <option value="{{ col.id }}:{{ col.name }}" selected>{{ col.name }}</option>
                    {% else %}
                    <option value="{{ col.id }}:{{ col.name }}">{{ col.name }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                <br />
                <button type="submit" name="add_to_existing" class="btn btn-primary">Add to existing collection</button>
              </div>
            </fieldset>
            {% endif %}
        </form>
    </div>
</div>

<script>
    $('#add_form').parsley();
</script>
