{% extends "base.html" %}
{% block title %}Your Collections{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/new/packages/DataTables/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/static/packages/DT_bootstrap/DT_bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/new/packages/DataTables/extensions/buttons.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/new/css/show_trait.css" />
{% endblock %}
{% block content %}
<!-- Start of body -->
    <div class="container">
        {% if g.user_session.logged_in %}
        <h1>Collections owned by {{ g.user_session.user_name }}</h1>
        {% else %}
        <h1>Your Collections</h1>
        {% endif %}
        <h2>You have {{ '{}'.format(numify(collections|count, "collection", "collections")) }}.</h1>

        <hr style="height: 1px; background-color: #A9A9A9;">

        <!--
        <div class="page-header">
            {% if g.user_session.logged_in %}
            <h1>Collections owned by {{ g.user_session.user_name }}</h1>
            {% else %}
            <h1>Your Collections</h1>
            {% endif %}
        </div>
        -->
        <div>
            <form id="collections_form" action="/delete" method="post">
              <input type="hidden" name="uc_id" id="uc_id" value="" />
            </form>
            <button class="btn btn-default" id="select_all"><span class="glyphicon glyphicon-ok"></span> Select All</button>
            <button class="btn btn-default" id="deselect_all"><span class="glyphicon glyphicon-remove"></span> Deselect All</button>
            <button class="btn btn-default" id="invert"><span class="glyphicon glyphicon-resize-vertical"></span> Invert</button>
            <button class="btn btn-danger" id="remove_collections" data-url="/collections/delete">Remove Collections</button>
        </div>
        <br>
        <div id="collections_list" style="width:50%; margin-top: 20px; margin-bottom: 20px;">
        <table class="table-hover table-striped cell-border" id='trait_table'>
            <thead>
                <tr>
                    <th></th>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Last Changed</th>
                    <th># Records</th>
                </tr>
            </thead>

            <tbody>
            {% for uc in collections %}
                <tr class="collection_line">
                    {% if g.user_session.logged_in %}
                    <td align="center" style="padding: 0px;"><INPUT TYPE="checkbox" NAME="collection" class="checkbox trait_checkbox" VALUE="{{ uc.id }}"></td>
                    {% else %}
                    <td align="center" style="padding: 0px;"><INPUT TYPE="checkbox" NAME="collection" class="checkbox trait_checkbox" VALUE="{{ uc.name }}"></td>
                    {% endif %}
                    <td align="right">{{ loop.index }}
                    {% if g.user_session.logged_in %}
                    <td><a class="collection_name" href="{{ url_for('view_collection', uc_id=uc.id) }}">{{ uc.name }}</a></td>
                    {% else %}
                    <td><a class="collection_name" href="{{ url_for('view_collection', collection_id=uc.id) }}">{{ uc.name }}</a></td>
                    {% endif %}
                    {% if g.user_session.logged_in %}
                    <td>{{ uc.created_timestamp }}</td>
                    <td>{{ uc.changed_timestamp }}</td>
                    {% else %}
                    <td>{{ timeago(uc.created_timestamp.isoformat() + "Z") }}</td>
                    <td>{{ timeago(uc.changed_timestamp.isoformat() + "Z") }}</td>
                    {% endif %}
                    <td align="right">{{ uc.num_members }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

<!-- End of body -->

{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/packages/smart-time-ago/lib/timeago.js"></script>
    <script type="text/javascript" src="/static/new/javascript/search_results.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.0/js/dataTables.buttons.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.0/js/buttons.html5.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.0/js/buttons.bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/js_external/jszip.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/dataTables.naturalSort.js"></script>
    <script>
            $('#trait_table').dataTable( {
                "drawCallback": function( settings ) {
                     $('#trait_table tr').click(function(event) {
                         if (event.target.type !== 'checkbox') {
                             $(':checkbox', this).trigger('click');
                         }
                     });
                },
                "columns": [
                    { "type": "natural", "width": "3%" },
                    { "type": "natural", "width": "8%" },
                    { "type": "natural", "width": "20%" },
                    { "type": "natural", "width": "25%" },
                    { "type": "natural", "width": "25%" },
                    { "type": "natural", "width": "15%" }
                ],
                "columnDefs": [ {
                    "targets": 0,
                    "orderable": false
                } ],
                "order": [[1, "asc" ]],
                "sDom": "Ztr",
                "iDisplayLength": -1,
                "autoWidth": false,
                "bDeferRender": true,
                "bSortClasses": false,
                "scrollCollapse": true,
                "paging": false,
                "orderClasses": true
            } );

            submit_special = function(url) {
                $("#collections_form").attr("action", url);
                return $("#collections_form").submit();
            };

            $("#remove_collections").on("click", function() {
                url = $(this).data("url")
                collections = []
                $(".trait_checkbox:checked").each(function() {
                    collections.push($(this).val());
                });
                collections_string = collections.join(":")
                $("input[name=uc_id]").val(collections_string)
                return submit_special(url)
            });


    </script>
{% endblock %}
