{% extends "base.html" %}
{% block title %}Your Collections{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/new/packages/DataTables/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/static/packages/DT_bootstrap/DT_bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/packages/TableTools/media/css/TableTools.css" />
    <link rel="stylesheet" type="text/css" href="/static/new/packages/DataTables/extensions/buttons.bootstrap.css" />
{% endblock %}
{% block content %}
<!-- Start of body -->
    {% if g.user_session.user_ob %}
    {{ header("Your Collections",
        'You have {}.'.format(numify(collections|count, "collection", "collections"))) }}
    {% else %}
    {{ header("Your Collections",
        'You have {}.'.format(numify(collections|count, "collection", "collections"))) }}
    {% endif %}


    <div class="container">
        <div class="page-header">
            {% if g.user_session.user_ob %}
            <h1>Collections owned by {{ g.user_session.user_ob.full_name }}</h1>
            {% else %}
            <h1>Your Collections</h1>
            {% endif %}
        </div>

        <div id="collections_list" style="width:75%;">
        <table class="table table-hover table-striped" id='trait_table'>
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Last Changed</th>
                    <th># Records</th>
                </tr>
            </thead>

            <tbody>
            {% for uc in collections %}
                <tr class="collection_line">
                    <td>{{ loop.index }}
                    {% if g.user_session.user_ob %}
                    <td><a class="collection_name" href="{{ url_for('view_collection', uc_id=uc.id) }}">{{ uc.name }}</a></td>
                    {% else %}
                    <td><a class="collection_name" href="{{ url_for('view_collection', collection_id=uc.id) }}">{{ uc.name }}</a></td>
                    {% endif %}
                    <td>{{ timeago(uc.created_timestamp.isoformat() + "Z") }}</td>
                    <td>{{ timeago(uc.changed_timestamp.isoformat() + "Z") }}</td>
                    <td>{{ uc.num_members }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# if "color_by_trait" in params #}
        <script type="text/javascript" src="/static/new/javascript/get_traits_from_collection.js"></script>
        {# endif #}
        
        </div>
    </div>

<!-- End of body -->

{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/packages/smart-time-ago/lib/timeago.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.0/js/dataTables.buttons.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.0/js/buttons.html5.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.0/js/buttons.bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/js_external/jszip.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/dataTables.naturalSort.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/extensions/dataTables.colResize.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/extensions/dataTables.colReorder.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/DT_bootstrap/DT_bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/TableTools/media/js/TableTools.min.js"></script>
    <script>
            $('#trait_table').dataTable( {
                "buttons": [
                    {
                       extend: 'csvHtml5',
                       text: 'Download CSV',
                       title: 'collection_list',
                       fieldBoundary: '"'
                    }
                ],
                "sDom": "RZBtir",
                "iDisplayLength": -1,
                "autoWidth": true,
                "bDeferRender": true,
                "bSortClasses": false,
                "scrollY": "600px",
                "scrollCollapse": true,
                "paging": false
            } );

    </script>
{% endblock %}
