{% extends "base.html" %}
{% block title %}View Collection{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/new/packages/DataTables/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/static/new/packages/DataTables/extensions/buttons.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/static/new/css/show_trait.css" />
{% endblock %}
{% block content %}
<!-- Start of body -->

    <div class="container" style="min-width: 1250px;">
        {% if uc %}
        <h1>{{ uc.name }}</h1>
        {% else %}
        <h1>{{ collection_name }}</h1>
        {% endif %}
        <h2>This collection has {{ '{}'.format(numify(trait_obs|count, "record", "records")) }}</h2>

        <hr style="height: 1px; background-color: #A9A9A9;">

        <div>
          <form id="collection_form" action="/delete" method="post">
            {% if uc %}
            <input type="hidden" name="uc_id" id="uc_id" value="{{ uc.id }}" />
            {% endif %}
            <input type="hidden" name="collection_name" id="collection_name" value="{{ collection_name }}" />
            <input type="hidden" name="tool_used" value="" />
            <input type="hidden" name="form_url" value="" />
            <input type="hidden" name="trait_list" id="trait_list" value= "
            {% for this_trait in trait_obs %}
                {{ this_trait.name }}:{{ this_trait.dataset.name }},
            {% endfor %}" >


                <button id="corr_matrix" class="btn btn-primary submit_special" data-url="/corr_matrix" title="Correlation Matrix" >
                    Correlation Matrix
                </button>


                <button id="network_graph" class="btn btn-primary submit_special" data-url="/network_graph" title="Network Graph" >
                    Network Graph
                </button>


                <button id="wgcna_setup" class="btn btn-primary submit_special" data-url="/wgcna_setup" title="WGCNA Analysis" >
                    WGCNA Analysis
                </button>


                <button id="ctl_setup" class="btn btn-primary submit_special" data-url="/ctl_setup" title="CTL Analysis" >
                    CTL Analysis
                </button>


                <button id="heatmap" class="btn btn-primary submit_special" data-url="/heatmap" title="Heatmap" >
                    Heatmap
                </button>

                <button id="comp_bar_chart" class="btn btn-primary submit_special" data-url="/comparison_bar_chart" title="Comparison Bar Chart" >
                    Comparison Bar Chart
                </button>

                <button id="send_to_webgestalt" class="btn btn-primary submit_special" data-url="/webgestalt_page" title="WebGestalt" >
                    WebGestalt
                </button>

                <button id="send_to_geneweaver" class="btn btn-primary submit_special" data-url="/geneweaver_page" title="GeneWeaver" >
                    GeneWeaver
                </button>

                <button id="send_to_bnw" class="btn btn-primary submit_special" data-url="/bnw_page" title="Bayesian Network" >
                    BNW
                </button>

                <button id="delete" class="btn btn-danger submit_special" style="margin-left: 15px;" data-url="/collections/delete" title="Delete this collection" >
                    Delete Collection
                </button>

          </form>
        </div>

        <div>
            <br />
            <button class="btn btn-default" id="select_all"><span class="glyphicon glyphicon-ok"></span> Select All</button>
            <button class="btn btn-default" id="deselect_all"><span class="glyphicon glyphicon-remove"></span> Deselect All</button>
            <button class="btn btn-default" id="invert"><span class="glyphicon glyphicon-resize-vertical"></span> Invert</button>
            <button class="btn btn-danger" id="remove" disabled="disabled"><i class="icon-minus-sign"></i> Delete Rows</button>
            <button class="btn" id="add" disabled="disabled"><i class="icon-plus-sign"></i> Copy to Other Collection</button>
            <br />
            <br />
            <form id="export_form" method="POST" action="/export_traits_csv">
              <input type="hidden" name="database_name" id="database_name" value="None">
              <input type="hidden" name="export_data" id="export_data" value="">
              <button class="btn btn-default" id="export_traits">Download CSV</button>
            </form>
            <br />
            <div>
                <table class="table-hover table-striped cell-border" id='trait_table' style="float: left;">
                    <thead>
                        <tr>
                            <th></th>
                            <th data-export="Index">Index</th>
                            <th data-export="Dataset">Dataset</th>
                            <th data-export="Record">Record</th>
                            <th data-export="Symbol">Symbol</th>
                            <th data-export="Description">Description</th>
                            <th data-export="Location">Location</th>
                            <th data-export="Mean">Mean</th>
                            <th data-export="Max LRS">Max LRS <a href="http://genenetwork.org//glossary.html#L" target="_blank"><sup>?</sup></a></th>
                            <th data-export="Max LRS Location">Max LRS Location</th>
                            <th data-export="Add. Eff.">Additive Effect <a href="http://genenetwork.org//glossary.html#A" target="_blank"><sup>?</sup></a></th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for this_trait in trait_obs %}
                        <TR id="trait:{{ this_trait.name }}:{{ this_trait.dataset.name }}">
                            <TD align="center" style="padding: 0px;">
                                <INPUT TYPE="checkbox" NAME="searchResult" class="checkbox trait_checkbox"
                                       VALUE="{{ data_hmac('{}:{}'.format(this_trait.name, this_trait.dataset.name)) }}">
                            </TD>
                            <TD data-export="{{ loop.index }}" align="right">{{ loop.index }}</TD>
                            <TD title="{{ this_trait.dataset.fullname }}" data-export="{{ this_trait.dataset.fullname }}">{{ this_trait.dataset.fullname }}</TD>
                            <TD data-export="{{ this_trait.name }}">
                                <a href="{{ url_for('show_trait_page',
                                        trait_id = this_trait.name,
                                        dataset = this_trait.dataset.name
                                        )}}">
                                    {{ this_trait.name }}
                                </a>
                            </TD>
                            {% if this_trait.symbol %}
                            <TD data-export="{{ this_trait.symbol }}">{{ this_trait.symbol }}</TD>
                            {% else %}
                            <TD data-export="N/A">N/A</TD>
                            {% endif %}
                            {% if this_trait.dataset.type == "Geno" %}
                            <TD title="Marker: {{ this_trait.name }}" data-export="Marker: {{ this_trait.name }}">Marker: {{ this_trait.name }}</TD>
                            {% elif this_trait.description_display != "" %}
                            <TD title="{{ this_trait.description_display }}" data-export="{{ this_trait.description_display }}">{{ this_trait.description_display }}</TD>
                            {% else %}
                            <TD title="N/A" data-export="N/A">N/A</TD>
                            {% endif %}
                            <TD data-export="{{ this_trait.location_repr }}">{{ this_trait.location_repr }}</TD>
                            <TD data-export="{{ this_trait.mean }}" align="right">{{ '%0.3f' % this_trait.mean|float }}</TD>
                            <TD data-export="{{ this_trait.LRS_score_repr }}" align="right">{{ '%0.3f' % this_trait.LRS_score_repr|float }}</TD>
                            <TD data-export="{{ this_trait.LRS_location_repr }}">{{ this_trait.LRS_location_repr }}</TD>
                            <TD data-export="{{ this_trait.additive }}" align="right">{{ '%0.3f' % this_trait.additive|float }}</TD>
                        </TR>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
            <br />
        </div>
    </div>

<!-- End of body -->

{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/new/js_external/md5.min.js"></script>
    <script type="text/javascript" src="/static/new/javascript/search_results.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/js_external/jszip.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/dataTables.naturalSort.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/extensions/dataTables.colResize.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/extensions/dataTables.colReorder.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/extensions/dataTables.buttons.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/extensions/buttons.colVis.min.js"></script>


    <script language="javascript" type="text/javascript">
        $(document).ready( function () {

            $('#trait_table tr').click(function(event) {
                if (event.target.type !== 'checkbox') {
                    $(':checkbox', this).trigger('click');
                }
            });

            console.time("Creating table");
            $('#trait_table').dataTable( {
                "columns": [
                    { "type": "natural", "width": 10 },
                    { "type": "natural", "width": 50 },
                    { "type": "natural" },
                    { "type": "natural", "width": 120 },
                    { "type": "natural", "width": 120 },
                    { "type": "natural"  },
                    { "type": "natural", "width": 130 },
                    { "type": "natural", "width": 35 },
                    { "type": "natural", "width": 35 },
                    { "type": "natural", "width": 130 },
                    { "type": "natural" }
                ],
                "columnDefs": [ {
                    "targets": 0,
                    "orderable": false
                } ],
                "order": [[1, "asc" ]],
                buttons: [
                    {
                        extend: 'columnsToggle',
                        columns: ':not(:first-child)',
                        postfixButtons: [ 'colvisRestore' ]
                    }
                ],
                "sDom": "BZRtr",
                "iDisplayLength": -1,
                "autoWidth": false,
                "bDeferRender": true,
                "bSortClasses": false,
                "paging": false,
                "orderClasses": true
            } );
            console.timeEnd("Creating table");

            submit_special = function(url) {
                $("#collection_form").attr("action", url);
                return $("#collection_form").submit();
            };

            $("#delete").on("click", function() {
                url = $(this).data("url")
                return submit_special(url)
            });
        });
        
    </script>


{% endblock %}

