{% extends "base.html" %}
{% block title %}View Collection{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/new/packages/DataTables/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/static/packages/DT_bootstrap/DT_bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/packages/TableTools/media/css/TableTools.css" />
{% endblock %}
{% block content %}
<!-- Start of body -->
    {% if uc %}
        {{ header(uc.name,
            'This collection has {}.'.format(numify(trait_obs|count, "record", "records"))) }}
    {% else %}
        {{ header('Your Collection',
            'This collection has {}.'.format(numify(trait_obs|count, "record", "records"))) }}
    {% endif %}
    <div class="container">
        <div>
            {% if uc %}
            <form action="/collections/delete" method="post">
                {% if uc %}
                <input type="hidden" name="uc_id" id="uc_id" value="{{ uc.id }}" />
                {% endif %}
                <div class="col-xs-3 controls">
                    <input type="submit" class="btn btn-danger" value="Delete this collection" />
                </div>
            </form>
            {% endif %}
            <form action="/corr_matrix" method="post">
                {% if uc %}
                <input type="hidden" name="uc_id" id="uc_id" value="{{ uc.id }}" />
                {% endif %}
                <input type="hidden" name="trait_list" id="trait_list" value= "
                {% for this_trait in trait_obs %}
                    {{ this_trait.name }}:{{ this_trait.dataset.name }},
                {% endfor %}" >
                <div class="col-xs-2 controls">
                    <input type="submit" class="btn btn-primary" value="Correlation Matrix" />
                </div>
            </form>
            <form action="/wgcna" method="post">
                {% if uc %}
                <input type="hidden" name="uc_id" id="uc_id" value="{{ uc.id }}" />
                {% endif %}
                <input type="hidden" name="trait_list" id="trait_list" value= "
                {% for this_trait in trait_obs %}
                    {{ this_trait.name }}:{{ this_trait.dataset.name }},
                {% endfor %}" >
                <div class="col-xs-2 controls">
                    <input type="submit" class="btn btn-primary" value="WGCNA Analysis" />
                </div>
            </form>
            <form action="/heatmap" method="post">
                {% if uc %}
                <input type="hidden" name="uc_id" id="uc_id" value="{{ uc.id }}" />
                {% endif %}
                <input type="hidden" name="trait_list" id="trait_list" value= "
                {% for this_trait in trait_obs %}
                    {{ this_trait.name }}:{{ this_trait.dataset.name }},
                {% endfor %}" >
                <div class="col-xs-2 controls">
                    <input type="submit" class="btn btn-primary" value="Heatmap" />
                </div>
            </form>
        </div>

        <div>
            <br />
            <br />
            <br />
            <button class="btn btn-default" id="select_all"><span class="glyphicon glyphicon-ok"></span> Select All</button>
            <button class="btn btn-default" id="deselect_all"><span class="glyphicon glyphicon-remove"></span> Deselect All</button>
            <button class="btn btn-default" id="invert"><span class="glyphicon glyphicon-resize-vertical"></span> Invert</button>
            <button class="btn" id="add" disabled="disabled"><i class="icon-plus-sign"></i> Add Record to Other Collection</button>
            <button class="btn" id="remove" disabled="disabled"><i class="icon-minus-sign"></i> Remove Record</button>
            <button class="btn btn-primary pull-right"><i class="icon-download icon-white"></i> Download Table</button>
            <br />
            <br />
        <table class="table table-hover table-striped" id='trait_table'>
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Record</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Mean</th>
                    <th>Max LRS<a href="http://genenetwork.org//glossary.html#L" target="_blank"><sup style="color:#f00">  ?</sup></a></th>
                    <th>Max LRS Location</th>
                    <th>Additive Effect<a href="http://genenetwork.org//glossary.html#A" target="_blank"><sup style="color:#f00">  ?</sup></a></th>
                </tr>
            </thead>

            <tbody>
                {% for this_trait in trait_obs %}
                <TR id="trait:{{ this_trait.name }}:{{ this_trait.dataset.name }}">
                    <TD>{{ loop.index }}
                        <INPUT TYPE="checkbox" NAME="searchResult" class="checkbox trait_checkbox"
                               VALUE="{{ data_hmac('{}:{}'.format(this_trait.name, this_trait.dataset.name)) }}">
                    </TD>
                    <TD>
                        <a href="{{ url_for('show_trait_page',
                                trait_id = this_trait.name,
                                dataset = this_trait.dataset.name
                                )}}">
                            {{ this_trait.name }}
                        </a>
                    </TD>

                    <TD>{{ this_trait.description_display }}</TD>
                    <TD>{{ this_trait.location_repr }}</TD>
                    <TD>{{ this_trait.mean }}</TD>
                    <TD>{{ this_trait.LRS_score_repr }}</TD>
                    <TD>{{ this_trait.LRS_location_repr }}</TD>
                    <TD>{{ this_trait.additive }}</TD>

                </TR>
                {% endfor %}
            </tbody>

        </table>
        <br />
        </div>
    </div>

<!-- End of body -->

{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/new/javascript/search_results.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/dataTables.naturalSort.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/extensions/dataTables.colResize.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/extensions/dataTables.colReorder.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/DT_bootstrap/DT_bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/TableTools/media/js/TableTools.min.js"></script>


    <script language="javascript" type="text/javascript">
        $(document).ready( function () {

            $('#trait_table tr').click(function(event) {
                if (event.target.type !== 'checkbox') {
                    $(':checkbox', this).trigger('click');
                }
            });

            console.time("Creating table");
            $('#trait_table').dataTable( {
                "columns": [
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural",
                      "width": "35%"  },
                    { "type": "natural",
                      "width": "15%"  },
                    { "type": "cust-txt" },
                    { "type": "natural",
                      "width": "12%"  },
                    { "type": "natural",
                      "width": "15%"  },
                    { "type": "natural" }
                ],
                "sDom": "ZRtir",
                "iDisplayLength": -1,
                "autoWidth": true,
                "bDeferRender": true,
                "bSortClasses": false,
                "scrollY": "600px",
                "scrollCollapse": true,
                "paging": false
            } );
            console.timeEnd("Creating table");

        });
        
    </script>


{% endblock %}

