#gallery {font:11px verdana,arial,sans-serif; width:1280px; padding:15px 0 0 0; line-height:15px;}
#gallery div.off {color:#000; height:33px; margin-right:2px; line-height:33px; padding:0 20px; float:left; background:url(tabs_0.gif) repeat-x left bottom; border:1px solid #ddd; border-bottom-color:#000; cursor:pointer; position:relative; z-index:20;}
#gallery div.on {color:#c00; padding:0 20px; margin-right:2px; margin-top:1px; float:left; background:url(tabs_2.gif) repeat-x left bottom; border:1px solid #000; cursor:pointer; border-bottom:0; height:33px; line-height:32px; position:relative; z-index:100;}

div.hide {display:none; width:0; overflow:hidden;}
div.show {clear:left; background:#fff; width:1280px; margin-top:0; top:-1px; border:1px solid #000;padding:20px; position:relative; z-index:50; font:11px verdana, arial, sans-serif; line-height:18px;}
div.show img {float:left; margin:0 10px 10px 0;}
.clear {clear:both;}