{% extends "index_page.html" %}
{%from "oauth2/profile_nav.html" import profile_nav%}

{%block content%}
<div class="container" style="min-width: 1250px;">
  {{profile_nav(calling_page, sysauth, display)}}
  <h3>{%block dash_page_heading%}{%endblock%}</h3>

  {{flash_me()}}

  <div class="container-fluid">
  {%block dash_page_content%}
  {%endblock%}
  </div>
</div>
{%endblock%}


{%block js%}
<!-- empty block to suppress the index_page.html javascript from running -->
<script type="text/javascript">
  var displayTooltip = function(css_target) {
      alert($(css_target).attr("title"));
  };
</script>
{%endblock%}
