{% extends "oauth2/base.html" %}
{%block title%}View User{%endblock%}

{%block dash_page_content%}
<div class="row">
  <form id="frm_confirm_resource_role_unassign_privilege"
        method="POST"
        action="{{url_for('oauth2.resource.unassign_privilege_from_resource_role',
                resource_id=resource.resource_id,
                role_id=role.role_id)}}">
    <p>
      Are you sure you want to unassign the privilege to
      '{{privilege.privilege_description}}' from the role '{{role.role_name}}'
      on resource '{{resource.resource_name}}'?</p>
    <input type="hidden"
           name="privilege_id"
           value="{{privilege.privilege_id}}" />
    
    <input type="submit"
           name="confirm"
           value="Cancel"
           class="btn btn-success" />

    <input type="submit"
           name="confirm"
           value="Unassign"
           class="btn btn-danger" />
  </form>
</div>
{%endblock%}
