{%extends "base.html"%}
{%from "oauth2/profile_nav.html" import profile_nav%}
{%from "oauth2/display_error.html" import display_error%}
{%block title%}View User{%endblock%}
{%block content%}
<div class="container" style="min-width: 1250px;">
  {{profile_nav("roles", user_privileges)}}
  <h3>Create Role</h3>

  {{flash_me()}}

  {%if group_privileges_error is defined%}
  {{display_error("Group Privileges", group_privileges_error)}}
  {%else%}
  {%if "group:role:create-role" in user_privileges%}
  <form method="POST" action="{{url_for('oauth2.role.create_role')}}">
    <legend>Create Group Role</legend>
    <div class="form-group">
      <label for="role_name" class="form-label">Name</label>
      <input type="text" id="role_name" name="role_name" required="required"
	     class="form-control"
	     {%if prev_role_name is defined and prev_role_name is not none%}
	     value="{{prev_role_name}}"
	     {%endif%} />
    </div>
    <label class="form-label">Privileges</label>
    {%for priv in group_privileges%}
    <div class="checkbox">
      <label for="chk:{{priv.privilege_id}}">
	<input type="checkbox" id="chk:{{priv.privilege_id}}"
	       name="privileges[]" value={{priv.privilege_id}} />
	<span style="text-transform: capitalize;">
	  {{priv.privilege_description}}
	</span> ({{priv.privilege_id}})
      </label>
    </div>
    {%endfor%}

    <input type="submit" class="btn btn-primary" value="Create" />
  </form>
  {%else%}
  {{display_error("Privilege", {"error":"PrivilegeError", "error_description": "You do not have sufficient privileges to create a new role."})}}
  {%endif%}
  {%endif%}
</div>
{%endblock%}
