{% extends "oauth2/base.html" %}
{%block title%}List Groups{%endblock%}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/new/css/show_trait.css" />
<link rel="stylesheet" type="text/css" href="{{ url_for('css', filename='DataTables/css/jquery.dataTables.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('js', filename='DataTablesExtensions/buttonStyles/css/buttons.dataTables.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('css', filename='jquery-ui/jquery-ui.theme.css') }}"/>
{% endblock %}

{%block dash_page_header%}Manage Groups{%endblock%}

{%block dash_page_content%}

{%if display is defined and display.list_groups%}
<form id="frm-bulk-actions"
      method="POST"
      action="#"> <!-- 'oauth2.group.perform_bulk_action' -->

  <div class="row">
    <legend>Batch actions</legend>
    <input type="submit"
           name="bulk-action"
           class="btn btn-danger"
           value="delete selected" />
  </div>

  <div class="row">
    <table id="tbl-adm-list-groups" class="table table-hover table-striped cell-border">
      <caption>Groups</caption>
      <thead>
        <tr>
          <th>select</th>
          <th>name</th>
          <th>description</th>
          <th>action</th>
        </tr>
      </thead>

      <tbody>
        {%for group in groups%}
        <tr>
          <td>
            <input type="checkbox"
                   name="selected-groups"
                   value="{{group.group_id}}" />
          </td>
          <td>{{group.name}}</td>
          <td>{{group.metadata}}</td>
          <td style="text-align: center;font-weight: larger;">
            {%if group.verified %}
            <span class="glyphicon glyphicon-ok text-success"></span>
            {%else%}
            <span class="glyphicon glyphicon-remove text-danger"></span>
            {%endif%}
          </td>
          <td><span class="btn btn-info">view</span></td>
        </tr>
        {%else%}
        <tr>
          <td colspan="5" class="text-info" style="text-align: center;">
            <span class="glyphicon glyphicon-info-sign"></span>
            There are no groups to list
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>

  </div>

  {%else%}
  <div class="row">
    <p class="text-danger">
      <strong>
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        You do not have the appropriate privileges to act this page.
      </strong>
    </p>
  </div>
</form>
{%endif%}

{%endblock%}


{%block js%}
<script language="javascript"
        type="text/javascript"
        src="{{ url_for('js', filename='DataTables/js/jquery.dataTables.min.js') }}"></script>
<script language="javascript"
        type="text/javascript"
        src="{{ url_for('js', filename='DataTablesExtensions/scroller/js/dataTables.scroller.min.js') }}"></script>
<script language="javascript"
        type="text/javascript"
        src="{{ url_for('js', filename='DataTablesExtensions/plugins/sorting/natural.js') }}"></script>
<script language="javascript"
        type="text/javascript"
        src="{{ url_for('js', filename='DataTablesExtensions/buttons/js/dataTables.buttons.min.js') }}"></script>
<script language="javascript"
        type="text/javascript"
        src="{{ url_for('js', filename='DataTablesExtensions/buttons/js/buttons.colVis.min.js') }}"></script>

<script type="text/javascript">
  $(function() {
      var table_api = $("#tbl-adm-list-groups").DataTable({
          columns: [
              {
                  orderable: false,
                  searchable: false,
                  data: function(group) {
                      return `<input type="checkbox" ` +
                          `id="chk-selected-groups-${group.group_id}" ` +
                          `name="selected-groups" ` +
                          `value="${group.group_id}" />`;
                  }
              },
              {
                  orderable: true,
                  searchable: true,
                  data: "group_name",
                  name: "group_name"
              },
              {
                  orderable: true,
                  searchable: true,
                  data: function(row) {
                      return row.group_metadata.group_description;
                  },
                  name: "group_metadata"
              },
              {
                  orderable: false,
                  searchable: false,
                  data: function(row) {
                      return `<a href="/oauth2/group/view/${row.group_id}" ` +
                          `class="btn btn-info">view</a>`;
                  }
              }
          ],
          select: true,
          serverSide: true,
          ajax: {
              url: "/oauth2/group/fetch",
              dataSrc: "groups"
          }
      });

  });
</script>
{%endblock%}
