{% extends "oauth2/base.html" %}
{%block title%}List Users{%endblock%}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/new/css/show_trait.css" />
<link rel="stylesheet" type="text/css" href="{{ url_for('css', filename='DataTables/css/jquery.dataTables.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('js', filename='DataTablesExtensions/buttonStyles/css/buttons.dataTables.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('css', filename='jquery-ui/jquery-ui.theme.css') }}"/>
{% endblock %}

{%block dash_page_header%}Manage Users{%endblock%}

{%block dash_page_content%}

{%if display is defined and display.list_users%}


{%if reasons is defined and reasons:%}
<div class="row">
  <div id="reasons-accordion"
       class="panel-group"
       role="tablist"
       aria-multiselectable="true"
       style="border:solid 1px;border-radius:5px;border-color:#ebccd1;">
    <div style="margin: 0 1em 0 1em">
      <p class="text-danger">
        The sections below show the reasons why deletions for the selected
        users failed. Click each section to expand.</p>
      <p>
        <a href="{{url_for('oauth2.user.list_users')}}"
           class="btn btn-danger"
           title="Click here to clear these errors">clear errors</a>
      </p>
    </div>
    {%for row in reasons%}
    <div class="panel panel-danger"
         style="margin-left: 1em;margin-right: 1em;">
      <div class="panel-heading"
           role="tab"
           id="heading-{{row.user.user_id}}">
        <h4 class="panel-title">
          <a role="button"
             data-toggle="collapse"
             data-parent="#reasons-accordion"
             href="#collapse-{{row.user.user_id}}"
             aria-expanded="true"
             aria-controls="collapse-{{row.user.user_id}}">
            {{row.user.name}} ({{row.user.email}})</a></h4>
      </div>
      <div id="collapse-{{row.user.user_id}}"
           {%if loop.index0 == 0%}
           class="panel-collapse collapse in"
           {%else%}
           class="panel-collapse collapse"
           {%endif%}
           role="tabpanel"
           aria-labelledby="heading-{{row.user.user_id}}">
        <div class="panel-body">
          <ul>
            {%for areason in row.reasons:%}
            <li class="text-danger">{{areason}}</li>
            {%endfor%}
          </ul>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%endif%}

<div class="row">
  <legend>Filter users by</legend>
  <form method="GET"
        action="{{url_for('oauth2.user.fetch_users')}}"
        class="form-inline">
    <div class="form-group">
      <label class="control-label">search</label>
      <input id="txt-search-email-name"
             name="search-email-name"
             type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label class="control-label">verified</label>
      <select id="select-search-verified"
              name="search-verified"
              class="form-control">
        <option value=""></option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>

    <div class="form-group">
      <label class="control-label">age</label>
      <select id="select-search-age-equivalence"
              name="search-age-equivalence"
              class="form-control">
        <option value=""></option>
        <option value="older than">older than</option>
        <option value="younger than">younger than</option>
        <option value="exactly">exactly</option>
      </select>
      <select id="select-search-age-count"
              name="search-age-count"
              class="form-control">
        <option value=""></option>
        {%for num in range(1, 31)%}
        <option value="{{num}}">{{num}}</option>
        {%endfor%}
      </select>
      <select id="select-search-age-period"
              name="search-age-period"
              class="form-control">
        <option value=""></option>
        <option value="days">days</option>
        <option value="months">months</option>
        <option value="years">years</option>
      </select>
    </div>

    <div class="form-group">
      <input id="btn-reset-search"
             type="reset"
             value="Reset"
             class="btn btn-warning" />
    </div>
  </form>
</div>

<form id="frm-bulk-actions"
      method="POST"
      action="{{url_for('oauth2.user.perform_bulk_action')}}">

  <div class="row">
    <legend>Batch actions</legend>
    <input type="submit"
           name="bulk-action"
           class="btn btn-danger"
           value="delete selected users" />
  </div>

  <div class="row">
    <table id="tbl-adm-list-users" class="table table-hover table-striped cell-border">
      <caption>Users</caption>
      <thead>
        <tr>
          <th>select</th>
          <th>email</th>
          <th>name</th>
          <th>created</th>
          <th>verified</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {%for user in users%}
        <tr>
          <td>
            <input type="checkbox"
                   name="selected-users"
                   value="{{user.user_id}}" />
          </td>
          <td>{{user.email}}</td>
          <td>{{user.name}}</td>
          <td>{{user.created}}</td>
          <td style="text-align: center;font-weight: larger;">
            {%if user.verified %}
            <span class="glyphicon glyphicon-ok text-success"></span>
            {%else%}
            <span class="glyphicon glyphicon-remove text-danger"></span>
            {%endif%}
          </td>
          <!--
              "reset password", "masquerade", "edit", "make sys admin" features
              are offered in "view user page" presented in the action button
              below.
            -->
          <td><span class="btn btn-info">view</span></td>
        </tr>
        {%else%}
        <tr>
          <td colspan="5" class="text-info" style="text-align: center;">
            <span class="glyphicon glyphicon-info-sign"></span>
            There are no users to list
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>

  </div>

  {%else%}
  <div class="row">
    <p class="text-danger">
      <strong>
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        You do not have the appropriate privileges to act this page.
      </strong>
    </p>
  </div>
</form>
{%endif%}

{%endblock%}


{%block js%}
<script language="javascript"
        type="text/javascript"
        src="{{ url_for('js', filename='DataTables/js/jquery.dataTables.min.js') }}"></script>
<script language="javascript"
        type="text/javascript"
        src="{{ url_for('js', filename='DataTablesExtensions/scroller/js/dataTables.scroller.min.js') }}"></script>
<script language="javascript"
        type="text/javascript"
        src="{{ url_for('js', filename='DataTablesExtensions/plugins/sorting/natural.js') }}"></script>
<script language="javascript"
        type="text/javascript"
        src="{{ url_for('js', filename='DataTablesExtensions/buttons/js/dataTables.buttons.min.js') }}"></script>
<script language="javascript"
        type="text/javascript"
        src="{{ url_for('js', filename='DataTablesExtensions/buttons/js/buttons.colVis.min.js') }}"></script>

<script type="text/javascript">
  $(function() {
      var table_api = $("#tbl-adm-list-users").DataTable({
          columns: [
              {
                  orderable: false,
                  searchable: false,
                  data: function(user) {
                      return `<input type="checkbox" ` +
                          `id="chk-selected-users-${user.user_id}" ` +
                          `name="selected-users" ` +
                          `value="${user.user_id}" />`;
                  }
              },
              {
                  orderable: true,
                  searchable: true,
                  data: "email"
              },
              {
                  orderable: true,
                  searchable: true,
                  data: "name"
              },
              {
                  orderable: true,
                  searchable: true,
                  data: "created"
              },
              {
                  orderable: true,
                  searchable: true,
                  data: "verified"
              },
              {
                  orderable: false,
                  searchable: false,
                  data: function(user) {
                      return `<span class="btn btn-info">view</span>`;
                  }
              }
          ],
          select: true,
          serverSide: true,
          ajax: {
              url: "/oauth2/user/fetch",
              dataSrc: "users"
          },
          initComplete: function() {
              /* ==== Hide the default search input element ==== */
              $('#tbl-adm-list-users_wrapper .dataTables_filter input[type="search"]')
                  .parent()
                  .attr("style", "display: none;");
              /* ==== END: Hide the default search input element ==== */
          },

          // enable scroller
          scroller: true,
          scrollY: 900,
          scrollCollapse: true,
          deferRender: true,
          dom: 'lfrti', // hide pagination
      });


      function _compute_age_filter_() {
          let equivalence = $("#select-search-age-equivalence").val();
          let count = $("#select-search-age-count").val();
          let period = $("#select-search-age-period").val();

          if(equivalence === "" || count === "" || period === "" ||
             equivalence === undefined || count === undefined ||
             period === undefined) {
              return "";
          }

          return `${equivalence} ${count} ${period}`
      }


      function search_users(event) {
          let email_or_name = $("#txt-search-email-name").val();
          let verified = $("#select-search-verified").val();
          table_api
              .column(1).search(email_or_name)// Add email search
              .column(2).search(email_or_name)// Add name search
              .column(3).search(_compute_age_filter_())// Add age search
              .column(4).search(verified)// Add verified search
              .draw();//run the search!
      }


      $("#txt-search-email-name").keyup(function(event) {
          let element = $(event.target);
          if(element.val().length >= 4) {
              search_users(event);
          }
      });
      $("#select-search-verified").change(search_users);
      $("#select-search-age-equivalence").change(search_users);
      $("#select-search-age-count").change(search_users);
      $("#select-search-age-period").change(search_users);
      $("#btn-reset-search").click(function(event) {
          event.preventDefault()
          $("#txt-search-email-name").val("");
          $("#select-search-verified").val("");
          $("#select-search-age-equivalence").val("");
          $("#select-search-age-count").val("");
          $("#select-search-age-period").val("");
          search_users(event);
      });
  });

</script>
{%endblock%}
