{%macro profile_nav(calling_page, sysauth, display)%}

<ul class="nav nav-tabs">

  <li role="presentation"
      {%if calling_page == "dashboard"%}
      class="active"
      {%endif%}>
    <a href="{{url_for('oauth2.user.user_profile')}}">Dashboard</a>
  </li>

  <li role="presentation"
      {%if calling_page == "group"%}
      class="active"
      {%endif%}>
    <a href="{{url_for('oauth2.group.user_group')}}">Group</a>
  </li>

  {%if display is defined and display.list_users is sameas true %}
  <li role="presentation"
      {%if calling_page == "users"%}
      class="active"
      {%endif%}>
    <a href="{{url_for('oauth2.user.list_users')}}">Users</a>
  </li>
  {%endif%}

  {%if display is defined and display.list_groups is sameas true %}
  <li role="presentation"
      {%if calling_page == "groups"%}
      class="active"
      {%endif%}>
    <a href="{{url_for('oauth2.group.list_groups')}}">Groups</a>
  </li>
  {%endif%}

  <li role="presentation"
      {%if calling_page == "resources"%}
      class="active"
      {%endif%}>
    <a href="{{url_for('oauth2.resource.user_resources')}}">
      Data and Access Management</a>
  </li>

  {%if sysauth is defined and sysauth.can_link_data %}
  <li role="presentation"
      {%if calling_page == "data"%}
      class="active"
      {%endif%}>
    <a href="{{url_for('oauth2.data.list_data')}}">Link Data</a>
  </li>
  {%endif%}

  {%if sysauth is defined and sysauth.can_masquerade %}
  <li role="presentation"
      {%if calling_page == "masquerade"%}
      class="active"
      {%endif%}>
    <a href="{{url_for('oauth2.user.masquerade')}}"
       title="Masquerade as another user">
      Masquerade As
    </a>
  </li>
  {%endif%}

  <li role="presentation">
    {%if logged_in():%}
    <a href="{{url_for('oauth2.user.logout')}}">Logout</a>
    {%else%}
    <a href="{{url_for('oauth2.user.login')}}">Login</a>
    {%endif%}
  </li>

</ul>

{%endmacro%}
