{% extends "oauth2/base.html" %}
{%block title%}View User{%endblock%}

{%block dash_page_header%}Resources{%endblock%}

{%block dash_page_content%}

<div class="row">
  <p>This page helps you view and manage your access to data, and the Genenetwork system.<br />
    Each item listed in the table below is a "Resource" that the Genenetwork system provides that you can access and act on.</p>
</div>

<div class="row">
  <table class="table">
    <caption>Resources</caption>
    <thead>
      <tr>
	<th>Name</th>
	<th>Category</th>
      </tr>
    </thead>
    <tbody>
      {%for resource in resources %}
      <tr>
	<td>
	  <a href="{{url_for(
		   'oauth2.resource.view_resource',
		   resource_id=resource.resource_id)}}"
	     title="View resource {{resource.resource_name}}">
	    {{resource.resource_name}}
	  </a>
	</td>
	<td>{{resource.resource_category.resource_category_key}}</td>
      </tr>
      {%else%}
      <tr>
	<td colspan="3">
	  <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
	  <span class="text-warning">
	    The user has no access to any resource.
	  </span>
	</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

{%endblock%}
