{% extends "oauth2/base.html" %}

{%block title%}View Role{%endblock%}

{%block dash_page_header%}Role: {{role.role_name}}{%endblock%}

{%block dash_page_content%}

<div class="row">
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong>{{role.role_name}}</strong>
    </div>
    <div class="panel-body">
      <table class="table">
	<thead>
	  <tr><th>privilege id</th><th>description</th></tr>
	</thead>
	<tbody>
	  {%for privilege in role.privileges:%}
	  <tr>
	    <td>{{privilege.privilege_id}}</td>
	    <td>{{privilege.privilege_description}}</td>
	  </tr>
	  {%else%}
	  <tr>
	    <td>
	      <span class="glyphicon glyphicon-warning-sign text-warning"></span>
	      &nbsp;
	    </td>
	    <td>
	      <span class="text-warning">No privileges found for this role.</span>
	    </td>
	  </tr>
	  {%endfor%}
	</tbody>
      </table>
    </div>
    <div class="panel-footer">
      {%if resource_id is defined %}
      <p>
	This role acts on the resource with ID:
	<a href="{{url_for('oauth2.resource.view_resource', resource_id=resource_id)}}">
	  {{resource_id}}
	</a>
      </p>
      {%endif%}
    </div>
  </div>
</div>

{%endblock%}
