{% extends "oauth2/base.html" %}
{%from "oauth2/display_error.html" import display_error%}
{%block title%}View User{%endblock%}

{%block dash_page_content%}

<div class="row">
  <table class="table">
    <caption>Group Information</caption>
    <thead>
      <tr>
	<th rowspan="2">group name</th>
        <th rowspan="2">is my group?</th>
	<th colspan="2" style="text-align: center;">Metadata</th>
	<th rowspan="2" colspan="2" style="text-align: center;">Actions</th>
      </tr>
      <tr>
	<th>key</th>
	<th>value</th>
      </tr>
    </thead>

    {%if group is defined%}
    <tbody>
      {%for key,val in group.group_metadata.items()%}
      <tr>
        {%if loop.index0 == 0:%}
        <td rowspan="{{group.group_metadata | count}}">
          {{group.group_name}}</td>
        {%endif%}
        <td>
          {%if group.group_id == session_users_group.get("group_id", "")%}
          <strong class="text-success">
            <span class="glyphicon glyphicon-ok"></span></strong>
          {%else:%}
          <strong class="text-warning">
            <span class="glyphicon glyphicon-remove"></span></strong>
          {%endif%}
        </td>
        <td>{{key}}</td>
        <td>{{val}}</td>
        {%if loop.index0 == 0:%}
        <td rowspan="{{group.group_metadata | count}}">
          <a href="{{url_for('oauth2.group.edit_group', group_id=group.group_id)}}"
	     class="btn btn-info not-implemented"
             title="Edit group information">Edit</a></td>
        <td rowspan="{{group.group_metadata | count}}">
          <a href="{{url_for('oauth2.group.edit_group', group_id=group.group_id)}}"
	     class="btn btn-danger not-implemented"
             title="Delete this group">Delete</a></td>
        {%endif%}
      </tr>
      {%endfor%}
    </tbody>
    {%else%}
    <tbody>
      <tr>
        <td colspan="5">
          {{display_error("Error fetching group", group_error)}}
        </td>
      </tr>
    </tbody>
    {%endif%}
  </table>
</div>

<div class="row">

  <table class="table">
    <caption>Group Users</caption>
    <thead>
      <tr>
	<th rowspan="2">Name</th>
	<th rowspan="2">Email</th>
	<th rowspan="2">Group Leader?</th>
	<th colspan="2" style="text-align: center;">Actions</th>
      </tr>
      <tr>
	<th>Membership</th>
	<th>Leadership</th>
      </tr>
    </thead>

    {%if members is defined%}
    <tbody>
      {%if group_leaders_error is defined%}
      <tr>
        <td></td>
        <td colspan="3">
          {{display_error("Error retrieving group's leaders", group_leaders_error)}}
        </td>
        <td></td>
      </tr>
      {%endif%}

      {%for user in members%}
      <tr>
	<td>{{user.name}}</td>
	<td>{{user.email}}</td>
	<td>
          <strong>
            {%if user in group_leaders%}
            <span class="glyphicon glyphicon-ok text-success"></span>
            {%else%}
            <span class="glyphicon glyphicon-remove text-warning"></span>
            {%endif%}
          </strong>
        </td>
	<td>
          <form id="frm-remove-group-member-{{user.user_id}}"
                method="POST"
                action="{{url_for('oauth2.group.remove_group_member', group_id=group.group_id)}}">
            <input type="hidden" name="user_id" value="{{user.user_id}}" />
	    <input type="submit"
	           title="Remove this user from being a member of this group."
	           class="btn btn-danger"
                   value="Remove" />
          </form>
	</td>
	<td>
          {%if user in group_leaders%}
	  <a href="#"
	     title="Demote this user from the group-leader role."
	     class="btn btn-info not-implemented">Demote</a>
          {%else:%}
	  <a href="#"
	     title="Promote this user to the group-leader role."
	     class="btn btn-warning not-implemented">Promote</a>
          {%endif%}
	</td>
      </tr>
      {%else%}
      <tr>
	<td colspan="3">
	  {%if user_error is defined%}
	  <span class="glyphicon glyphicon-exclamation-sign text-danger">
	  </span>
	  &nbsp;
	  <strong class="text-danger">{{user_error.error}}</strong>
	  {{user_error.error_description}}
	  {%else%}
	  No users found for this group
	  {%endif%}
	</td>
      </tr>
      {%endfor%}
    </tbody>
    {%else%}
    <tbody>
      <tr>
        <td colspan="5">
          {{display_error("Could not fetch group member details", members_error)}}
        </td>
      </tr>
    </tbody>
    {%endif%}
  </table>

</div>

<div class="row">
  <table class="table">
    <caption>Group's Resources</caption>

    <thead>
      <tr>
        <th>resource name</th>
        <th>category</th>
        <th>publicly viewable?</th>
      </tr>
    </thead>

    {%if resources is defined%}
    <tbody>
      {%for resource in resources:%}
      <tr>
        <td>
          <a href="{{url_for('oauth2.resource.view_resource', resource_id=resource.resource_id, return_to=return_to, group_id=group.group_id)}}">
            {{resource.resource_name}}
          </a>
        </td>
        <td>{{resource.resource_category.resource_category_description}}</td>
        <td>
          {%if resource.public%}
          <span class="glyphicon glyphicon-ok text-success"></span>
          {%else:%}
          <span class="glyphicon glyphicon-remove text-warning"></span>
          {%endif%}
        </td>
      </tr>
      {%else:%}
      <tr>
        <td colspan="3">
          <span class="glyphicon glyphicon-flag text-info"></span>
          This group owns no resources.
        </td>
      </tr>
      {%endfor%}
    </tbody>
    {%else%}
    <tbody>
      <tr>
        <td colspan="3">
          {{display_error("Could not fetch group's resources", resources_error)}}
        </td>
      </tr>
    </tbody>
    {%endif%}
  </table>
</div>

{%endblock%}
