{% extends "oauth2/base.html" %}
{%from "oauth2/display_error.html" import display_error%}
{%block title%}View User{%endblock%}

{%block css%}
<link rel="stylesheet" type="text/css" href="/static/new/css/show_trait.css" />
<link rel="stylesheet" href="/static/new/css/resource-roles.css" />
<link rel="stylesheet" type="text/css"
      href="{{ url_for('css', filename='DataTables/css/jquery.dataTables.css') }}" />
<link rel="stylesheet" type="text/css"
      href="{{ url_for('js', filename='DataTablesExtensions/buttonStyles/css/buttons.dataTables.min.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('css', filename='jquery-ui/jquery-ui.theme.css') }}"/>
{%endblock%}

{%block dash_page_header%}Resources{%endblock%}

{%block dash_page_content%}

{%if resource_error is defined %}
{{display_error("Resource", resource_error)}}
{%else%}
<div class="row">
  <h3>Resource Details</h3>
  <table class="table">
    <caption>Resource: {{resource.resource_name}}</caption>
    <thead>
      <tr>
	<th>Name</th>
	<th>Category</th>
	<th colspan="3" style="text-align: center;">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr>
	<td>{{resource.resource_name}}</td>
	<td>{{resource.resource_category.resource_category_description}}</td>
	<td>
	  <form method="POST"
		action="{{url_for(
			'oauth2.resource.toggle_public',
			resource_id=resource.resource_id)}}">

	    <div class="input-group">
	      {%if resource.public%}
	      <input type="submit" value="Make Private"
		     class="btn btn-success" />
	      {%else%}
	      <input type="submit" value="Make Public"
		     class="btn btn-danger" />
	      {%endif%}
	    </div>
	  </form>
	</td>
	<td>
	  <a href="{{url_for(
		   'oauth2.resource.edit_resource',
		   resource_id=resource.resource_id)}}"
	     title="Edit resource"
	     class="btn btn-warning">Edit</a>
	</td>
	<td>
          {%if resource.resource_data | length != 0%}
          <span
            id="delete-resource-disabled"
            class="btn btn-danger"
            title="You cannot delete this resource because it has data linked to it."
            onclick="displayTooltip('#delete-resource-disabled')">
            Delete
          </span>
          {%else%}
	  <a href="{{url_for(
		   'oauth2.resource.delete_resource',
		   resource_id=resource.resource_id,
                   **return_to)}}"
             title="Delete this resource"
	     class="btn btn-danger">Delete</a>
          {%endif%}
	</td>
      </tr>
    </tbody>
  </table>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#tab-resource-data"
       title="Display this resource's data tab."
       data-toggle="tab">
      Resource Data
    </a>
  </li>
  <li>
    <a href="#tab-resource-roles"
       title="Display roles/permissions available for this resource."
       data-toggle="tab">
      Roles
    </a>
  </li>
  <li>
    <a href="#tab-resource-users"
       title="Display users with access to this resource."
       data-toggle="tab">
      Users
    </a>
  </li>
</ul>

<div class="tab-content">
  <div id="tab-resource-data" class="tab-pane fade in active">
    <div class="row">
      <h3>Resource Data</h3>
      <table class="table table-hover table-striped cell-border no-footer"
             id="tbl-resource-data"
             data-resource-id='{{resource.resource_id}}'
             data-resource-data='{{resource.resource_data | tojson}}'
             data-unlink-uri="{{url_for('oauth2.resource.unlink_data_from_resource')}}"
             data-resource-type="{{resource.resource_category.resource_category_key}}">
        <caption>Resource Data</caption>
        <thead></thead>
        <tbody></tbody>
      </table>
      <form action="{{url_for('oauth2.resource.view_resource', resource_id=resource.resource_id)}}"
	    method="GET"
	    style="width:100%;text-align:center;">
        <input type="hidden" name="page" value="{{page}}" />
        <input type="hidden" name="count_per_page" value="{{count_per_page}}" />

        <input type="submit" name="submit" value="prev" class="btn btn-info"
	       {%if page == 1 %}disabled="disabled"{%endif%} />
        <input type="submit" name="submit" value="next" class="btn btn-info"
	       {%if resource.resource_data | length < count_per_page %}
	                                              disabled="disabled"
	                                              {%endif%} />
               </form>
    </div>

    <div class="row">
      <h3>Unlinked Data</h3>
      <div>
        <a href="#"
           id="btn-unlinked-data-select-all"
           title="Select all"
           class="btn btn-info">select all</a>
        <a href="#"
           id="btn-unlinked-data-deselect-all"
           title="Deselect all"
           class="btn btn-danger">deselect all</a>
        <a href="#"
           id="btn-unlinked-data-link-selected"
           title="Link selected"
           class="btn btn-info">link selected</a>
      </div>
      <table class="table"
             id="tbl-unlinked-data"
             data-unlinked-data='{{unlinked_data | tojson}}'
             data-link-uri="{{url_for('oauth2.resource.link_data_to_resource')}}">
        <thead></thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

  <div id="tab-resource-roles"  class="tab-pane fade">
    <div class="row">
      <h3>Available Resource Roles</h3>
      <div class="resource_roles">
        {%for role in resource_roles%}
        <a class="pill"
           href="{{url_for('oauth2.resource.view_resource_role',
                 resource_id=resource.resource_id,
                 role_id=role.role_id)}}"
           title="Role page for role named '{{role.role_name}}'">
          {{role.role_name}}
        </a>
        {%endfor%}
      </div>
      <hr />
      <a title="create a new role for this resource"
         href="{{url_for('oauth2.resource.create_resource_role',
               resource_id=resource.resource_id)}}"
         class="btn btn-info">New Role</a>
    </div>
  </div>

  <div id="tab-resource-users" class="tab-pane fade">
    <div class="row">
      <h3>Users: Assigned Roles</h3>
      {%if users_n_roles_error is defined%}
      {{display_error("Users and Roles", users_n_roles_error)}}
      {%else%}
      <table class="table">
        <caption>User Roles</caption>
        <thead>
          <tr>
	    <th>User Email</th>
	    <th>User Name</th>
	    <th>User Group</th>
	    <th colspan="2">Assigned Roles</th>
          </tr>
        </thead>
        <tbody>
          {%for user_row in users_n_roles%}
          <tr>
	    <td rowspan="{{user_row.roles | length + 1}}">{{user_row.user.email}}</td>
	    <td rowspan="{{user_row.roles | length + 1}}">{{user_row.user.name}}</td>
	    <td rowspan="{{user_row.roles | length + 1}}">
	      {{user_row.user_group.group_name}}</td>
	    <th>Role</th>
	    <th>Action</th>
          </tr>
          {%for role in user_row.roles%}
          <tr>
	    <td>
	      <a href="{{url_for(
		       'oauth2.role.role',
		       role_id=role.role_id)}}"
	         title="Details for '{{role.role_name}}' role">
	        {{role.role_name}}
	      </a>
	    </td>
	    <td>
	      <form action="{{url_for('oauth2.resource.unassign_role',
			    resource_id=resource.resource_id)}}"
		    method="POST">
	        <input type="hidden" name="user_id"
		       value="{{user_row.user.user_id}}" />
	        <input type="hidden" name="role_id"
		       value="{{role.role_id}}">
	        <input type="submit"
		       value="Unassign"
		       class="btn btn-danger"
		       {%if user_row.user.user_id==this_user.user_id%}
		       disabled="disabled"
		       {%endif%}>
	      </form>
	    </td>
          </tr>
          {%endfor%}
          {%else%}
          <tr>
	    <td colspan="5">
	      <span class="glyphicon glyphicon-info-sign text-info">
	      </span>
	      &nbsp;
	      <span class="text-info">
	        There are no users assigned any role for this resource.
	      </span>
	    </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
      {%endif%}
    </div>

    <div class="row">
      <h3>Assign</h3>
      {%if resource_roles_error is defined%}
      {{display_error("Resource Roles", resource_roles_error)}}
      {%elif users_error is defined%}
      {{display_error("Users", users_error)}}
      {%else%}
      <form action="{{url_for(
		    'oauth2.resource.assign_role',
		    resource_id=resource.resource_id)}}"
	    method="POST" autocomplete="off">
        <input type="hidden" name="resource_id" value="{{resource_id}}" />
        <div class="form-group">
          <label for="role_id" class="form-label">Role</label>
          <select class="form-control" name="role_id"
	          id="role_id" required="required">
	    <option value="">Select role</option>
            {%for rrole in resource_roles%}
            <option value="{{rrole.role_id}}">
              {{rrole.role_name}}
            </option>
            {%endfor%}
          </select>
        </div>

        <div class="form-group">
          <label for="user-email" class="form-label">User Email</label>
          <input list="users-list" name="user_email" class="form-control"
	         {%if users | length == 0%}
	         disabled="disabled"
	         {%endif%}
	         required="required" />
          <datalist id="users-list">
            {%for user in users%}
            <option value="{{user.email}}">{{user.email}} - {{user.name}}</option>
            {%endfor%}
          </datalist>
        </div>

        <input type="submit" class="btn btn-primary" value="Assign"
               {%if users | length == 0%}
               disabled="disabled"
               {%endif%} />
      </form>
      {%endif%}
    </div>
  </div>

</div>
{%endif%}

{%endblock%}


{%block js%}
{{super()}}
<script language="javascript"
        type="text/javascript"
        src="{{ url_for('js', filename='DataTables/js/jquery.dataTables.min.js') }}"></script>
<script language="javascript"
        type="text/javascript"
        src="{{ url_for('js', filename='DataTablesExtensions/scroller/js/dataTables.scroller.min.js') }}"></script>
<script language="javascript"
        type="text/javascript"
        src="/static/new/javascript/search_results.js"></script>
<script language="javascript"
        type="text/javascript"
        src="/static/new/javascript/create_datatable.js"></script>
<script language="javascript" type="text/javascript">
  $(() => {
      var resourceData = JSON.parse($("#tbl-resource-data").attr("data-resource-data"));

      var buildInbredSetGroupCols = (tableData) => {
          return [{
              title: "Population (InbredSet) Full Name",
              type: "natural",
              searchable: true,
              orderable: true,
              data: "InbredSetFullName"
          }, {
              title: "Population Name",
              type: "natural",
              searchable: true,
              orderable: true,
              data: "InbredSetName"
          }]
      };

      var addCommonColumns = (colDefs) => {
          return [{
              title: "Trait",
              type: "natural",
              searchable: true,
              orderable: true,
              data: (row) => {
                  return (
                      `<a href="/show_trait?trait_id=${row.PublishXRefId}`
                          + `&dataset=${row.dataset_name}" target="_blank">`
                          + `${row.PublishXRefId}</a>`);
              }
          }].concat(colDefs).concat([{
              title: "Dataset Name",
              searchable: true,
              orderable: true,
              data: "dataset_name"
          }, {
              title: "Full Name",
              searchable: true,
              orderable: true,
              data: "dataset_fullname"
          }]);
      };

      var buildPhenotypeCols = (tableData) => {
          colDefs = [];
          if(tableData.length != 0) {
              if(tableData[0].description !== undefined) {
                  colDefs.push({
                      title: "Description",
                      searchable: true,
                      orderable: true,
                      data: "description"
                  });
              }
              if(tableData[0].year !== undefined) {
                  colDefs.push({
                      title: "Year",
                      searchable: true,
                      orderable: true,
                      data: "year"
                  });
              }
          }
          return addCommonColumns(colDefs);
      };

      var buildGenotypeCols = (tableData) => {
          return addCommonColumns([]);
      };

      var buildMRNACols = (tableData) => {
          return addCommonColumns([]);
      };

      var buildCols = (tableData, datasetType) => {
          var colBuildFunctions = {
              "phenotype": buildPhenotypeCols,
              "genotype": buildGenotypeCols,
              "mrna": buildMRNACols,
              "inbredset-group": buildInbredSetGroupCols,
              "system": (td) => {return [];},
              "group": (td) => {return [];}
          }
          return colBuildFunctions[datasetType](tableData);
      };

      var resourceID = $("#tbl-resource-data").attr("data-resource-id");
      var unlinkURI = $("#tbl-resource-data").attr("data-unlink-uri");
      create_table(
          tableId="tbl-resource-data",
          tableData=resourceData,
          columnDefs=buildCols(
              resourceData,
              $("#tbl-resource-data").attr("data-resource-type")).concat([{
                  title: "Actions",
                  searchable: false,
                  orderable: false,
                  data: (row) => {
                      return (
                          `<form action=${unlinkURI} method="POST">`
                              + `<input type="hidden" name="resource_id" `
                              + `value="${resourceID}" />`
                              + `<input type="hidden" name="data_link_id" `
                              + `value="${row.data_link_id}" />`
                              + `<input type="submit" value="Unlink" `
                              + `class="btn btn-danger" />`
                              + `</form>`)
                  }
              }]),
          customSettings={
              sDom: "iftip"/* https://legacy.datatables.net/release-datatables/examples/basic_init/dom.html */
          },
          hasIndex=false);

      var unlinkedData = JSON.parse($("#tbl-unlinked-data").attr("data-unlinked-data"));
      var linkURI = $("#tbl-unlinked-data").attr("data-link-uri");
      create_table(
          tableId="tbl-unlinked-data",
          tableData=unlinkedData,
          columnDefs=[{
              title: '#',
              searchable: false,
              orderable: false,
              data: (row) => {
                  return (
                      `<input type="checkbox" name="data_link_ids `
                          + `value="${row.data_link_id}" `
                          + `id="chk-${row.PublishXRefId}" />`);
              }
          }].concat(buildCols(
              unlinkedData,
              $("#tbl-resource-data").attr("data-resource-type"))),
          customSettings={
              /* https://legacy.datatables.net/extras/tabletools/index.html */
              /* TableTools is not installed. */
              sDom: 'T<"clear">iftip',
          },
          hasIndex=false);
  });
  </script>
{%endblock%}
