{%extends "base.html"%}
{%from "oauth2/profile_nav.html" import profile_nav%}
{%from "oauth2/display_error.html" import display_error%}

{%block title%}Link Data: Genotype{%endblock%}

{%block css%}
<link rel="stylesheet" type="text/css"
      href="/css/DataTables/css/jquery.dataTables.css" />
<link rel="stylesheet" type="text/css"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/static/new/css/show_trait.css" />
{%endblock%}

{%block content%}
<div class="container" style="min-width: 1250px;">
  {{profile_nav("data", user_privileges)}}

  {{flash_me()}}

  <div class="row">
    <noscript>This page needs javascript to work correctly</noscript>
  </div>

  <div class="row">
    <form id="frm-link-genotypes">
      <legend>Link Genotype Traits to Group</legend>

      <div class="form-group">
	<label for="select-group">Group</label>
	<select id="select-group" name="group_id" required="required"
		class="form-control">
	  <option value="">Select group</option>
	  {%for group in groups%}
	  <option value="{{group.group_id}}">{{group.group_name}}</option>
	  {%endfor%}
	</select>
      </div>

      <table id="tbl-link-genotypes" class="table-hover table-striped cell-border"
	     data-selected-datasets='{{selected_datasets | list | tojson}}'>
	<tbody>
	  <tr>
	    <td colspan="100%" align="center" style="text-align: center;">
	      <br/><b><font size="4">
	      <span class="glyphicon glyphicon-info-sign text-info"></span>
	      &nbsp;
	      There are no selected genotype datasets to link to the group.
	      </font></b><br />
	    </td>
	  </tr>
	</tbody>
      </table>

      {%if groups | length > 0%}
      <input type="submit" value="Link Selected" class="btn btn-primary" />
      {%else%}
      <input type="submit" value="No group to link to" class="btn btn-warning"
	     disabled="disabled" />
      {%endif%}
    </form>
  </div>

  <div class="row">
    <span id="search-messages" class="alert-danger" style="display:none"></span>
    <form id="frm-search-traits"
	  action="#"
	  method="POST">
      <legend>Search: Genotype</legend>
      <input type="hidden" value="{{species_name}}" name="species"
	     id="txt-species" />
      <input type="hidden" value="{{dataset_type}}" name="dataset_type"
	     id="txt-dataset-type"  />
      <input type="hidden" value="{{per_page}}" name="per_page"
	     id="txt-per-page"  />

      <div class="form-group">
	<label for="txt-query">Dataset Search String</label>
	<input type="text" id="txt-query" name="query" class="form-control"
	       value="{{query}}"/>
      </div>
    </form>
  </div>

  <div class="row">
    <table id="tbl-genotypes" class="table-hover table-striped cell-border"
	   data-datasets='{{datasets | list | tojson}}'>
      <tbody>
	<tr>
	  <td colspan="100%" align="center">
	    <br><b><font size="15">Loading...</font></b><br>
	  </td>
	</tr>
    </table>
  </div>


</div>
{%endblock%}

{%block js%}
<script language="javascript" type="text/javascript"
	src="/js/DataTables/js/jquery.dataTables.min.js"></script>

<script language="javascript" type="text/javascript"
	src="/js/DataTablesExtensions/plugins/sorting/natural.js"></script>

<script language="javascript" type="text/javascript"
	src="/js/DataTablesExtensions/colReorder/js/dataTables.colReorder.js">
</script>

<script language="javascript" type="text/javascript"
	src="/js/DataTablesExtensions/colResize/dataTables.colResize.js">
</script>

<script language="javascript" type="text/javascript"
	src="/static/new/javascript/create_datatable.js"></script>

<script language="javascript" type="text/javascript">
  var common_column_definitions = [
      {"title": "Index", "data": "index"},
      {"title": "Group", "data": "InbredSetName"},
      {"title": "Dataset", "data": "dataset_name"},
      {"title": "Dataset FullName", "data": "dataset_fullname"},
      {"title": "Dataset ShortName", "data": "dataset_shortname"}
  ];

  var search_column_definitions = [{"data": null, "render": function(data) {
      return (
	  '<input type="checkbox" name="geno_datasets" ' +
	      'class="checkbox" value="' +
	      JSON.stringify(data) + '" />');
  }},].concat(common_column_definitions);

  var selected_column_definitions = [{"data": null, "render": function(data) {
      return (
	  '<input type="checkbox" name="selected_datasets" ' +
	      'class="checkbox" value="' +
	      data.name + ':' + data.dataset +
	      '" />');
  }},].concat(common_column_definitions);

  var table_settings = {
      "scrollY": "40vh",
      "language": {
	  "emptyTable": "No datasets to display!",
	  "info": "Showing _START_ to _END_ of _TOTAL_ entries",
	  "infoEmpty": "No entries to show",
	  "loadingRecords": "Loading entries ..."
      }
  };

  function render_table(table_id, data_attr_name) {
      table_data = $("#" + table_id).attr(data_attr_name);
      create_table(tableId="tbl-genotypes",
		   tableData=JSON.parse(table_data),
		   columnDefs=search_column_definitions,
		  customSettings=table_settings);
  }

  $(document).ready(function() {
      $("#frm-search-traits").submit(function(event) {
	  event.preventDefault();
	  return false;
      });
      /* $("#txt-query").keyup(debounced_search()); */
      render_table("tbl-genotypes", "data-datasets");
      render_table("tbl-link-genotypes", "data-selected-datasets")
  });
</script>
{%endblock%}
