{%extends "base.html"%}
{%from "oauth2/profile_nav.html" import profile_nav%}
{%from "oauth2/display_error.html" import display_error%}

{%block title%}Link Data: Phenotype{%endblock%}

{%block css%}
<link rel="stylesheet" type="text/css"
      href="/css/DataTables/css/jquery.dataTables.css" />
<link rel="stylesheet" type="text/css"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/static/new/css/show_trait.css" />
{%endblock%}

{%block content%}

<div class="container" style="min-width: 1250px;">
  {{profile_nav("data", logged_in, user_privileges)}}

  {{flash_me()}}

  <div class="row">
    <noscript>This page needs javascript to work correctly</noscript>
  </div>

  <div class="row">
    <form id="frm-link-phenotypes"
	  action="{{url_for('oauth2.data.link_phenotype_data')}}"
	  method="POST">
      <input type="hidden" value="{{species_name}}" name="species_name" />
      <legend style="text-transform: capitalize;">
	{{dataset_type}}: Link Traits to Group
      </legend>

      <div class="form-group">
	<label for="select-group">Group</label>
	<select id="select-group" name="group_id" required="required"
		class="form-control">
	  <option value="">Select group</option>
	  {%for group in groups%}
	  <option value="{{group.group_id}}">{{group.group_name}}</option>
	  {%endfor%}
	</select>
      </div>

      <table id="tbl-link-phenotypes"
	     class="table-hover table-striped cell-border dataTable no-footer"
	     data-traits="[]">
	<thead>
	<tr>
	  <th>Link</th>
	  <th>Name</th>
	  <th>Group</th>
	  <th>Dataset</th>
	  <th>Dataset Fullname</th>
	  <th>Description</th>
	  <th>Authors</th>
	  <th>Year</th>
	  <th>Location</th>
	  <th>LRS</th>
	  <th>Additive</th>
	</tr>
      </thead>
      <tbody>
	{%for trait in selected%}
	<tr>
	  <th>
	    <input type="checkbox" class="checkbox checkbox-search"
		   name="search_traits" value="{{trait | tojson}}" />
	  </th>
	  <th>{{trait.name}}</th>
	  <th>{{trait.group}}</th>
	  <th>{{trait.dataset}}</th>
	  <th>{{trait.dataset_fullname}}</th>
	  <th>{{trait.description}}</th>
	  <th>{{trait.authors | join(" ")}}</th>
	  <th>
	    <a href="{{trait.pubmed_linj}}" title="Pubmed link for trait">
	      {{trait.year}}
	    </a>
	  </th>
	  <th>CHR{{trait.geno_chr}}@{{trait.geno_mb}}</th>
	  <th>{{trait.lrs}}</th>
	  <th>{{trait.additive}}</th>
	</tr>
	{%else%}
	<tr>
	  <td colspan="100%" align="center" style="text-align: center;">
	    <br/><b><font size="4">
		<span class="glyphicon glyphicon-info-sign text-info"></span>
		&nbsp;
		There are no phenotype traits to link to the user group.
	    </font></b><br />
	  </td>
	</tr>
	{%endfor%}
      </tbody>
      </table>

      <div class="form-group text-center">
	<input type="submit" value="Link Selected"
	       class="btn btn-primary"
	       style="border-top: 0.3em;"
	       {%if groups | length <= 0 or traits | length <= 0%}
	       disabled="disabled"
	       {%endif%} />
      </div>
    </form>
  </div>

  <div class="row">
    <span id="search-messages" class="alert-danger" style="display:none"></span>
    <form id="frm-search-traits"
	  action="#"
	  method="POST"
	  data-gn-server-url="{{gn_server_url}}">
      {%if dataset_type == "mrna"%}
      <legend>mRNA: Search</legend>
      {%else%}
      <legend style="text-transform: capitalize;">
	{{dataset_type}}: Search
      </legend>
      {%endif%}
      <input type="hidden" value="{{species_name}}" name="species"
	     id="txt-species-name" />
      <input type="hidden" value="{{dataset_type}}" name="dataset_type"
	     id="txt-dataset-type"  />
      <input type="hidden" value="{{per_page}}" name="per_page"
	     id="txt-per-page"  />

      <div class="form-group">
	<label for="txt-query">Search</label>
	<div class="input-group">
	  <span class="input-group-addon">species:{{species_name}} AND </span>
	  <input type="text" id="txt-query" name="query" class="form-control"
		 value="{{query}}"/>
	</div>
      </div>
    </form>
  </div>

  <div class="row">
    <table id="tbl-phenotypes"
	   class="table-hover table-striped cell-border dataTable no-footer"
	   data-traits="{{traits | tojson}}"
	   data-initial-job-id="{{search_results.job_id}}"
	   data-initial-command-id="{{search_results.command_id}}">
      <thead>
	<tr>
	  <th>Select</th>
	  <th>Name</th>
	  <th>Group</th>
	  <th>Dataset</th>
	  <th>Dataset Fullname</th>
	  <th>Description</th>
	  <th>Authors</th>
	  <th>Year</th>
	  <th>Location</th>
	  <th>LRS</th>
	  <th>Additive</th>
	</tr>
      </thead>
      <tbody>
	{%for trait in traits%}
	<tr>
	  <th>
	    <input type="checkbox" class="checkbox checkbox-search"
		   name="search_traits" value="{{trait | tojson}}" />
	  </th>
	  <th>{{trait.name}}</th>
	  <th>{{trait.group}}</th>
	  <th>{{trait.dataset}}</th>
	  <th>{{trait.dataset_fullname}}</th>
	  <th>{{trait.description}}</th>
	  <th>{{trait.authors | join(" ")}}</th>
	  <th>
	    <a href="{{trait.pubmed_linj}}" title="Pubmed link for trait">
	      {{trait.year}}
	    </a>
	  </th>
	  <th>CHR{{trait.geno_chr}}@{{trait.geno_mb}}</th>
	  <th>{{trait.lrs}}</th>
	  <th>{{trait.additive}}</th>
	</tr>
	{%else%}
	<tr>
	  <td colspan="100%" align="center" style="text-align: center;">
	    <br/><b><font size="4">
		<span class="glyphicon glyphicon-info-sign text-info"></span>
		&nbsp;
		There are no phenotype traits to select from.
	    </font></b><br />
	  </td>
	</tr>
	{%endfor%}
      </tbody>
    </table>
  </div>

</div>

{%endblock%}

{%block js%}
<script language="javascript" type="text/javascript"
	src="/static/new/javascript/auth/search.js"></script>
<script language="javascript" type="text/javascript"
	src="/static/new/javascript/auth/search_phenotypes.js"></script>
{%endblock%}
