{%extends "base.html"%}
{%from "oauth2/profile_nav.html" import profile_nav%}
{%block title%}View User{%endblock%}
{%block content%}
<div class="container" style="min-width: 1250px;">
  {{profile_nav("group")}}
  <h3>User's Group</h3>

  {{flash_me()}}

  <div class="container-fluid">
    <div class="row">
      <dl>

	<dt>Name</dt> <dd>{{group.group_name}}</dd>

	{%for key,value in group.group_metadata.items()%}
	<dt>{{key.split("_") | map('capitalize') | join(" ")}}</dt>
	<dd>{{value}}</dd>
	{%endfor%}
      </dl>
    </div>

    <div class="row">
      <form action="{{url_for('oauth2.group.edit_group', group_id=group.group_id)}}"
	    method="POST" style="display: inline">
	<input type="hidden" name="group_id" value="{{group.group_id}}">
	<input type="submit" class="btn btn-info" value="Edit" />
      </form>

      <form action="{{url_for('oauth2.group.edit_group', group_id=group.group_id)}}"
	    method="POST" style="display: inline">
	<input type="hidden" name="group_id" value="{{group.group_id}}">
	<input type="submit" class="btn btn-danger" value="Delete" />
      </form>
    </div>

    {%if group%}
    <div class="row" style="padding-top: 0.5em;">
      <a href="{{url_for('oauth2.group.list_group_users', group_id=group.group_id)}}"
	 class="btn btn-info">Group Users</a>
    </div>
    {%endif%}

  </div>

</div>
{%endblock%}
