{%extends "base.html"%}
{%from "oauth2/profile_nav.html" import profile_nav%}
{%block title%}View User{%endblock%}
{%block content%}
<div class="container" style="min-width: 1250px;">
  {{profile_nav("dashboard")}}
  <h3>User's Group</h3>

  {{flash_me()}}

  <div class="container-fluid">
    <div class="row">
      <dl>

	<dt>Name</dt> <dd>{{group.group_name}}</dd>

	{%for key,value in group.group_metadata.items()%}
	<dt>{{key.split("_") | map('capitalize') | join(" ")}}</dt>
	<dd>{{value}}</dd>
	{%endfor%}
      </dl>
    </div>

  </div>

</div>
{%endblock%}
