{%extends "base.html"%}

{%block title%}Partial Correlations:{%endblock%}

{%block css%}
<link rel="stylesheet" type="text/css"
      href="{{url_for('css', filename='DataTables/css/jquery.dataTables.css')}}" />
<link rel="stylesheet" type="text/css"
      href="{{url_for('js', filename='DataTablesExtensions/buttonStyles/css/buttons.dataTables.min.css')}}">
<link rel="stylesheet" type="text/css" href="/static/new/css/show_trait.css" />
<link rel="stylesheet" type="text/css" href="/static/new/css/trait_list.css" />
<link rel="stylesheet" type="text/css"
      href="/static/new/css/partial_correlations.css" />
{%endblock%}

{%block content%}
<div class="container">
  <form id="pcorrs-form"
	method="POST"
	action="{{url_for('partial_correlations')}}">
    {%with messages = get_flashed_messages(with_categories=true)%}
    {%if messages:%}
    <ul class=flashes>
      {%for category, message in messages:%}
      <li class="{{category}}">{{message}}</li>
      {%endfor%}
    </ul>
    {%endif%}
    {%endwith%}

    <input type="hidden" value="{{trait_list_str}}" name="trait_list">
    <br />
    <table id="pcorrs_traits_table"
	   class="table-hover table-striped cell-border dataTable"
	   role="grid">
      <thead>
	<tr>
	  <th>Primary (X)</th>
	  <th>Controls (Z)</th>
	  <th>Targets (Y)</th>
	  <th>Ignored</th>
	  <th>Dataset</th>
	  <th>Trait ID</th>
	  <th>Symbol</th>
	  <th>Description</th>
	  <th>Location</th>
	  <th>Mean</th>
	  <th>Max LRS</th>
	  <th>Max LRS Location Chr and Mb</th>
	</tr>
      </thead>

      <tbody>
	{%for trait in traits:%}
	<tr>
	  <td>
	    <input type="radio" name="trait_{{trait['trait_name']}}"
		   id="trait_{{trait['trait_name']}}"
		   value="primary_{{trait['trait_name']}}" />
	  </td>
	  <td>
	    <input type="radio" name="trait_{{trait['trait_name']}}"
		   id="trait_{{trait['trait_name']}}"
		   value="controls_{{trait['trait_name']}}" />
	  </td>
	  <td>
	    <input type="radio" name="trait_{{trait['trait_name']}}"
		   id="trait_{{trait['trait_name']}}"
		   value="targets_{{trait['trait_name']}}" checked="checked" />
	  </td>
	  <td>
	    <input type="radio" name="trait_{{trait['trait_name']}}"
		   id="trait_{{trait['trait_name']}}"
		   value="ignored_{{trait['trait_name']}}" />
	  </td>
	  <td>{{trait.get("dataset", "_")}}
	  <td>{{trait.get("trait_name", "_")}}</td>
	  <td>{{trait.get("symbol", "_")}}</td>
	  <td>{{trait.get("description", "_")}}</td>
	  <td>{{trait.get("location", "_")}}</td>
	  <td>{{trait.get("mean", "_")}}</td>
	  <td>{{trait.get("lrs", "_")}}</td>
	  <td>{{trait.get("lrs_location", "_")}}</td>
	</tr>
	{%endfor%}
      </tbody>
    </table>

    <br />
    <p>Compute partial correlations for target selected above:</p>
    <button type="submit" class="btn btn-primary" name="submit"
	    value="with_target_pearsons">
      Pearson's r
    </button>
    <button type="submit" class="btn btn-primary" name="submit"
	    value="with_target_spearmans">
      Spearman's rho
    </button>

    <hr />

    <p style="color: red; font-weight: bold;">OR</p>
    <p>Compute partial correlation for each trait in the database below:</p>

    <div class="form-group">
      <label for="corr-method-input" class="form-label">Compute</label>
      <select id="corr-method-input" required="required" name="method"
	      class="form-control">
	<option value="Genetic Correlation, Pearson's r">
	  Genetic Correlation, Pearson's r</option>
	<option value="Genetic Correlation, Spearman's rho">
	  Genetic Correlation, Spearman's rho</option>
	<option value="SGO Literature Correlation">
	  SGO Literature Correlation</option>
	<option value="Tissue Correlation, Pearson's r">
	  Tissue Correlation, Pearson's r</option>
	<option value="Tissue Correlation, Spearman's rho">
	  Tissue Correlation, Spearman's rho</option>
      </select>
    </div>

    <div class="form-group">
      <label for="target-db-input" class="form-label">Choose Database</label>
      <select id="target-db-input" required="required" name="target_db"
	      class="form-control">
	{%if target_dbs:%}
	{%for item in target_dbs:%}
	{%if "description" in item.keys():%}
	<option value="{{item['value']}}">{{item['description']}}</option>
	{%else:%}
	{%for group, opts in item.items()%}
	{%if opts | length > 0:%}
	<optgroup label="{{group}} ------">
	  {%for item2 in opts:%}
	  <option value="{{item2['value']}}">{{item2['description']}}</option>
	  {%endfor%}
	</optgroup>
	{%endif%}
	{%endfor%}
	{%endif%}
	{%endfor%}
	{%endif%}
      </select>
    </div>

    <div class="form-group">
      <label for="criteria-input" class="form-label">Return</label>
      <select id="criteria-input" required="required" name="criteria" size="1"
	      class="form-control">
	<option value="100">top 100</option>
	<option value="200">top 200</option>
	<option value="500" selected="selected">top 500</option>
	<option value="1000">top 1000</option>
	<option value="2000">top 2000</option>
	<option value="5000">top 5000</option>
	<option value="10000">top 10000</option>
	<option value="15000">top 15000</option>
	<option value="20000">top 20000</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" name="submit"
	    value="Run Partial Correlations">
      Run Partial Correlations
    </button>
  </form>
</div>
{%endblock%}

{%block js%}
<script type="text/javascript"
	src="/static/new/javascript/partial_correlations.js"></script>
{%endblock%}
