{% extends "base.html" %}

{% block title %}Blogs {% endblock %}

{% block css %}

<style type="text/css">

	.container {
		height: 100vh;
	}
	.blog_year {
		font-weight: bold;
		opacity: 0.8;
		/*letter-spacing: 0.2em;*/
		font-size: 48px;
		padding:12px 10px;
		color:#0F75CD;
	}

	.blog_title {
		padding: 10px 15px;

	}



	.blog_title a{
		text-decoration: none;
		font-size:16px;
		color:#333;
		/*margin: 10px 15px;*/
		padding-left: 30px;
		opacity: 0.8;

		/*font-weight: bold;*/
	}
</style>

<link rel="stylesheet" type="text/css" href="/static/new/css/markdown.css" />
{% endblock %}

{% block content %}

<div id="markdown" class="container">
   <div>
   	{% for year, year_blogs in blogs.items() %}
     <div class="blog_year"><h3>{{year}}</h3></div>
     {%for blog in year_blogs%}
        <!-- <a href="#" class="blog_subtitle">{{blog['subtitle']}}</a> -->
        <div class="blog_title"><a href="{{ url_for('blogs_blueprint.display_blog',blog_title = blog.subtitle)}}">{{blog['subtitle']}}</a>
        </div>
     {% endfor %}

   	{%endfor%}
   </div>
   	

</div>

{% endblock %}