{% extends "base.html" %}
{% block title %}Comparison Bar Chart{% endblock %}
{% block css %}
     <link rel="stylesheet" type="text/css" href="{{ url_for('css', filename='d3-tip/d3-tip.css') }}" />
    <link rel="stylesheet" type="text/css" href="/static/new/css/panelutil.css" />
{% endblock %}
{% block content %} <!-- Start of body -->
    <div class="container">
        <h1>Comparison Bar Chart</h1>
        <hr style="height: 1px; background-color: #A9A9A9;">
        <div>
            <h3>
                The following is a grouped bar chart with the sample values for each selected trait. 
            </h3>
        </div>
        <div id="chart_container">
            <div id="comp_bar_chart"></div>
        </div>
    
    </div>

    <!-- End of body -->

{% endblock %}

{% block js %}  
    <script>
        js_data = {{ js_data | safe }}
    </script>

    <script language="javascript" type="text/javascript" src="{{ url_for('js', filename='d3js/d3.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('js', filename='d3-tip/d3-tip.js') }}"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/panelutil.js"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('js', filename='js_alt/underscore.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('js', filename='plotly/plotly.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/comparison_bar_chart.js"></script>

{% endblock %}