{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/new/packages/DataTables/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/static/new/css/corr_matrix.css" />
    <link rel="stylesheet" type="text/css" href="/static/new/css/panelutil.css" />
    <link rel="stylesheet" type="text/css" href="/static/new/css/d3-tip.min.css" />
{% endblock %}
{% block content %}
    
    {{ header("Correlation Matrix") }}

<div class="container">
{% if lowest_overlap < 8 %}
<div style="margin: 20px;" >Caution: This matrix of correlations contains some cells with small sample sizes of fewer than 8.</div>
{% endif %}

<table class="matrix" border="1" cellpadding="5" cellspacing="1" width="80%">
  <tbody>
    <tr>
      <td style="background-color: royalblue;" ></td>
      <td align="center" colspan="{{traits|length + 1 }}" style="font-weight: Bold; border: 1px solid #999999; padding: 3px; color: #fff; background-color: royalblue;">Spearman Rank Correlation (rho)</td>
    </tr>
    <tr>
      <td align="center" rowspan="{{traits|length + 1 }}" width="10" style="font-weight: Bold; border: 1px solid #999999; padding: 3px; color: #fff; background-color: royalblue;">P e a r s o n &nbsp;&nbsp;&nbsp; r</td>
      <td width="300"></td>
      {% for trait in traits %}
      <td align="center">
        <a href="/show_trait?trait_id={{ trait.name }}&dataset={{ trait.dataset.name }}" style="font-weight: Bold;">Trait{{ loop.index }}</a>
      </td>
      {% endfor %}
    </tr>
    {% for trait in traits %}
    <tr>
      <td>
        <a href="/show_trait?trait_id={{ trait.name }}&dataset={{ trait.dataset.name }}" style="font-weight: Bold;">Trait {{ loop.index }}: {{ trait.dataset.name }}::{{ trait.name }}</a>
        <div class="shortName" style="display:none">{% if trait.dataset.type == "ProbeSet" %}Symbol: {{ trait.symbol }}{% elif trait.dataset.type == "Publish" %}Phenotype: {{ trait.post_publication_abbreviation }}{% else %}Genotype{% endif %} </div>
        <div class="verboseName" style="display: none;">
        {% if trait.dataset.type == "ProbeSet" %}
          <div>{{ trait.symbol }} on Chr {{ trait.chr }} @ {{ trait.mb }} Mb</div><div>{{ trait.description }}</div><div>{{ trait.probe_target_description }}</div>
        {% elif trait.dataset.type == "Publish" %}
          <div>PubMed {{ trait.pubmed_id }}: RecordID/{{ trait.name }}</div><div>Phenotype: {{ trait.description_display }}</div>
        {% else %}
          <div>Locus {{ trait.name }}</div><div>Chr {{ trait.chr }} @ {{ trait.mb }} Mb</div>
        {% endif %}
        </div>
      </td>
      {% for result in corr_results[loop.index-1] %}
      {% if result[0].name == trait.name %}
      <td nowrap="ON" align="center" bgcolor="#cccccc" style="line-height: 1.1;"><a href="/show_trait?trait_id={{ trait.name }}&dataset={{ trait.dataset.name }}"><font style="font-size: 12px; color: #000000;" ><em>n</em><br>{{ result[2] }}</font></a></td>
      {% else %}
      <td nowrap="ON" align="middle" class="corr_cell" style="line-height: 1.1;"><a href="/corr_scatter_plot?dataset_1={{ trait.dataset.name }}&dataset_2={{ result[0].dataset.name }}&trait_1={{ trait.name }}&trait_2={{ result[0].name }}"><font style="font-size: 12px; color: #000000;" ><span class="corr_value">{{ '%0.3f' % result[1] }}</span><br>{{ result[2] }}</font></a></td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<button class="btn btn-default" id="short_labels">Short Labels</button>
<button class="btn btn-default" id="long_labels">Long Labels</button>
{% if pca_works == "True" %}
<br>
<br>
<h2>Factor Loadings Plot</h2>
<div id="loadings_plot" style="margin-top: 20px; margin-bottom: 20px; width: 980px; border-style: solid; border-width: 1px;"></div>
<h2>Factor Loadings Table</h2>
<table class="table table-hover table-striped" border="1" style="margin-top: 20px; margin-bottom: 20px;" width="30%">
  <thead>
    <tr>
      <th></th>
      <th style="text-align: right;" >Factor 1</th>
      <th style="text-align: right;" >Factor 2</th>
      {% if trait_list|length > 2 %}<th style="text-align: right;">Factor 3</th>{% endif %}
    </tr>
  </thead>
  <tbody>
    {% for row in loadings_array %}
    {% set row_counter = loop.index-1 %}
    <tr>
      <td>
        <a href="{{ url_for('show_trait_page', trait_id = traits[loop.index-1].name, dataset = traits[loop.index-1].dataset.name) }}">
          {{ traits[loop.index-1].name }}
        </a>
      </td>
      {% for column in row %}
      <td><span style="float: right;">{{ '%0.3f' % loadings_array[row_counter][loop.index-1]|float }}</span></td>
      {% endfor %}
    </tr>
    {% endfor %}
    
  </tbody>
</table>
</div>
{% endif %}
{% endblock %}

{% block js %}

    <script>
        js_data = {{ js_data | safe }}
        loadings = {{ loadings_array | safe }}
    </script>

    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="/static/new/js_external/d3-tip.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/static/new/javascript/panelutil.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/js_external/chroma.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/loadings_plot.js"></script>
    <script type="text/javascript" src="/static/new/javascript/create_corr_matrix.js"></script>

{% endblock %}
