{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/new/packages/DataTables/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/static/new/packages/DataTables/extensions/buttons.bootstrap.css" />
{% endblock %}
{% block content %}
    <div class="container" style="min-width: 1250px;">
        <div class="page-header">
            <h1>Correlation Table</h1>
            <h2>Trait: {{ this_trait.name }}

            <hr style="height: 1px; background-color: #A9A9A9;">
        </div>

        <p>Values of record {{ this_trait.name }} in the <a href="http://genenetwork.org/webqtl/main.py?FormID=sharinginfo&{% if dataset.accession_id != 'None' %}GN_AccessionId={{ dataset.accession_id }}{% else %}InfoPageName={{ dataset.name }}{% endif %}">{{ dataset.fullname }}</a>
        dataset were compared to all records in the <a href="http://genenetwork.org/webqtl/main.py?FormID=sharinginfo&{% if target_dataset.accession_id != 'None' %}GN_AccessionId={{ target_dataset.accession_id }}{% else %}InfoPageName={{ target_dataset.name }}{% endif %}">{{ target_dataset.fullname }}</a>
        dataset. The top {{ return_number }} correlations ranked by the {{ formatted_corr_type }} are displayed.
        You can resort this list by clicking the headers. Select the Record ID to open the trait data
        and analysis page.
        </p>    

        <div>
          <form id="correlation_form" target="_blank" action="/corr_matrix" method="post">
            <input type="hidden" name="tool_used" value="" />
            <input type="hidden" name="form_url" value="" />
            <input type="hidden" name="trait_list" id="trait_list" value= "
            {% for this_trait in trait_list %}
                {{ this_trait.name }}:{{ this_trait.dataset }},
            {% endfor %}" >


                <button id="corr_matrix" class="btn btn-primary submit_special" data-url="/corr_matrix" title="Correlation Matrix" >
                    Correlation Matrix
                </button>


                <button id="network_graph" class="btn btn-primary submit_special" data-url="/network_graph" title="Network Graph" >
                    Network Graph
                </button>


                <button id="wgcna_setup" class="btn btn-primary submit_special" data-url="/wgcna_setup" title="WGCNA Analysis" >
                    WGCNA Analysis
                </button>


                <button id="ctl_setup" class="btn btn-primary submit_special" data-url="/ctl_setup" title="CTL Analysis" >
                    CTL Analysis
                </button>


                <button id="heatmap" class="btn btn-primary submit_special" data-url="/heatmap" title="Heatmap" >
                    Heatmap
                </button>

                <button id="comp_bar_chart" class="btn btn-primary submit_special" data-url="/comparison_bar_chart" title="Comparison Bar Chart" >
                    Comparison Bar Chart
                </button>

                <button id="send_to_webgestalt" class="btn btn-primary submit_special" data-url="/webgestalt_page" title="WebGestalt" >
                    WebGestalt
                </button>

                <button id="send_to_geneweaver" class="btn btn-primary submit_special" data-url="/geneweaver_page" title="GeneWeaver" >
                    GeneWeaver
                </button>

                <button id="send_to_bnw" class="btn btn-primary submit_special" data-url="/bnw_page" title="Bayesian Network" >
                    BNW
                </button>
          </form>
        </div>
        <br />
        <div>
            <button class="btn btn-default" id="select_all"><span class="glyphicon glyphicon-ok"></span> Select All</button>
            <button class="btn btn-default" id="deselect_all"><span class="glyphicon glyphicon-remove"></span> Deselect All</button>
            <button class="btn btn-default" id="invert"><span class="glyphicon glyphicon-resize-vertical"></span> Invert</button>
            <button class="btn btn-default" id="add" disabled><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
            <button id="redraw" class="btn btn-default">Reset Columns</button>
            <input type="text" id="searchbox" class="form-control" style="width: 200px; display: inline;" placeholder="Search This Table For ...">
            <input type="text" id="select_top" class="form-control" style="width: 200px; display: inline;" placeholder="Select Top ...">
            <br />
            <br />
            <button id="more_options" class="btn btn-primary">More Options...</button>
            <br />
            <br />
            <div id="filter_options" style="display: none;">
            <span style="border: 1px dashed #999999; padding: 8px; background-color: #ddf; font-size: 12px;">
                <button id="select_traits" class="btn btn-primary" style="font-size: 12px; padding: 2px 3px;">Select Traits</button> with r >
                <input type="text" name="r_greater_select" value="-1.0" size="6" maxlength="10">
                <select id="r_and_or" size="1">
                    <option value="and" selected>AND</option>
                    <option value="or">OR</option>
                </select>
                r <
                <input type="text" name="r_less_select" value="1.0" size="6" maxlength="10">, with mean >
                <input type="text" name="mean_greater_select" value="0" size="6" maxlength="10">
                <select id="mean_and_or" size="1">
                    <option value="and" selected>AND</option>
                    <option value="or">OR</option>
                </select>
                mean <
                <input type="text" name="mean_less_select" value="100" size="6" maxlength="10">
            </span>
            <br />
            <br />
            </div>
        </div>
        <div style="width: {% if target_dataset.type == "ProbeSet" %}1600px{% elif target_dataset.type == "Publish" %}1400px{% else %}800px{% endif %};">
            <table id="trait_table" class="display dataTable nowrap" style="font-size: 12px; float: left;">
                <thead>
                    <tr>
                        <th></th>
                    {% for header in header_fields %}
                        <th>{{header}}</th>
                    {% endfor %}
                    </tr>
                </thead>

                <tbody>
                {% for trait in correlation_results %}
                    <tr>
                        <td><INPUT TYPE="checkbox" NAME="searchResult" class="checkbox trait_checkbox" style="padding-right: 0px;" VALUE="{{ data_hmac('{}:{}'.format(trait.name, trait.dataset.name)) }}"></td>
                        <td style="padding-left: 8px; padding-right: 0px; padding-top: 4px; align: center;">{{ loop.index }}</td>
                        <td>
                            <a href="{{ url_for('show_trait_page',
                                    trait_id = trait.name,
                                    dataset = trait.dataset.name
                                    )}}">
                                {{ trait.name }}
                            </a>
                        </td>
                      {% if target_dataset.type == 'ProbeSet' %}
                        <td>{{ trait.symbol }}</td>
                        <td>{{ trait.description_display }}</TD>
                        <td style="white-space: nowrap;">{{ trait.location_repr }}</td>
                        <td align="right">{{ '%0.3f' % trait.mean|float }}</td>
                        <td align="right"><a target="_blank" href="corr_scatter_plot?dataset_1={{dataset.name}}&dataset_2={{trait.dataset.name}}&trait_1={{this_trait.name}}&trait_2={{trait.name}}">{{'%0.3f'|format(trait.sample_r)}}</a></td>
                        <td align="right">{{ trait.num_overlap }}</td>
                        <td align="right">{{'%0.3e'|format(trait.sample_p)}}</td>
                        {% if trait.lit_corr == "" or trait.lit_corr == 0.000 %}
                        <td align="right">--</td>
                        {% else %}
                        <td align="right">{{'%0.3f'|format(trait.lit_corr)}}</td>
                        {% endif %}
                        {% if trait.tissue_corr == "" or trait.tissue_corr == 0.000 %}
                        <td align="right">--</td>
                        <td align="right">--</td>
                        {% else %}
                        <td align="right">{{'%0.3f'|format(trait.tissue_corr)}}</td>
                        <td align="right">{{'%0.3e'|format(trait.tissue_pvalue)}}</td>
                        {% endif %}
                        <td align="right">{% if trait.LRS_score_repr != "N/A" %}{{ '%0.1f' % trait.LRS_score_repr|float }}{% else %}N/A{% endif %}</td>
                        <td align="right">{{ trait.LRS_location_repr }}</td>
                        <td align="right">{% if trait.additive != "" %}{{ '%0.3f' % trait.additive|float }}{% else %}N/A{% endif %}</td>
                      {% elif target_dataset.type == "Publish" %}
                        <td>{{ trait.description_display }}</td>
                        <td>{{ trait.authors }}</td>
                        <td>
                            <a href="{{ trait.pubmed_link }}">
                                {{ trait.pubmed_text }}
                            </a>
                        </td>
                        <td align="right"><a target="_blank" href="corr_scatter_plot?dataset_1={{dataset.name}}&dataset_2={{trait.dataset.name}}&trait_1={{this_trait.name}}&trait_2={{trait.name}}">{{'%0.3f'|format(trait.sample_r)}}</a></td>
                        <td align="right">{{ trait.num_overlap }}</td>
                        <td align="right">{{'%0.3e'|format(trait.sample_p)}}</td>
                        <td align="right">{{ trait.LRS_score_repr }}</td>
                        <td align="right">{{ trait.LRS_location_repr }}</td>
                        <td align="right">{% if trait.additive != "" %}{{ '%0.3f' % trait.additive|float }}{% else %}N/A{% endif %}</td>
                      {% elif target_dataset.type == "Geno" %}
                        <td align="right">{{ trait.location_repr }}</TD>
                        <td align="right"><a target="_blank" href="corr_scatter_plot?dataset_1={{dataset.name}}&dataset_2={{trait.dataset.name}}&trait_1={{this_trait.name}}&trait_2={{trait.name}}">{{'%0.3f'|format(trait.sample_r)}}</a></td>
                        <td align="right">{{ trait.num_overlap }}</td>
                        <td align="right">{{'%0.3e'|format(trait.sample_p)}}</td>
                      {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/new/js_external/md5.min.js"></script>
    <script type="text/javascript" src="/static/new/javascript/search_results.js"></script>

    <script language="javascript" type="text/javascript" src="/static/new/js_external/jszip.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/underscore/underscore-min.js"></script>

    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/jquery.dataTables.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.0/js/dataTables.buttons.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.0/js/buttons.html5.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.0/js/buttons.bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/dataTables.naturalSort.js"></script>

    <script type="text/javascript" charset="utf-8">
        var table_json = {{ json_results | safe }}
    </script>

    <script type="text/javascript" charset="utf-8">

        $.fn.dataTable.ext.order['dom-innertext'] = function (settings, col) {
          return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
            return Math.abs(parseFloat($('a', td).text()));
          });
        }

        $.fn.dataTableExt.oSort['numeric-html-asc']  = function(a,b) {
            a = Math.abs(parseFloat(a));
            b = Math.abs(parseFloat(b));
            return ((a < b) ? -1 : ((a > b) ?  1 : 0));
        };

        $.fn.dataTableExt.oSort['numeric-html-desc']  = function(a,b) {
            a = Math.abs(parseFloat(a));
            b = Math.abs(parseFloat(b));
            return ((a < b) ? 1 : ((a > b) ?  -1 : 0));
        };

        $.fn.dataTableExt.oSort['scientific-asc'] = function ( a, b ) {
                var x = parseFloat(a);
                var y = parseFloat(b);
                return ((x < y) ? -1 : ((x > y) ? 1 : 0));
        };

        $.fn.dataTableExt.oSort['scientific-desc'] = function ( a, b ) {
                var x = parseFloat(a);
                var y = parseFloat(b);
                return ((x < y) ? 1 : ((x > y) ? -1 : 0));
        };

        //$.fn.dataTableExt.afnFiltering.push(

        $.fn.dataTable.ext.search.push( function( settings, data, dataIndex ) {
                var r_column = {{ filter_cols[0] }};
                var r_greater = parseFloat($('input[name=r_greater_select]').val())
                var r_less = parseFloat($('input[name=r_less_select]').val());
                var r_and_or = $('#r_and_or').val();

                var mean_column = {{ filter_cols[1] }};
                var mean_greater = parseFloat($('input[name=mean_greater_select]').val());
                var mean_less = parseFloat($('input[name=mean_less_select]').val());
                var mean_and_or = $('#mean_and_or').val();

                if (r_and_or == "and" && mean_and_or == "and"){
                    if ( (data[r_column] >= r_greater && data[r_column] <= r_less) && {% if filter_cols[1] != 0 %}(data[mean_column] > mean_greater && data[mean_column] < mean_less){% else %} true{% endif %} ){
                        return true
                    }
                    else {
                        return false
                    }
                } else if (r_and_or == "and" && mean_and_or == "or"){
                    if ( (data[r_column] >= r_greater && data[r_column] <= r_less) && {% if filter_cols[1] != 0 %}(data[mean_column] >= mean_greater || data[mean_column] <= mean_less){% else %} true{% endif %} ){
                        return true
                    } else {
                        return false
                    }
                } else if (r_and_or == "or" && mean_and_or == "and") {
                    if ( (data[r_column] >= r_greater || data[r_column] <= r_less) && {% if filter_cols[1] != 0 %}(data[mean_column] >= mean_greater && data[mean_column] <= mean_less){% else %} true{% endif %} ){
                        return true
                    } else {
                        return false
                    }
                } else {
                    if ( (data[r_column] >= r_greater || data[r_column] <= r_less) && {% if filter_cols[1] != 0 %}(data[mean_column] >= mean_greater || data[mean_column] <= mean_less){% else %} true{% endif %} ){
                        return true
                    } else {
                        return false
                    }
                }
                return true
        });

        $(document).ready( function () {

            $('#trait_table tr').click(function(event) {
                if (event.target.type !== 'checkbox') {
                    $(':checkbox', this).trigger('click');
                }
            });

            function change_buttons() {
                buttons = ["#add", "#remove"];
                num_checked = $('.trait_checkbox:checked').length;
                if (num_checked === 0) {
                    for (_i = 0, _len = buttons.length; _i < _len; _i++) {
                        button = buttons[_i];
                        $(button).prop("disabled", true);
                    }
                } else {
                    for (_j = 0, _len2 = buttons.length; _j < _len2; _j++) {
                        button = buttons[_j];
                        $(button).prop("disabled", false);
                    }
                }
                         //});
                if ($(this).is(":checked")) {
                    if (!$(this).closest('tr').hasClass('selected')) {
                        $(this).closest('tr').addClass('selected')
                    }
                }
                else {
                    if ($(this).closest('tr').hasClass('selected')) {
                        $(this).closest('tr').removeClass('selected')
                    }
                }
            }

            console.time("Creating table");

            {% if target_dataset.type == "ProbeSet" %}
            table_conf = {
                "drawCallback": function( settings ) {
                     $('#trait_table tr').click(function(event) {
                         if (event.target.type !== 'checkbox') {
                             $(':checkbox', this).trigger('click');
                         }
                     });
                     $('.trait_checkbox:checkbox').on("change", change_buttons);
                },
                "buttons": [
                    {
                       extend: 'csvHtml5',
                       text: 'Download CSV',
                       title: 'correlation_results',
                       fieldBoundary: '"',
                       exportOptions: {
                           columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
                       }
                    }
                ],
                "columnDefs": [ {
                    "targets": 0,
                    "orderable": false
                } ],
                "columns": [
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural", "width": "15%" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "orderDataType": "dom-innertext", 'orderSequence': [ "desc", "asc"] },
                    { "type": "natural" },
                    { "type": "scientific" },
                    { "type": "numeric-html", 'orderSequence': [ "desc", "asc"] },
                    { "type": "numeric-html", 'orderSequence': [ "desc", "asc"] },
                    { "type": "scientific" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural" }
                ],
                "createdRow": function ( row, data, index ) {
                    $('td', row).eq(4).attr('title', $('td', row).eq(4).text());
                    if ($('td', row).eq(4).text().length > 40) {
                        $('td', row).eq(4).text($('td', row).eq(4).text().substring(0, 40));
                        $('td', row).eq(4).text($('td', row).eq(4).text() + '...')
                    }
                },
                "order": [[9, "asc" ]],
                "sDom": "tir",
                "iDisplayLength": -1,
                "autoWidth": false,
                "deferRender": true,
                "bSortClasses": false,
                "paging": false,
                "orderClasses": true
            }

            {% elif target_dataset.type == "Publish" %}
            table_conf =  {
                "paging": false,
                "buttons": [
                    {
                       extend: 'csvHtml5',
                       text: 'Download CSV',
                       title: 'correlation_results',
                       fieldBoundary: '"',
                       exportOptions: {
                           columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                       }
                    }
                ],
                "columnDefs": [ 
                    { "targets": 0, "orderable": false }
                ],  
                "columns": [
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural", "width": "20%" },
                    { "type": "natural", "width": "12%" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "orderDataType": "dom-innertext", 'orderSequence': [ "desc", "asc"] },
                    { "type": "scientific" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural" }
                ],
                "createdRow": function ( row, data, index ) {
                    $('td', row).eq(3).attr('title', $('td', row).eq(3).text());
                    if ($('td', row).eq(3).text().length > 50) {
                        $('td', row).eq(3).text($('td', row).eq(3).text().substring(0, 50));
                        $('td', row).eq(3).text($('td', row).eq(3).text() + '...')
                    }
                    $('td', row).eq(4).attr('title', $('td', row).eq(4).text());
                    if ($('td', row).eq(4).text().length > 40) {
                        $('td', row).eq(4).text($('td', row).eq(4).text().substring(0, 40));
                        $('td', row).eq(4).text($('td', row).eq(4).text() + '...')
                    }
                },
                "order": [[8, "asc" ]],
                "sDom": "tir",
                "autoWidth": false,
                "bDeferRender": true
            }
            {% elif target_dataset.type == "Geno" %}
            table_conf = {
                "paging": false,
                "buttons": [
                    {
                       extend: 'csvHtml5',
                       text: 'Download CSV',
                       title: 'correlation_results',
                       fieldBoundary: '"',
                       exportOptions: {
                           columns: [1, 2, 3, 4, 5, 6]
                       }
                    }
                ],
                "columnDefs": [ 
                    { "targets": 0, "orderable": false }
                ],  
                "columns": [
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "orderDataType": "dom-innertext", 'orderSequence': [ "desc", "asc"] },
                    { "type": "natural" },
                    { "type": "scientific" }
                ],
                "order": [[6, "asc" ]],
                "sDom": "Btir",
                "autoWidth": false,
                "bDeferRender": true,
                "scrollY": "800px",
                "scrollCollapse": false
            }
            {% endif %}

            var the_table = $('#trait_table').DataTable(table_conf);

            console.timeEnd("Creating table");

            submit_special = function(url) {
                $("#correlation_form").attr("action", url);
                return $("#correlation_form").submit();
            };

            $("#delete").on("click", function() {
                url = $(this).data("url")
                return submit_special(url)
            });

            $("#more_options").click(function() {
                $("div#filter_options").toggle();
            });

            $("#select_traits").click(function() {
                console.log("redrawing")
                the_table.draw();
            });
        });
    </script>
{% endblock %}
