{%extends "base.html"%}
{%block title%}Correlation Results{%endblock%}

{%block css%}
<link rel="stylesheet" type="text/css" href="{{ url_for('toplevel.main_views.css', filename='DataTables/css/jquery.dataTables.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('toplevel.main_views.js', filename='DataTablesExtensions/buttonsBootstrap/css/buttons.bootstrap.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('toplevel.main_views.js', filename='DataTablesExtensions/buttonStyles/css/buttons.dataTables.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('toplevel.main_views.css', filename='fontawesome/css/all.min.css') }}"/>
<link rel="stylesheet" type="text/css" href="/static/new/css/trait_list.css" />
<link rel="stylesheet" type="text/css" href="/static/new/css/show_trait.css" />
{%endblock%}

{%block content%}
<div class="container">
  <h3 style="color: red;">{{error["error-type"]}}</h3>
  <p>{{error["error-message"]}}</p>
  <p style="background-color: black; color: green;">
    {%for line in error["stderr-output"]%}
    {{line}}<br />
    {%endfor%}
  </p>
</div>
{%endblock%}
