{% extends "base.html" %}
{% block content %}
<table id="corr_results" class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <td>Correlation</td>
        </tr>
    </thead>
    <tbody>
    {% for trait in correlation_data %}
        <tr>
            <td>{{ correlation_data[trait] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}


{% block js %}  
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/DT_bootstrap/DT_bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/TableTools/media/js/TableTools.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/underscore/underscore-min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready( function () {
            console.time("Creating table");
            $('#corr_results').dataTable( {
                //"sDom": "<<'span3'l><'span3'T><'span4'f>'row-fluid'r>t<'row-fluid'<'span6'i><'span6'p>>",
                "sDom": "lTftipr",
                "oTableTools": {
                    "aButtons": [
                        "copy",
                        "print",
                        {
                            "sExtends":    "collection",
                            "sButtonText": 'Save <span class="caret" />',
                            "aButtons":    [ "csv", "xls", "pdf" ]
                        }
                    ],
                    "sSwfPath": "/static/packages/TableTools/media/swf/copy_csv_xls_pdf.swf"
                },
                "iDisplayLength": 50,
                "bLengthChange": true,
                "bDeferRender": true,
                "bSortClasses": false
            } );
            console.timeEnd("Creating table");
        });
    </script>
{% endblock %}