{% extends "base.html" %}
{% block title %}Credit{% endblock %}
{% block content %}

<Table width= "100%" cellSpacing=0 cellPadding=5><TR>
<!-- Body Start from Here -->
<TD valign="top" height="200" width="100%">
	<P class="title"><H2>Web site design and coding</H2></P>
	 <UL>
<LI> <A HREF="mailto:rwilliams@uthsc.edu">Robert W Williams</a>
<LI>Kenneth Manly (design and QTL mapping, 1995-2007)
<LI>Jintao Wang (lead programmer, 2001–2006)
<LI><a href="http://www.nervenet.org/main/people.html">Arthur G. Centeno (IT Analyst III, 2001–present)</a>
<LI><a href="http://www.nervenet.org/main/people.html">Zachary Sloan (IT Analyst III, 2009–present)</a>
<LI><a href="http://www.nervenet.org/main/people.html">Lei Yan (systems and web services interface 2008-2018)</a>
<LI><a href="http://www.nervenet.org/main/people.html">Xusheng Wang (data analysis, 2008-2012)</a>
<LI><a href="http://www.nervenet.org/main/people.html">Xiaodong Zhou (lead programmer 2009–2011)</a>
<LI>Ning Liu (programmer 2008–2009)</LI>
<LI>Zhaohui Sun (SNP browser, programmer 2007)
<LI>Yanhua Qu (data entry, 2005-2008)
<LI>Stephen Pitts (programmer)
<LI>Hongqiang Li (lead programmer, 2007-2009)
<LI><A HREF="http://www.jax.org/news/archives/2009/chesler.html">Elissa Chesler</A> (design of QTL Heat Map, Compare Correlations, 2004-2006)
<LI>Kevitt Adler (systems, 2006-2008)
<LI>Robert Crowell (SNP Browser, 2006-2007)
<LI>David Crowell (partial correlations, 2008-2009)
<LI>Evan G. Williams (SNP and Variant Browser, data entry, 2004-2006)
<LI>Alex G Williams (QTL Maps GUI, 2003-2006)
   </UL>
 <P class="title"><H2>Published and Unpublished Phenotype Data</H2></P>
	 <UL>
  <LI><A HREF="http://www.nervenet.org/people/lulu_cv.html">Lu Lu</A>
	<LI> <A HREF="http://www.jax.org/news/archives/2009/chesler.html">Elissa J. Chesler</A>
	<LI><a href="http://www.ohsu.edu/som-BehNeuro/Faculty/Crabbe.html">John C Crabbe</a>, OHSU
	<LI><a href="http://www.ohsu.edu/som-BehNeuro/Faculty/Belknap.html">John K Belknap</a>, OHSU
	<LI>Mary-Kathleen Sullivan
  <LI>Emily English
	<LI>Byron Jones 
	<LI>Ryan McNieve 
	<LI>Nathan Copeland 
	</UL>
   <P class="title"><H2>Genotype / Genomic Data</H2></P>
	  <UL>
	 <LI> <A HREF="http://www.nervenet.org/people/lulu_cv.html">Lu Lu</A>
	 <LI><a href="http://www.nervenet.org/people/Gu_cv.html">Jing Gu</a>
	 <LI>Shuhua Qi
	 <LI>John Hogenesch
	 <LI>Timothy Wiltshire
	 <LI><a href="http://www.nervenet.org/people/Yanhua_cv.html">Yanhua Qu</a>
	  </UL>
	<P></P>
</TD>
</TR></TABLE>

{% endblock %}
