{% extends "base.html" %}
{% block title %}WCGNA analysis{% endblock %}

{% block content %} <!-- Start of body -->
<div class="container">
  <h1>CTL analysis parameters</h1>
  {{(request.form['trait_list'].split(',')|length -1)}} phenotypes as input

<form action="/ctl_results" method="post" class="form-horizontal">
	<input type="hidden" name="trait_list" id="trait_list" value= "{{request.form['trait_list']}}">

	<div class="dropdown">
		<label for="Strategy">Strategy</label>
		<div class="col-sm-10">
		<select  name="strategy" id="strategy">
			<option value="Exact">Exact</option>
			<option value="Full">Full</option>
			<option value="Pairwise">Pairwise</option>
		</select>
		</div>
	</div>

	<div class="dropdown">
		<label for="Permutations">Number of permutation (Used when strategy is Full or Pairwise)</label>
		<div class="col-sm-10">
		<select  name="nperm" id="nperm">
			<option value="100">100</option>
			<option value="1000" selected="selected">1000</option>
			<option value="10000">10000</option>
		</select>
		</div>
	</div>

	<div class="dropdown">
		<label for="Coefficient">Type of correlation coefficient</label>
		<div class="col-sm-10">
		<select  name="parametric" id="parametric">
			<option value="False">Spearman</option>
			<option value="True">Pearson</option>
		</select>
		</div>
	</div>


	<div class="dropdown">
		<label for="Significance">Significance level</label>
		<div class="col-sm-10">
		<select  name="significance" id="significance">
			<option value="0.1">0.1</option>
			<option value="0.05" selected="selected">0.05</option>
			<option value="0.001">0.001</option>
		</select>
		</div>
	</div>
  <br>
	<div class="form-group">
		<div class="col-sm-10">
			<input type="submit" class="btn btn-primary" value="Run CTL using these settings" />
		</div>
	</div>

</form>

</div>
{% endblock %}
