{% extends "base.html" %}
{% block title %}Demo Correlation Results{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('css', filename='DataTables/css/jquery.dataTables.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('js', filename='DataTablesExtensions/buttonsBootstrap/css/buttons.bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('js', filename='DataTablesExtensions/buttonStyles/css/buttons.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/new/css/trait_list.css" />
    <link rel="stylesheet" type="text/css" href="/static/new/css/show_trait.css" />
{% endblock %}
{% block content %}
    <div class="container">
      <div class="container-title">CORRELATION RESULTS</div>
    <div class="header_content">
        <h3>Trait_Name<h3>
        <h3>Rho value</h3>
         <h3>Num overlap </h3>
        <h3>P value</h3>
    </div>
    <div class="container-body">
   {% for corr_result in correlation_results %}
   {% for key,value in corr_result.items()%}
      <div class="container-content">
      <div><p>{{key}}</p></div>
      <!-- 'p_value': 5.909407416079734e-11, 'num_overlap': 67 -->
      {% if "corr_coeffient" in  value %}
      <div><p>{{value["corr_coeffient"]}}</p></div>
      {%elif "tissue_corr" in value %}
      <div><p>{{value["tissue_corr"]}}</p></div>
      {%elif "lit_corr" in value %}
      {{value["lit_corr"]}}
      {% endif %}
      {%if "tissue_number" in value %}
      <div>{{value["tissue_number"]}}</div>
      {%elif "num_overlap" in value %}
      <div><p>{{value["num_overlap"]}}</p></div>
      {% endif %}
      <div><p>{{value["p_value"]}}</p></div>



<!--       {{value["num_overlap"]}}
      {{value["p_value"]}} -->
<!--       {%for o_key,o_value in value.items()%}
     <div><p>{{o_value}}</p></div>
      {%endfor%} -->
   {% endfor %}
</div>
   {% endfor %}
</div>

    </div>

<style type="text/css">
    body{
    width: 100vw;
    height: 100vh;
     
    }
    .container {
      width: 80vw;
      margin: 0 auto;
      height: 100vh;
    }

    .container-title {
        font-weight:bold;
        width: 100%;
        padding:5px 3px;
        border-bottom: 2px solid #000;
        text-align: center;

    }

    .header_content {
        width: 100%;
        display: flex;
        justify-content: space-between;

    }

    .header_content h3 {
        width: 100%;
    }


    .container-body {
        max-height: 40vh;
        width: 100%;
    }

    .container-content {
        display: flex;
        justify-content: space-between;
        padding:3px 2px;
        /*align-items: center;*/

    }

    .container-content div{
    }


    
</style>
{% endblock %}

