{% extends "base.html" %}
{% block title %}Trait Submission{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('css', filename='DataTables/css/jquery.dataTables.css') }}" />
{% endblock %}

{% block content %}
<!-- Start of body -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="container-fluid bg-{{ category }}">
  {% for category, message in messages %}
  <div class="alert {{category}}" role="alert">{{ message }}</div>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="container">
    {% if waiting %}
    <h2>Files for approval:</h2>
    <div class="row">
        <div class="col-md-7">
            <table class="table table-hover table-striped cell-border">
                <thead>
                    <th scope="col">Resource Id</</th>
                    <th scope="col">Author</th>
                    <th scope="col">TimeStamp</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    {% for data in waiting %}
                    <tr>
                      {% set file_url = url_for('metadata_edit.show_diff', name=data.filepath.name) %}
                        <td><a href="{{ file_url }}" target="_blank">{{ data.meta.get("resource_id") }}</a></td>
                        <td>{{ data.meta.get("author")}}</td>
                        <td>{{ data.meta.get("time_stamp")}}</td>
                        {% set reject_url = url_for('metadata_edit.reject_data', resource_id=data.meta.get('resource_id'), file_name=data.filepath.name) %}
                        {% set approve_url = url_for('metadata_edit.approve_data', resource_id=data.meta.get('resource_id'), file_name=data.filepath.name) %}
                        <td>
                            <button type="button"
                                    class="btn btn-secondary btn-sm">
                                <a href="{{ reject_url }}">Reject</a>
                            </button>
                        </td>
                        <td>
                            <button type="button"
                                    class="btn btn-warning btn-sm">
                                <a href="{{ approve_url }}">Approve</a>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if approved %}
    <h2>Approved Data:</h2>
    <div class="row">
        <div class="col-md-8">
            <table class="table-responsive table-hover table-striped cell-border" id="table-approved">
                <thead>
                    <th scope="col">Resource Id</</th>
                    <th scope="col">Author</th>
                    <th scope="col">TimeStamp</th>
                </thead>
                <tbody>
                    {% for data in approved %}
                    <tr>
                        {% set file_url = url_for('metadata_edit.show_diff', name=data.filepath.name) %}
                        <td><a href="{{ file_url }}" target="_blank">{{ data.meta.get("resource_id") }}</a></td>
                        <td>{{ data.meta.get("author")}}</td>
                        <td>{{ data.meta.get("time_stamp")}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if rejected %}
    <h2>Rejected Files:</h2>
    <div class="row">
        <div class="col-md-8">
            <table class="table-responsive table-hover table-striped cell-border" id="table-rejected">
                <thead>
                    <th scope="col">Resource Id</</th>
                    <th scope="col">Author</th>
                    <th scope="col">TimeStamp</th>
                </thead>
                <tbody>
                    {% for data in rejected %}
                    <tr>
                        {% set file_url = url_for('metadata_edit.show_diff', name=data.filepath.name) %}
                        <td><a href="{{ file_url }}" target="_blank">{{ data.meta.get("resource_id") }}</a></td>
                        <td>{{ data.meta.get("author")}}</td>
                        <td>{{ data.meta.get("time_stamp")}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>
{%endblock%}

{% block js %}
<script language="javascript" type="text/javascript" src="{{ url_for('js', filename='DataTables/js/jquery.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('js', filename='DataTables/js/jquery.dataTables.min.js') }}"></script>
<script language="javascript" type="text/javascript">
 gn_server_url = "{{ gn_server_url }}";
 
 $(document).ready( function() {
     $('#table-approved').dataTable();
     $('#table-rejected').dataTable();
 });
</script>
{% endblock %}
