{% extends "base.html" %}

{% block title %}Edit: {{title}}{% endblock %}

{% block content %}
<div class="container">
    <h3>Edit: {{title}}</h3>
    <form>
        <textarea name="ckcontent" id="ckcontent">
			{{content|safe}}
        </textarea>
        <script type="text/javascript" src="/static/packages/ckeditor/ckeditor.js"></script>
        <script type="text/javascript">
            CKEDITOR.replace('ckcontent',	{
                height: '650px',
            });
        </script>
    </form>
</div>
{% endblock %}
