{% extends "base.html" %}
{% block title %}Trait Submission{% endblock %}
{% block content %}
<!-- Start of body -->
Edit Trait for Published Database
Submit Trait | Reset

<form class="form-horizontal" method="post" action="/show_temp_trait">
    <h2 class="text-center">Trait Information:</h2>
    <div class="form-group">
        <label for="pubmedId" class="col-sm-2 control-label">
            Pubmed ID:
        </label>
        <!-- Do not enter PubMed_ID if this trait has not been Published.
             If the PubMed_ID you entered is alreday stored in our
             database, all the following fields except Post Publication
             Description will be ignored.  Do not enter any non-digit
             character in this field. -->
        <div class="col-sm-10">
            <textarea id="pubmedId" class="col-sm-10 form-control" rows="1"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="prePubDesc" class="col-sm-2 control-label">Pre Publication Description:</label>
        <div class="col-sm-10">
            <textarea id="prePubDesc" class="form-control" rows="5"></textarea>
        </div>
        <!-- If the PubMed ID is entered, the Post Publication Description
             will be shown to all users. If there is no PubMed ID, and the
             Pre Publication Description is entered, only you and
             authorized users can see the Post Publication Description -->
    </div>
    <div class="form-group">
        <label for="owner" class="col-sm-2 control-label">Owner:</label>
        <div class="col-sm-10">
            <textarea id="owner" class="form-control" rows="1"></textarea>
        </div>
        <!-- Please provide detailed owner contact information including
             full name, title, institution, address, email etc -->
    </div>
    <div class="form-group">
        <label for="authors" class="col-sm-2 control-label">*Authors:</label>
        <div class="col-sm-10">
            <textarea id="authors" class="form-control" rows="2"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">*Title:</label>
        <div class="col-sm-10">
            <textarea id="title" class="col-sm-10 form-control" rows="2"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="abstract" class="col-sm-2 control-label">Abstract:</label>
        <div class="col-sm-10">
            <textarea id="abstract" class="col-sm-10 form-control" rows="6"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="journal" class="col-sm-2 control-label">Journal:</label>
        <div class="col-sm-10">
            <textarea id="journal" class="col-sm-10 form-control" rows="1"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="pages" class="col-sm-2 control-label">Pages:</label>
        <div class="col-sm-10">
            <textarea id="pages" class="col-sm-10 form-control" rows="1"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="month" class="col-sm-2 control-label">Month:</label>
        <div class="col-sm-10">
            <textarea id="month" class="col-sm-10 form-control" rows="1"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="year" class="col-sm-2 control-label">*Year:</label>
        <div class="col-sm-10">
            <textarea id="year" class="col-sm-10 form-control" rows="6"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="units" class="col-sm-2 control-label">*Units:</label>
        <div class="col-sm-10">
            <textarea id="units" class="col-sm-10 form-control" rows="1"></textarea>
        </div>
        </div>
    <!-- 
         <h2 class="text-center">Trait Data:</h2>
         Strain Name | Trait Data | SE | N Per Strain -->
</form>

{%endblock%}

{% block js %}
<script src="/static/new/javascript/dataset_select_menu_edit_trait.js"></script>
<script>
 gn_server_url = "{{ gn_server_url }}";
</script>
{% endblock %}
