{% extends "base.html" %}
{% block title %}Trait Submission{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('css', filename='DataTables/css/jquery.dataTables.css') }}" />
{% endblock %}

{% block content %}
<!-- Start of body -->
<div class="container">

    <h1>History</h1>
    {% if diff %}
    <div class="row">
	<table id="history" class="table-responsive table-hover table-striped cell-border">
            <tbody>
		<tr>
                    <th>Timestamp</th>
                    <th>Editor</th>
                    <th>Field</th>
                    <th>Diff</th>
		</tr>
		{% set ns = namespace(display_cell=True) %}

		{% for timestamp, group in diff %}
		{% set ns.display_cell = True %}
		{% for i in group %}
		<tr>
                    {% if ns.display_cell and i.timestamp == timestamp %}

                    {% set author = i.author %}
                    {% set timestamp_ = i.timestamp %}

                    {% else %}

                    {% set author = "" %}
                    {% set timestamp_ = "" %}

                    {% endif %}
                    <td>{{ timestamp_ }}</td>
		    <td>{{ author }}</td>
		    <td>{{ i.diff.field }}</td>
		    <td><pre>{{ i.diff.diff }}</pre></td>
		    {% set ns.display_cell = False %}
		</tr>
		{% endfor %}
		{% endfor %}
	    </tbody>
	</table>
    </div>

    {% endif %}

</div>
{%endblock%}

{% block js %}
<script language="javascript" type="text/javascript" src="{{ url_for('js', filename='DataTables/js/jquery.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('js', filename='DataTables/js/jquery.dataTables.min.js') }}"></script>
<script language="javascript" type="text/javascript">
 gn_server_url = "{{ gn_server_url }}";

 $(document).ready( function() {
     $('#history').dataTable();
 });
</script>
{% endblock %}
