{% extends "base.html" %}

{% block title %}Environments{% endblock %}

{% block content %}
<div class="container">
	<h3>System Properties</h3>
	<table class="table table-bordered table-striped table-hover" style="width: 400px;">
		<tbody>
			<tr><td colspan="2">Operating System</td></tr>
			<tr>
				<td style="text-align: right;">Ubuntu</td>
				<td>12.04.5 LTS 64-bit</td>
			</tr>
			<tr><td colspan="2">Database</td></tr>
			<tr>
				<td style="text-align: right;">MySQL</td>
				<td>5.5.40</td>
			</tr>
			<tr><td colspan="2">Python</td></tr>
			<tr>
				<td style="text-align: right;">Python</td>
				<td>2.7.3</td>
			</tr>
			<tr>
				<td style="text-align: right;">Flask</td>
				<td>0.9</td>
			</tr>
			<tr>
				<td style="text-align: right;">Jinja2</td>
				<td>2.6</td>
			</tr>
			<tr>
				<td style="text-align: right;">numpy</td>
				<td>1.7.0</td>
			</tr>
			<tr>
				<td style="text-align: right;">scipy</td>
				<td>0.11.0</td>
			</tr>
			<tr><td colspan="2">JavaScript / CSS</td></tr>
			<tr>
				<td style="text-align: right;">jQuery</td>
				<td>1.10.2</td>
			</tr>
			<tr>
				<td style="text-align: right;">Bootstrap</td>
				<td>2.3.1</td>
			</tr>
			<tr>
				<td style="text-align: right;">DataTables</td>
				<td>1.9.4</td>
			</tr>
			<tr>
				<td style="text-align: right;">CKEditor</td>
				<td>4.4.5</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
