{% extends "base.html" %}

{% block title %}Glossary{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/new/css/markdown.css" />
{% endblock %}

{% block content %}

 <div class="github-btn-container">
    <div class="github-btn ">
        <a href="https://github.com/genenetwork/gn-docs">
            Edit Text
            <img src="/static/images/edit.png">
        </a>
    </div>
</div>
<div id="markdown" class="container">
	
   <div  class="cls-table-style">{{ rendered_markdown|safe }} </div>
</div>

<style type="text/css">
table {
	width: 100%;
}
table, th, td {
  border: 1px solid black;

}

td,th{
	padding-top:8px;
	padding-bottom: 8px;
	text-align: center;
}

</style>
{% endblock %}
