{% extends "base.html" %}

{% block title %}Facilities{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/new/css/markdown.css" />

<style>
	 img[src="https://github.com/genenetwork/gn-docs/raw/master/general/help/octopus.jpg"] {
    width:100%;
    margin:20px 0px;
}
</style>

{% endblock %}

{% block content %}

 <div class="github-btn-container">
    <div class="github-btn">
        <a href="https://github.com/genenetwork/gn-docs/blob/master/general/help/facilities.md">
            Edit Text
            <img src="/static/images/edit.png">
        </a>
    </div>
</div>
<div id="markdown" class="container">
   {{ rendered_markdown|safe }}

</div>

{% endblock %}