{% extends "base.html" %}
{% block title %}Search Results{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/new/packages/DataTables/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/static/new/css/show_trait.css" />
{% endblock %}
{% block content %}
<!-- Start of body -->

    <div class="container" style="width: 2000px;">

        <h3>GN searched for the term(s) <b>"{{ terms }}"</b> in 754 datasets and 39,765,944 traits across 10 species<br/>
            and found <b>{{ trait_count }}</b> results that match your query.<br/>
            You can filter these results by adding key words in the fields below<br/>
            and you can also sort results on most columns.</h3>
        <p>To study a record, click on its Record ID below.<br />Check records below and click Add button to add to selection.</p>

        <div>
            <br />
            <button class="btn btn-default" id="select_all"><span class="glyphicon glyphicon-ok"></span> Select All</button>
            <button class="btn btn-default" id="deselect_all"><span class="glyphicon glyphicon-remove"></span> Deselect All</button>
            <button class="btn btn-default" id="invert"><span class="glyphicon glyphicon-resize-vertical"></span> Invert</button>
            <button class="btn btn-default" id="add" disabled ><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
            <input type="text" id="searchbox" class="form-control" style="width: 180px; display: inline;" placeholder="Search This Table For ...">
            <input type="text" id="select_top" class="form-control" style="width: 120px; display: inline;" placeholder="Select Top ...">
            <form id="export_form" method="POST" action="/export_traits_csv" style="display: inline;">
              <input type="hidden" name="database_name" id="database_name" value="None">
              <input type="hidden" name="export_data" id="export_data" value="">
              <button class="btn btn-default" id="export_traits">Download</button>
            </form>
            <br />
            <br />
            <div style="width: 100%;">
              <table id="trait_table" class="table-hover table-striped cell-border" style="float: left;">
                <tbody>
                  <td colspan="100%" align="center"><br><b><font size="15">Loading...</font></b><br></td>
                </tbody>
              </table>
            </div>
        </div>
    </div>

<!-- End of body -->

{% endblock %}

{% block js %}
    <script language="javascript" type="text/javascript" src="/static/new/js_external/md5.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/search_results.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/js_external/jszip.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/dataTables.naturalSort.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/extensions/dataTables.colReorder.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/extensions/dataTables.colResize.js"></script>

    <script type='text/javascript'>
      var the_rows = {{ trait_list|safe }};
    </script>

    <script type="text/javascript" charset="utf-8">
        $.fn.dataTable.ext.order['dom-checkbox'] = function  ( settings, col )
        {
            return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
                return $('input', td).prop('checked') ? '1' : '0';
            } );
        };

        $.fn.dataTable.ext.order['dom-inner-text'] = function  ( settings, col )
        {
            return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
                return $(td).text();
            } );
        }

        $(document).ready( function () {
            
            $('#trait_table tr').click(function(event) {
                if (event.target.type !== 'checkbox') {
                    $(':checkbox', this).trigger('click');
                }
            });

            function change_buttons() {
                buttons = ["#add", "#remove"];
                num_checked = $('.trait_checkbox:checked').length;
                if (num_checked === 0) {
                    for (_i = 0, _len = buttons.length; _i < _len; _i++) {
                        button = buttons[_i];
                        $(button).prop("disabled", true);
                    }
                } else {
                    for (_j = 0, _len2 = buttons.length; _j < _len2; _j++) {
                        button = buttons[_j];
                        $(button).prop("disabled", false);
                    }
                }
                         //});
                if ($(this).is(":checked")) {
                    if (!$(this).closest('tr').hasClass('selected')) {
                        $(this).closest('tr').addClass('selected')
                    }
                }
                else {
                    if ($(this).closest('tr').hasClass('selected')) {
                        $(this).closest('tr').removeClass('selected')
                    }
                }
            }

            console.time("Creating table");
            $('#trait_table').DataTable( {
                'drawCallback': function( settings ) {
                     $('#trait_table tr').click(function(event) {
                         if (event.target.type !== 'checkbox' && event.target.tagName.toLowerCase() !== 'a') {
                             $(':checkbox', this).trigger('click');
                         }
                     });
                     $('.trait_checkbox:checkbox').on("change", change_buttons);
                },
                'createdRow': function ( row, data, index ) {
                    $('td', row).eq(0).attr("style", "text-align: center; padding: 4px 10px 2px 10px;");
                    $('td', row).eq(1).attr("align", "right");
                    $('td', row).eq(4).attr('title', $('td', row).eq(4).text());
                    if ($('td', row).eq(4).text().length > 20) {
                        $('td', row).eq(4).text($('td', row).eq(4).text().substring(0, 20));
                        $('td', row).eq(4).text($('td', row).eq(4).text() + '...')
                    }
                    $('td', row).eq(5).attr('title', $('td', row).eq(5).text());
                    if ($('td', row).eq(5).text().length > 20) {
                        $('td', row).eq(5).text($('td', row).eq(5).text().substring(0, 20));
                        $('td', row).eq(5).text($('td', row).eq(5).text() + '...')
                    }
                    $('td', row).eq(6).attr('title', $('td', row).eq(6).text());
                    if ($('td', row).eq(6).text().length > 35) {
                        $('td', row).eq(6).text($('td', row).eq(6).text().substring(0, 35));
                        $('td', row).eq(6).text($('td', row).eq(6).text() + '...')
                    }
                    $('td', row).eq(8).attr('title', $('td', row).eq(8).text());
                    if ($('td', row).eq(8).text().length > 45) {
                        $('td', row).eq(8).text($('td', row).eq(8).text().substring(0, 45));
                        $('td', row).eq(8).text($('td', row).eq(8).text() + '...')
                    }
                    $('td', row).slice(10,14).attr("align", "right");
                },
                'data': the_rows,
                'columns': [
                    { 
                      'data': null,
                      'orderDataType': "dom-checkbox",
                      'render': function(data, type, row, meta) {
                        return '<input type="checkbox" name="searchResult" class="trait_checkbox checkbox" value="' + data.hmac + '">'
                      }
                    },
                    {
                      'title': "Index",
                      'type': "natural", 
                      'data': "index"
                    },
                    { 
                      'title': "Record",
                      'type': "natural", 
                      'data': null,
                      'orderDataType': "dom-inner-text",
                      'render': function(data, type, row, meta) {
                        return '<a href="/show_trait?trait_id=' + data.name + '&dataset=' + data.dataset + '">' + data.name + '</a>'
                      }
                    },
                    { 
                      'title': "Species",
                      'type': "natural", 
                      'data': "species"
                    },
                    { 
                      'title': "Group",
                      'type': "natural",
                      'data': "group"
                    },
                    { 
                      'title': "Tissue",
                      'type': "natural",
                      'data': "tissue"
                    },
                    { 
                      'title': "Dataset",
                      'type': "natural",
                      'data': "dataset_fullname"
                    },
                    { 
                      'title': "Symbol",
                      'type': "natural",
                      'data': "symbol"
                    },
                    { 
                      'title': "Description",
                      'type': "natural",
                      'data': null,
                      'render': function(data, type, row, meta) {
                        try {
                            return decodeURIComponent(escape(data.description))
                        } catch(err) {
                            return escape(data.description)
                        }
                      }
                    },
                    { 
                      'title': "Location",
                      'type': "natural",
                      'width': "100px",
                      'data': "location_repr"
                    },
                    {
                      'title': "Mean",
                      'type': "natural", 
                      'data': "mean",
                      'orderSequence': [ "desc", "asc"]
                    },
                    { 
                      'title': "Max<br>LRS<a href=\"http://genenetwork.org//glossary.html#LRS\" target=\"_blank\" style=\"color: white;\"><sup>?</sup></a>",
                      'type': "natural", 
                      'data': "LRS_score_repr",
                      'orderSequence': [ "desc", "asc"]
                    },
                    { 
                      'title': "Max LRS<br>Location",
                      'type': "natural",
                      'width': "100px",
                      'data': "max_lrs_text"
                    },
                    { 
                      'title': "Additive<br>Effect<a href=\"http://genenetwork.org//glossary.html#A\" target=\"_blank\" style=\"color: white;\"><sup>?</sup></a>",
                      'type': "natural",
                      'width': "50px",
                      'data': "additive",
                      'orderSequence': [ "desc", "asc"]
                    }
                ],
                'order': [[1, "asc" ]],
                'sDom': "tir",
                'autoWidth': true,
                'deferRender': true,
                'paging': false,
                'orderClasses': true,
                'processing': true,
                'language': {
                  'loadingRecords': '&nbsp;',
                  'processing': 'Loading...'
                }
            } );

            $('#trait_table').append(
              '<tfoot>' + 
                '<tr>' +
                  '<th></th>' +
                  '<th>Index</th>' +
                  '<th>Record ID</th>' +
                  '<th>Species</th> ' +
                  '<th>Group</th>' +
                  '<th>Tissue</th>' +
                  '<th>Dataset</th>' + 
                  '<th>Symbol</th>' + 
                  '<th>Description</th>' + 
                  '<th>Location</th>' +
                  '<th>Mean</th>' +
                  '<th>Max LRS <a href="http://genenetwork.org//glossary.html#LRS" target="_blank" style="color: white;"><sup>?</sup></a></th>' +
                  '<th>Max LRS Location</th>' + 
                  '<th>Additive Effect <a href="http://genenetwork.org//glossary.html#A" target="_blank" style="color: white;"><sup>?</sup></a></th>' +
                '</tr>' + 
              '</tfoot>'
            );

            console.timeEnd("Creating table");

        });
        
    </script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/search_results.js"></script>
{% endblock %}
