{% extends "base.html" %}
{% block title %}Search Results{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/new/packages/DataTables/css/jquery.dataTables.css" />
{% endblock %}
{% block content %}
<!-- Start of body -->

    <div class="container">

        <p>You searched for {{ terms }}.</p>
        <p>To study a record, click on its Record ID below.<br />Check records below and click Add button to add to selection.</p>

        <div>
            <br />
            <button class="btn btn-default" id="select_all"><span class="glyphicon glyphicon-ok"></span> Select All</button>
            <button class="btn btn-default" id="deselect_all"><span class="glyphicon glyphicon-remove"></span> Deselect All</button>
            <button class="btn btn-default" id="invert"><span class="glyphicon glyphicon-resize-vertical"></span> Invert</button>
            <button class="btn btn-default" id="add" disabled ><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
            <input type="text" id="searchbox" class="form-control" style="width: 180px; display: inline;" placeholder="Search This Table For ...">
            <input type="text" id="select_top" class="form-control" style="width: 120px; display: inline;" placeholder="Select Top ...">
            <br />
            <br />
            <form id="export_form" method="POST" action="/export_traits_csv">
              <input type="hidden" name="database_name" id="database_name" value="None">
              <input type="hidden" name="export_data" id="export_data" value="">
              <button class="btn btn-default" id="export_traits">Download CSV</button>
            </form>
            <br />
            <div style="width: 100%;">
              <table width="100%" id="trait_table" class="display dataTable nowrap" style="float: left;">
                <thead>
                  <tr>
                    <th></th>
                    <th data-export="Index">Index</th>
                    <th data-export="Record">Record ID</th>
                    <th data-export="Species">Species</th> 
                    <th data-export="Group">Group</th> 
                    <th data-export="Tissue">Tissue</th> 
                    <th data-export="Dataset">Dataset</th> 
                    <th data-export="Symbol">Symbol</th> 
                    <th data-export="Description">Description</th> 
                    <th data-export="Location">Location</th>
                    <th data-export="Mean">Mean</th>
                    <th data-export="Max LRS">Max LRS <a href="http://genenetwork.org//glossary.html#LRS" target="_blank"><img style="width: 15px; height: 15px;" src="/static/new/images/question_mark.jpg"></a></th>
                    <th data-export="Additive Effect">Additive Effect <a href="http://genenetwork.org//glossary.html#A" target="_blank"><img style="width: 15px; height: 15px;" src="/static/new/images/question_mark.jpg"></a></th>
                  </tr>
                </thead> 
                <tbody>
                  {% for this_trait in trait_list %}
                  <tr id="trait:{{ this_trait.name }}:{{ this_trait.dataset }}">
                    <td align="center" style="padding-right: 0px; padding-left: 5px;"><input type="checkbox" name="searchResult" class="checkbox trait_checkbox" value="{{ data_hmac('{}:{}'.format(this_trait.name, this_trait.dataset)) }}"></td>
                    <td align="right" data-export="{{ loop.index }}">{{ loop.index }}</td>
                    <td data-export="{{ this_trait.name }}"><a href="{{ url_for('show_trait_page', trait_id = this_trait.name, dataset = this_trait.dataset)}}">{{ this_trait.name }}</a></td>
                    <td data-export="{{ this_trait.species }}">{{ this_trait.species }}</td>
                    <td data-export="{{ this_trait.group }}">{{ this_trait.group }}</td>
                    <td data-export="{{ this_trait.tissue }}">{{ this_trait.tissue }}</td>
                    <td data-export="{{ this_trait.dataset }}">{{ this_trait.dataset }}</td>
                    <td data-export="{{ this_trait.symbol }}">{{ this_trait.symbol }}</td>
                    <td data-export="{{ this_trait.description }}">{{ this_trait.description }}</td>
                    <td data-export="{{ this_trait.location_repr }}" align="right">{{ this_trait.location_repr }}</td>
                    <td data-export="{{ '%0.3f' % this_trait.mean|float }}" align="right">{{ '%0.3f' % this_trait.mean|float }}</td>
                    <td data-export="{% if this_trait.LRS_score_repr != "N/A" %}{{ '%0.1f' % this_trait.LRS_score_repr|float }}{% else %}N/A{% endif %}" align="right">{% if this_trait.LRS_score_repr != "N/A" %}{{ '%0.1f' % this_trait.LRS_score_repr|float }}{% else %}N/A{% endif %}</td>
                    <td data-export="{% if this_trait.additive != "" %}{{ '%0.3f' % this_trait.additive|float }}{% else %}N/A{% endif %}" align="right">{% if this_trait.additive != "" %}{{ '%0.3f' % this_trait.additive|float }}{% else %}N/A{% endif %}</td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th></th>
                    <th>Index</th>
                    <th>Record ID</th>
                    <th>Species</th> 
                    <th>Group</th> 
                    <th>Tissue</th> 
                    <th>Dataset</th> 
                    <th>Symbol</th> 
                    <th>Description</th> 
                    <th>Location</th>
                    <th>Mean</th>
                    <th data-export="Max LRS">Max LRS <a href="http://genenetwork.org//glossary.html#LRS" target="_blank"><img style="width: 15px; height: 15px;" src="/static/new/images/question_mark.jpg"></a></th>
                    <th data-export="Additive Effect">Additive Effect <a href="http://genenetwork.org//glossary.html#A" target="_blank"><img style="width: 15px; height: 15px;" src="/static/new/images/question_mark.jpg"></a></th>
                  </tr>
                </tfoot> 
              </table>
            </div>
        </div>
    </div>

<!-- End of body -->

{% endblock %}

{% block js %}
    <script language="javascript" type="text/javascript" src="/static/new/javascript/search_results.js"></script>
    
    <script language="javascript" type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/js_external/jszip.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/dataTables.naturalSort.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/extensions/dataTables.colReorder.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/extensions/dataTables.colResize.js"></script>
	
    <script type="text/javascript" charset="utf-8">
        $.fn.dataTable.ext.order['dom-checkbox'] = function  ( settings, col )
        {
            return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
                return $('input', td).prop('checked') ? '1' : '0';
            } );
        };

        $(document).ready( function () {
            
            $('#trait_table tr').click(function(event) {
                if (event.target.type !== 'checkbox') {
                    $(':checkbox', this).trigger('click');
                }
            });

            console.time("Creating table");
            $('#trait_table').DataTable( {
                "createdRow": function ( row, data, index ) {
                    $('td', row).eq(8).attr('title', $('td', row).eq(8).text());
                    if ($('td', row).eq(8).text().length > 50) {
                        $('td', row).eq(8).text($('td', row).eq(8).text().substring(0, 50));
                        $('td', row).eq(8).text($('td', row).eq(8).text() + '...')
                    }
                },
                "paging": false,
                "columns": [
                    { "orderDataType": "dom-checkbox" },
                    { "type": "natural", "width": "3%" },
                    { "type": "natural", "width": "6%" },
                    { "type": "natural", "width": "8%" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural", "width": "7%" },
                    { "type": "natural", "width": "4%" },
                    { "type": "natural", "width": "5%" },
                    { "type": "natural", "width": "5%" }
                ],
                "columnDefs": [
                    {
                        "targets": 0,
                        "orderable": false,
                        "orderDataType": "dom-checkbox"
                    }
                ],
                "order": [[1, "asc" ]],
                "sDom": "tir",
                "autoWidth": false,
                "deferRender": true,
                "bSortClasses": false,
                "scrollY": "600px",
                "scrollCollapse": true,
                "scroller": true,
                "scrollX": true,
                "paging": false,
                "orderClasses": true
            } );

            console.timeEnd("Creating table");

        });
        
    </script>
{% endblock %}
