{% extends "base.html" %}
{% block title %}Search Results{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('css', filename='DataTables/css/jquery.dataTables.css') }}" />
    <link rel="stylesheet" type="text/css" href="/static/new/css/show_trait.css" />
{% endblock %}
{% block content %}
<!-- Start of body -->

    <div class="container">

        <h3>GN searched for the term(s) <b>"{{ terms }}"</b> in 51 datasets and 13763 traits across 10 species<br/>
            and found <b>{{ trait_count }}</b> results that match your query.<br/>
            You can filter these results by adding key words in the fields below<br/>
            and you can also sort results on most columns.</h3>
        <p>To study a record, click on its ID below.<br />Check records below and click Add button to add to selection.</p>

        <div>
            <br />
            <button class="btn btn-default" id="select_all"><span class="glyphicon glyphicon-ok"></span> Select All</button>
            <button class="btn btn-default" id="deselect_all"><span class="glyphicon glyphicon-remove"></span> Deselect All</button>
            <button class="btn btn-default" id="invert"><span class="glyphicon glyphicon-resize-vertical"></span> Invert</button>
            <button class="btn btn-success" id="add" disabled ><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
            <input type="text" id="searchbox" class="form-control" style="width: 200px; display: inline;" placeholder="Search This Table For ...">
            <input type="text" id="select_top" class="form-control" style="width: 200px; display: inline;" placeholder="Select Top ...">
            <form id="export_form" method="POST" action="/export_traits_csv" style="display: inline;">
              <input type="hidden" name="headers" id="headers" value="{% for field in header_fields %}{{ field }},{% endfor %}">
              <input type="hidden" name="database_name" id="database_name" value="None">
              <input type="hidden" name="export_data" id="export_data" value="">
              <button class="btn btn-default" id="export_traits">Download CSV</button>
            </form>
            <br />
            <br />
            <div style="min-width: 2000px; width: 100%;">
              <table id="trait_table" class="table-hover table-striped cell-border" style="float: left;">
                <tbody>
                 <td colspan="100%" align="center"><br><b><font size="15">Loading...</font></b><br></td>
                </tbody>
            </table>
            </div>
        </div>
    </div>

<!-- End of body -->

{% endblock %}

{% block js %}
    <script language="javascript" type="text/javascript" src="{{ url_for('js', filename='js_alt/md5.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('js', filename='DataTables/js/jquery.dataTables.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('js', filename='jszip/jszip.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('js', filename='DataTablesExtensions/plugins/sorting/natural.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('js', filename='DataTablesExtensions/colReorder/js/dataTables.colReorder.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('js', filename='DataTablesExtensions/colResize/dataTables.colResize.js') }}"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/search_results.js"></script>

    <script type='text/javascript'>
      var getParams = function(url) {
        let parser = document.createElement('a');
        parser.href = url;
        let params = parser.search.substring(1);
        if(params.length > 0) {
          return ('?'+params);
        }
        return params;
      };
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready( function () {

            $('#trait_table tr').click(function(event) {
                if (event.target.type !== 'checkbox') {
                    $(':checkbox', this).trigger('click');
                }
            });

            function change_buttons() {
                buttons = ["#add", "#remove"];
                num_checked = $('.trait_checkbox:checked').length;
                if (num_checked === 0) {
                    for (_i = 0, _len = buttons.length; _i < _len; _i++) {
                        button = buttons[_i];
                        $(button).prop("disabled", true);
                    }
                } else {
                    for (_j = 0, _len2 = buttons.length; _j < _len2; _j++) {
                        button = buttons[_j];
                        $(button).prop("disabled", false);
                    }
                }
                         //});
                if ($(this).is(":checked")) {
                    if (!$(this).closest('tr').hasClass('selected')) {
                        $(this).closest('tr').addClass('selected')
                    }
                }
                else {
                    if ($(this).closest('tr').hasClass('selected')) {
                        $(this).closest('tr').removeClass('selected')
                    }
                }
            }

            console.time("Creating table");
            $('#trait_table').DataTable( {
                'drawCallback': function( settings ) {
                     $('#trait_table tr').click(function(event) {
                         if (event.target.type !== 'checkbox' && event.target.tagName.toLowerCase() !== 'a') {
                             $(':checkbox', this).trigger('click');
                         }
                     });
                     $('.trait_checkbox:checkbox').on("change", change_buttons);
                },
                "createdRow": function ( row, data, index ) {
                    $('td', row).eq(0).attr("style", "text-align: center; padding: 4px 10px 2px 10px;");
                    $('td', row).eq(1).attr("align", "right");
                    $('td', row).eq(5).attr('title', $('td', row).eq(5).text());
                    if ($('td', row).eq(5).text().length > 150) {
                        $('td', row).eq(5).text($('td', row).eq(5).text().substring(0, 150));
                        $('td', row).eq(5).text($('td', row).eq(5).text() + '...')
                    }
                    $('td', row).eq(6).attr('title', $('td', row).eq(6).text());
                    if ($('td', row).eq(6).text().length > 150) {
                        $('td', row).eq(6).text($('td', row).eq(6).text().substring(0, 150));
                        $('td', row).eq(6).text($('td', row).eq(6).text() + '...')
                    }
                    $('td', row).eq(6).attr("align", "right");
                    $('td', row).slice(8,11).attr("align", "right");
                    $('td', row).eq(1).attr('data-export', $('td', row).eq(1).text());
                    $('td', row).eq(2).attr('data-export', $('td', row).eq(2).text());
                    $('td', row).eq(3).attr('data-export', $('td', row).eq(3).text());
                    $('td', row).eq(4).attr('data-export', $('td', row).eq(4).text());
                    $('td', row).eq(5).attr('data-export', $('td', row).eq(5).text());
                    $('td', row).eq(6).attr('data-export', $('td', row).eq(6).text());
                    $('td', row).eq(7).attr('data-export', $('td', row).eq(7).text());
                    $('td', row).eq(8).attr('data-export', $('td', row).eq(8).text());
                    $('td', row).eq(9).attr('data-export', $('td', row).eq(9).text());
                    $('td', row).eq(10).attr('data-export', $('td', row).eq(10).text());
                },
                'columns': [
                    {
                      'data': null,
                      'orderDataType': "dom-checkbox",
                      'render': function(data, type, row, meta) {
                        return '<input type="checkbox" name="searchResult" class="trait_checkbox checkbox" value="' + data.hmac + '">'
                      }
                    },
                    {
                      'title': "Index",
                      'type': "natural",
                      'data': "index"
                    },
                    {
                      'title': "Species",
                      'type': "natural",
                      'data': "species"
                    },
                    {
                      'title': "Group",
                      'type': "natural",
                      'width': "10%",
                      'data': "group"
                    },
                    {
                      'title': "Record",
                      'type': "natural",
                      'data': null,
                      'orderDataType': "dom-inner-text",
                      'render': function(data, type, row, meta) {
                        return '<a target="_blank" href="/show_trait?trait_id=' + data.name + '&dataset=' + data.dataset + '">' + data.display_name + '</a>'
                      }
                    },
                    {
                      'title': "Description",
                      'type': "natural",
                      'width': "25%",
                      'data': null,
                      'render': function(data, type, row, meta) {
			                  try {
                            return decodeURIComponent(escape(data.description))
			                  } catch(err) {
			                      return data.description
                        }
                      }
                    },
                    {
                      'title': "Mean",
                      'type': "natural-minus-na",
                      'width': "10%",
                      'data': "mean"
                    },
                    {
                      'title': "Authors",
                      'type': "natural",
                      'width': "25%",
                      'data': null,
                      'render': function(data, type, row, meta) {
                        author_list = data.authors.split(",")
                        if (author_list.length >= 6) {
                          author_string = author_list.slice(0, 6).join(",") + ", et al."
                        } else{
                          author_string = data.authors
                        }

			                  try {
                            return decodeURIComponent(escape(author_string))
			                  } catch(err) {
			                      return author_string
                        }

                      }
                    },
                    {
                      'title': "Year",
                      'type': "natural-minus-na",
                      'data': null,
                      'orderDataType': "dom-inner-text",
                      'render': function(data, type, row, meta) {
                        if (data.pubmed_id != "N/A"){
                          return '<a href="' + data.pubmed_link + '">' + data.pubmed_text + '</a>'
                        } else {
                          return data.pubmed_text
                        }
                      },
                      'orderSequence': [ "desc", "asc"]
                    },
                    {
                      'title': "Max LRS<a href=\"{{ url_for('glossary_blueprint.glossary') }}#LRS\" target=\"_blank\" style=\"color: white;\"><sup>?</sup></a>",
                      'type': "natural-minus-na",
                      'data': "LRS_score_repr",
                      'orderSequence': [ "desc", "asc"]
                    },
                    {
                      'title': "Max LRS Location",
                      'type': "natural-minus-na",
                      'width': "10%",
                      'data': "max_lrs_text"
                    },
                    {
                      'title': "Additive Effect<a href=\"{{ url_for('glossary_blueprint.glossary') }}#A\" target=\"_blank\" style=\"color: white;\"><sup>?</sup></a>",
                      'type': "natural-minus-na",
                      'data': "additive",
                      'orderSequence': [ "desc", "asc"]
                    }
                ],
                'order': [[1, "asc" ]],
                'sDom': "pitirp",
                'autoWidth': false,
                'deferRender': false,
                'paging': true,
                'orderClasses': true,
                'processing': true,
                'iDisplayLength': 100,
                'bServerSide': true,
                'sAjaxSource': '/gsearch_table'+getParams(window.location.href),
                'language': {
                  'loadingRecords': '&nbsp;',
                  'processing': 'Loading...'
                }
            } );

            $('#trait_table').append(
              '<tfoot>' +
                '<tr>' +
                  '<th></th>' +
                  '<th>Index</th>' +
                  '<th>Species</th> ' +
                  '<th>Group</th>' +
                  '<th>Record</th>' +
                  '<th>Description</th>' +
                  '<th>Authors</th>' +
                  '<th>Year</th>' +
                  '<th>Max LRS</th>' +
                  '<th>Max LRS Location</th>' +
                  '<th>Additive Effect</th>' +
                '</tr>' +
              '</tfoot>'
            );

            console.timeEnd("Creating table");
        });
        
    </script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/search_results.js"></script>
{% endblock %}
