{% extends "base.html" %}
{% block title %}GeneNetwork{% endblock %}
{% block content %}
<!-- Start of body -->

    <div class="container-fluid">
        
        {{ flash_me() }}
        
        <div class="row" style="width: 1200px !important;">

            <div class="col-xs-5 col-xs-5">
                <section id="search">
                    <div class="page-header">
                        <h1>Global Search</h1>
                    </div>
                    <form method="get" action="/gsearchact0" name="SEARCHFORM">
                        <fieldset>
                            <div style="padding: 20px" class="form-horizontal">

                                <div class="form-group">
                                    <label for="tfor" class="col-xs-1 control-label" style="width: 65px !important;">Search:</label>
                                    <div class="col-xs-10 controls">
                                        <textarea name="terms" rows="2" class="form-control search-query" style="width: 450px !important;" id="tfor"></textarea>
                                    </div>
                                </div>

                                <!--  SEARCH, MAKE DEFAULT, ADVANCED SEARCH -->

                                <div class="form-group">

                                    <div class="col-xs-3 controls" style="width: 100px !important;">
                                        <input id="btsearch" type="submit" class="btn btn-primary form-control" value="Search">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </section>
            </div>
        </div>
    </div>

{%endblock%}

{% block js %}
    <script src="/static/new/javascript/dataset_select_menu.js"></script>
{% endblock %}