{% extends "base.html" %}
{% block title %}Heatmap{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/new/css/d3-tip.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/new/css/panelutil.css" />
{% endblock %}
{% block content %} <!-- Start of body -->

    {{ header("Heatmap") }}

    <div class="container">
        <div>
            <h3>
                The following heatmap is a work in progress. The heatmap for each trait runs horizontally (as opposed to vertically in GeneNetwork 1),
                and hovering over a given trait's heatmap track will display its corresponding QTL chart below. Black on the heatmap corresponds with a 
                low positive or negative z-score (darker when closer to 0), while light blue and yellow correspond to high negative and positive z-scores respectively. 
            </h3>
        </div>
        <div id="chart_container">
            <div class="qtlcharts" id="chart">
                
            </div>
        </div>
    
    </div>

    <!-- End of body -->

{% endblock %}

{% block js %}  
    <script>
        js_data = {{ js_data | safe }}
    </script>

    <script language="javascript" type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/js_external/d3-tip.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/panelutil.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/lodheatmap.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/lod_chart.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/curvechart.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/iplotMScanone_noeff.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/underscore/underscore-min.js"></script>

{% endblock %}