{% extends "base.html" %}
{% block title %}Interval Mapping{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/new/css/d3-tip.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/new/css/panelutil.css" />
{% endblock %}
{% block content %} <!-- Start of body -->

    {{ header("Heatmap") }}

    <div class="container">
        <div>
            <h2>
                Heatmap
            </h2>
        </div>
        <div id="chart_container">
            <div class="qtlcharts" id="chart">
                
            </div>
        </div>
    
    </div>

    <!-- End of body -->

{% endblock %}

{% block js %}  
    <script>
        js_data = {{ js_data | safe }}
    </script>

    <script language="javascript" type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/js_external/d3-tip.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/panelutil.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/lodheatmap.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/create_heatmap.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/underscore/underscore-min.js"></script>

{% endblock %}