{% extends "base.html" %}
{% block title %}GeneNetwork{% endblock %}
{% block content %}
<!-- Start of body -->



    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h1>GeneNetwork</h1>
            <p class="lead">Open source bioinformatics for systems genetics</p>   
        </div>
    </header>

    <div class="container">
        
        {{ flash_me() }}
        
        <div class="row">
            <div class="span3 bs-docs-sidebar">
              <ul class="nav nav-list bs-docs-sidenav">
                <li><a href="#quick-search"><i class="icon-chevron-right"></i> Quick Search</a></li>
                <li><a href="#search"><i class="icon-chevron-right"></i> Search</a></li>
                <li><a href="#getting-started"><i class="icon-chevron-right"></i> Getting started</a></li>
                <li><a href="#advanced"><i class="icon-chevron-right"></i> Advanced commands</a></li>
                <li><a href="#tour-info"><i class="icon-chevron-right"></i> Tour and more info</a></li>
                <li><a href="#websites"><i class="icon-chevron-right"></i> Affiliates and mirrors</a></li>
              </ul>
            </div>
            
            <div class="span9">
                <section id="quick-search">
                    <div class="page-header">
                        <h1>Quick search</h1>
                    </div>
                    
                    <form method="get" action="/search"  name="SEARCHFORM">
                        <fieldset>
                            <div class="input-prepend">
                                <select id="trait_type" name="trait_type" class="span2">
                                    <option value="all">All</option>
                                    <option value="mrna_assay">Molecular Assays</option>
                                    <option value="phenotype">Phenotypes</option>
                                    <option value="genotype">Genotypes</option>
                                </select>
                            </div>
                            <div class="input-append">
                                <input class="input-xlarge"
                                    id="quick" name="q"
                                    type="text" maxlength="500">

                                <input id="btsearch" type="submit"
                                    class="btn btn-primary" value="Search">
                            </div>
                        </fieldset>
                    </form>
                </section>
                <section id="search">
                    <div class="page-header">
                        <h1>Select and search</h1>
                    </div>
                    <form method="get" action="/search"  name="SEARCHFORM">
                        <fieldset>
                            <label for="species">Species:</label>
                            <select name="species" id="species" class="input-xlarge ds_selector">
                            </select>


                            <label for="group">Group: </label>
                            <div class="input-append">
                                <select name="group" id="group" class="input-xlarge ds_selector">
                                </select>
                                <!--<i class="icon-question-sign"></i>-->
                                <input type="button" class="btn" value="Info" id="group_info" />
                            </div>

                            <label for="tissue">Type:</label>
                            <select name="type" id="type" class="input-xlarge ds_selector"></select>

                            <label for="dataset">Dataset:</label>
                            <div class="input-append">
                                <select name="dataset" id="dataset" class="input-xlarge"></select>
                                <input type="button" class="btn" value="Info" id="dataset_info" />
                            </div>
                            <!--  USER HELP   -->


                                <!--<p >Databases marked with <b>**</b>-->
                                <!--      suffix are not public yet.<br>-->
                                <!--     Access requires <a href="/account.html" target=-->
                                <!--      "_blank" class="fs14">user login</a>.</p>-->

                                <!--  GET ANY  SEARCH -->

                            <label for="tfor">Search:</label>

                            <input class="search-query input-xlarge"
                                id="tfor" name="search_terms"
                                type="text" maxlength="500">

                            <!--  GET ANY HELP   -->

                            <p>Enter terms, genes, ID numbers in the
                                  <b>Search</b> field<br>
                                  Use <b>*</b> or <b>?</b> wildcards (Cyp*a?,
                                  synap*)<br>
                                  Use <b>quotes</b> for terms such as <i>"tyrosine
                                  kinase"</i></p>

                                <!--  SEARCH, MAKE DEFAULT, ADVANCED SEARCH -->


                               <input id="btsearch" type="submit"
                                class="btn btn-primary" value="Search">

                                <input type="button" class="btn" value="Make Default"
                                       id="make_default">

                                <input type="button" class=
                                    "btn" value="Advanced Search" onclick=
                                    "javascript:window.open('/index3.html', '_self');">

                                <input type="hidden" name="FormID" value="searchResult">
                                <!--!<input type="hidden" name="RISet" value="BXD">-->
                        </fieldset>
                    </form>
                </section>

                <section id="getting-started">
                    <div class="page-header">
                        <h1>Getting started</h1>
                    </div>

                <ol style="font-size:12px;font-family:verdana;color:black">
                  <li>Select <b>Species</b> (or All)</li>

                  <li>Select <b>Group</b> (a specific sample)</li>

                  <li>Select <b>Type</b> of data:

                    <ul>
                      <li>Phenotype (traits)</li>

                      <li>Genotype (markers)</li>

                      <li>Expression (mRNAs)</li>
                    </ul>
                  </li>

                  <li>Select a <b>Dataset</b></li>

                  <li>Enter terms in the search field: words,
                  genes, ID numbers, probes, advanced search commands</li>

                  <li>Click the <b>Search</b> button</li>

                  <li>Optional: Use the <b>Make Default</b> button to save your preferences</li>
                </ol>

                <h3>User Guide</h3>
                <h5>Read the
                <a href="http://www.genenetwork.org/index4.html" target="_blank">
                    user guide</a>.</h5>

                </section>


                <section id="advanced">
                    <div class="page-header">
                        <h1>Advanced commands</h1>
                    </div>

                    <p>GeneNetwork supports a variety of advanced searches.</p>

                    <p>To try them out copy these examples into the search field:</p>

                      <ul>
                        <li><b>POSITION=(chr1 25 30)</b> finds genes, markers, or transcripts on
                        chromosome 1 between 25 and 30 Mb.</li>

                        <li><b>MEAN=(15 16) LRS=(23 46)</b> in the <b>Combined</b> field finds
                        highly expressed genes (15 to 16 log2 units) AND with peak <a href=
                        "http://www.genenetwork.org/glossary.html#L" target="_blank">LRS</a>
                        linkage between 23 and 46.</li>

                        <li><b>RIF=mitochondrial</b> searches RNA databases for <a href=
                        "http://www.ncbi.nlm.nih.gov/projects/GeneRIF/GeneRIFhelp.html" target="_blank">
                        GeneRIF</a> links.</li>

                        <li><b>WIKI=nicotine</b> searches <a href=
                        "http://www.genenetwork.org/webqtl/main.py?FormID=geneWiki" target="_blank">
                        GeneWiki</a> for genes that you or other users have annotated
                        with the word <i>nicotine</i>.</li>

                        <li><b>GO:0045202</b> searches for synapse-associated genes listed in the
                        <a href="http://www.godatabase.org/cgi-bin/amigo/go.cgi" target="_blank">
                            Gene Ontology</a>.</li>

                        <li><b>GO:0045202 LRS=(9 99 Chr4 122 155) cisLRS=(9 999 10)</b>
                        finds synapse-associated genes with <a href=
                        "http://www.genenetwork.org/glossary.html#E" target="_blank">
                        cis eQTL</a> on Chr 4 from 122 and 155 Mb with LRS scores
                        between 9 and 999.</li>

                        <li><b>RIF=diabetes LRS=(9 999 Chr2 100 105) transLRS=(9 999 10)</b>
                        finds diabetes-associated transcripts with peak <a href=
                        "http://www.genenetwork.org/glossary.html#E" target="_blank">
                        trans eQTLs</a> on Chr 2 between 100 and 105 Mb with LRS
                        scores between 9 and 999.</li>
                      </ul>
                </section>

                <section id="tour-info">
                    <div class="page-header">
                        <h1>Tour and more info</h1>
                    </div>

                    <h3>Thirty minute tour</h3>
                    <p>
                      Take the 30 minute
                      GeneNetwork <a href="http://www.genenetwork.org/tutorial/WebQTLTour/" target=
                      "_blank" class="fs14">tour</a> that includes screen shots and
                      typical steps in the analysis.
                    </p>

                    <h3>Even more info</h3>
                    <p>
                      For information about
                      resources and methods, select the Info buttons next to the Group
                      and Database fields above.
                    </p>

                      <p>The <a href=
                      "/conditionsofUse.html" target="_blank">conditions</a>
                      and <a href="/statusandContact.html" target="_blank">contact
                      </a> pages have information on the status of data sets
                      and advice on their use and citation.</p>

                </section>

                <section id="websites">
                    <div class="page-header">
                        <h1>Affiliates and mirrors</h1>
                    </div>
                    <h3>Websites affiliated with GeneNetwork</h3>
                    <ul>
                        <li><a href="http://ucscbrowser.genenetwork.org/" target="_blank">Genome
                        browser</a> at UTHSC</li>

                        <li><a href="http://galaxy.genenetwork.org/" target="_blank">Galaxy</a> at
                        UTHSC</li>

                        <li>GeneNetwork at <a href="http://ec2.genenetwork.org/" target="_blank">Amazon
                        Cloud (EC2)</a></li>

                        <li>GeneNetwork Source Code at <a href=
                        "http://sourceforge.net/projects/genenetwork/" target="_blank">SourceForge</a></li>

                        <li>GeneNetwork Source Code at <a href=
                        "https://github.com/genenetwork/genenetwork" target="_blank">GitHub</a></li>
                    </ul>
                    <h3>Mirror and development sites</h3>
                    <ul>
                        <li><a href="http://www.genenetwork.org/" target="_blank">
                        Main GN site</a> at UTHSC</li>

                        <li><a href="http://www.genenetwork.waimr.uwa.edu.au/" target="_blank">
                        Australia</a> at the UWA</li>

                        <li><a href="http://gn.genetics.ucla.edu/" target="_blank">
                        California</a> at UCLA</li>

                        <li><a href="http://genenetwork.helmholtz-hzi.de/" target="_blank">
                        Germany</a> at the HZI</li>

                        <li><a href="https://genenetwork.hubrecht.eu/" target="_blank">
                        Netherlands</a> at the Hubrecht
                        (development)</li>

                        <li><a href="http://genenetwork.memphis.edu/" target="_blank">
                        Memphis</a> at the U of M</li>

                        <li><a href="http://webqtl.bic.nus.edu.sg/" target="_blank">
                        Singapore</a> at the NUS</li>

                        <li><a href="http://genenetwork.epfl.ch/" target="_blank">
                        Switzerland</a> at the EPFL</li>
                    </ul>
                    <h3>History and archive</h3>

                    <p>The
                    <a href="http://artemis.uthsc.edu" target="_blank">
                        time machine</a>
                    has earlier versions that correspond to specific publication dates.
                    </p>

                    <h3>The next generation</h3>
                       <p>Try the <a href=
                      "http://alexandria.uthsc.edu/" target="_blank">
                      development</a> site to explore experimental data and features.</p>
                </section>
            </div>
        </div>
    </div>

{%endblock%}

{% block js %}
    <script src="/static/new/javascript/dataset_select_menu.js"></script>
{% endblock %}
