{% extends "base.html" %}
{% block title %}GeneNetwork{% endblock %}
{% block css %}
<style TYPE="text/css">
  p.interact { display: none; }
</style>
{% endblock %}
{% block content %}
<!-- Start of body -->

<!--
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h1>GeneNetwork</h1>
            <p class="lead">Open source bioinformatics for systems genetics</p>
        </div>
    </header>
-->

    <div class="container-fluid" style="min-width: 1200px;">

        {{ flash_me() }}

        <div class="row" style="width: 100%;">

            <div class="col-xs-5">
                <section id="search">
                    <div class="page-header">
                        <h1>Select and search</h1>
                    </div>
                    <form method="get" action="/search" target="_blank" name="SEARCHFORM">
                        <fieldset>
                            <div style="padding: 20px" class="form-horizontal">

                                <div class="form-group">
                                    <label for="species" class="col-xs-1 control-label" style="width: 65px !important;">Species:</label>
                                    <div class="col-xs-10 controls input-append" style="display: flex; padding-left: 20px;">
                                        <div class="col-8">
                                          <select name="species" id="species" class="form-control" style="width: 280px !important;"><option>Loading...</option></select>
                                        </div>
                                        <div class="col-4" style="margin-left: 10px;">
                                          <button type="button" id="make_default" class="btn btn-primary form-control">Make Default</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="group" class="col-xs-1 control-label" style="width: 65px !important;">Group:</label>
                                    <div class="col-xs-10 controls input-append" style="padding-left: 20px;">
                                        <div class="col-8">
                                          <select name="group" id="group" class="form-control" style="width: 280px !important;"><option>Loading...</option></select>
                                          <i class="icon-question-sign"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="tissue" class="col-xs-1 control-label" style="width: 65px !important;">Type:</label>
                                    <div class="col-xs-10 controls" style="padding-left: 20px;">
                                        <div class="col-8">
                                          <select name="type" id="type" class="form-control" style="width: 280px !important;"><option>Loading...</option></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="dataset" class="col-xs-1 control-label" style="width: 65px !important;">Dataset:</label>
                                    <div class="col-xs-10 controls input-append" style="display: flex; padding-left: 20px;">
                                        <div class="col-9">
                                          <select name="dataset" id="dataset" class="form-control" style="width: 340px !important;"><option>Loading...</option></select>
                                          <i class="icon-question-sign"></i>
                                        </div>
                                        <div class="col-3" style="margin-left: 10px;">
                                          <button type="button" id="dataset_info" class="btn btn-primary form-control" style="width: 75px !important;">Info</button>
                                        </div>
                                    </div>
                                </div>

                                <!--  USER HELP   -->
                                <!--<p >Databases marked with <b>**</b>-->
                                <!--      suffix are not public yet.<br>-->
                                <!--     Access requires <a href="/account.html" target=-->
                                <!--      "_blank" class="fs14">user login</a>.</p>-->
                                <!--  GET ANY  SEARCH -->

                                <div class="form-group">
                                    <label for="or_search" class="col-xs-1 control-label" style="padding-left: 0px; padding-right: 0px; width: 65px !important;">Get Any:</label>
                                    <div class="col-xs-10 controls" style="padding-left: 20px;">
                                        <div class="col-8">
                                          <textarea onkeydown="pressed(event)" name="search_terms_or" rows="1" class="form-control search-query" style="max-width: 550px; width: 450px !important;" id="or_search"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <!--  GET ANY HELP   -->
                                <div class="form-group">
                                    <label for="btsearch" class="col-xs-1 control-label" style="width: 65px !important;"></label>
                                    <div class="col-xs-10 controls" style="padding-left: 20px;">
                                        <div class="col-12 controls">
                                            Enter terms, genes, ID numbers in the <b>Search</b> field.<br>
                                            Use <b>*</b> or <b>?</b> wildcards (Cyp*a?, synap*).<br>
                                            Use <b>quotes</b> for terms such as <i>"tyrosine kinase"</i>.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="and_search" class="col-xs-1 control-label" style="padding-left: 0px; padding-right: 0px; width: 65px !important;">Combined:</label>
                                    <div class="col-xs-10 controls" style="padding-left: 20px;">
                                        <div class="col-8">
                                          <textarea onkeydown="pressed(event)" name="search_terms_and" rows="1" class="form-control search-query" style="max-width: 550px; width: 450px !important;" id="and_search"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="btsearch" class="col-xs-1 control-label" style="width: 65px !important;"></label>
                                    <div class="col-xs-10 controls" style="padding-left: 20px;">
                                        <div class="col-2 controls" style="width: 100px !important;">
                                            <input id="btsearch" type="submit" class="btn btn-primary form-control" value="Search">
                                        </div>
                                    </div>
                                </div>

                                <!--  SEARCH, MAKE DEFAULT -->

                                <div class="form-group">
                                </div>

                                <input type="hidden" name="FormID" value="searchResult" class="form-control">
                                <!--!<input type="hidden" name="RISet" value="BXD">-->
                            </div>
                        </fieldset>
                    </form>
                </section>
                <section id="advanced">
                    <div class="page-header">
                        <h2>Advanced commands</h2>
                    </div>

                    <p>You can also use advanced commands. Copy these simple examples into the Get Any field for single term searches and Combined for searches with multiple terms:</p>

                      <ul>
                        <li><b>POSITION=(chr1 25 30)</b> finds genes, markers, or transcripts on
                        chromosome 1 between 25 and 30 Mb.</li>

                        <li><b>MEAN=(15 16)</b> in the <b>Combined</b> field finds
                        highly expressed genes (15 to 16 log2 units)</li>

                        <li><b>RANGE=(1.5 2.5)</b> in the <b>Any</b> field finds traits with values with a specified fold-range (minimum = 1). 
                        Useful for finding "housekeeping genes" <b>(1.0 1.2)</b> or highly variable molecular assays <b>(10 100)</b>.</li>

                        <li><b>LRS=(15 1000)</b> or <b>LOD=(2 8)</b> finds all traits with peak LRS or LOD scores between lower and upper limits.</li>

                        <li><b>LRS=(9 999 Chr4 122 155)</b> finds all traits on Chr 4 from 122 and 155 Mb with LRS scores between 9 and 999.</li>

                        <li><b>cisLRS=(15 1000 5)</b> or <b>cisLOD=(2 8 5)</b> finds all cis eQTLs with peak LRS or LOD scores between lower and upper limits,
                            with an <b>inclusion</b> zone of 5 Mb around the parent gene.</li>

                        <li><b>transLRS=(15 1000 5)</b> or <b>transLOD=(2 8 5)</b> finds all trans eQTLs with peak LRS or LOD scores between lower and upper limits,
                            with an <b>exclusion</b> zone of 5 Mb around the parent gene.</li>

                        <li><b>POSITION=(Chr4 122 130) cisLRS=(9 999 10)</b>
                            finds all traits on Chr 4 from 122 and 155 Mb with cisLRS scores
                            between 9 and 999 and an inclusion zone of 10 Mb.</li>

                        <li><b>RIF=mitochondrial</b> searches RNA databases for <a href="https://en.wikipedia.org/wiki/GeneRIF">
                        GeneRIF</a> links.</li>

                        <li><b>WIKI=nicotine</b> searches <a href="http://www.genenetwork.org/webqtl/main.py?FormID=geneWiki">
                        GeneWiki</a> for genes that you or other users have annotated
                        with the word <i>nicotine</i>.</li>

                        <li><b>GO:0045202</b> searches for synapse-associated genes listed in the
                        <a href="http://amigo.geneontology.org/amigo/medial_search?q=GO%3A0045202">
                            Gene Ontology</a>.</li>

                        <li><b>RIF=diabetes LRS=(9 999 Chr2 100 105) transLRS=(9 999 10)</b>
                        finds diabetes-associated transcripts with peak <a href="http://www.genenetwork.org/glossary.html#E">
                        trans eQTLs</a> on Chr 2 between 100 and 105 Mb with LRS
                        scores between 9 and 999.</li>
                      </ul>
                </section>
            </div>

            <div style="padding-left:120px" class="col-xs-4" style="width: 600px !important;">
	        <section id="affiliates">
	            <div class="page-header">
                        <h1>Affiliates</h1>
                        <ul>
                          <li><a href="http://ucscbrowser.genenetwork.org/">Genome browser</a> at UTHSC</li>
                          <li><a href="https://systems-genetics.org/">Systems Genetics</a> @ EPFL</li>
                          <li>UTHSC <a href="http://bnw.genenetwork.org/">Bayesian Network Web Server</a></li>
                          <li><a href="http://genenetwork.org">GeneNetwork 1</a></li>
                        </ul>
                    </div>
                </section>
                <section id="news-section">
                    <div class="page-header">
                        <h1>News</h1>
                        <div id="tweets" style="height: 300px; overflow: scroll; overflow-x: hidden;"></div>
                        <div align="right">
                          <a href="https://twitter.com/GeneNetwork2">more news items...</a>
                        </div>
                    </div>
                <section id="websites">
                    <div class="page-header">
                        <h1>Github</h1>
                        <ul>
                          <li><a href="https://github.com/genenetwork/genenetwork2">GN2 Source Code</a></li>
                          <li><a href="https://github.com/genenetwork/genenetwork">GN1 Source Code</a></li>
                          <!--<li><a href="https://github.com/genenetwork/gn-docs/wiki">GN2 Document Wiki</a></li>-->
                          <li><a href="https://github.com/genenetwork/sysmaintenance">System Maintenance Code</a></li>
                        </ul>
                    </div>
               </section>
              <!--
                <section id="tour-info">
                    <div class="page-header">
                        <h1>Tour and more info</h1>
                    </div>

                    <h3>Thirty minute tour</h3>
                    <p>
                      Take the 30 minute
                      GeneNetwork <a href="http://www.genenetwork.org/tutorial/WebQTLTour/" class="fs14">tour</a> that includes screen shots and
                      typical steps in the analysis.
                    </p>

                    <h3>Even more info</h3>
                    <p>
                      For information about
                      resources and methods, select the Info buttons next to the Group
                      and Database fields above.
                    </p>

                      <p>The <a href="/conditionsofUse.html">conditions</a>
                      and <a href="/statusandContact.html">contact
                      </a> pages have information on the status of data sets
                      and advice on their use and citation.</p>

                </section>
                -->
                </section>

                <section id="websites">
                    <div class="page-header">
                        <h1>Links</h1>
                    </div>
                    <h3>GeneNetwork v2:</h3>
                      <ul>
                        <li><a href="http://gn2.genenetwork.org/">Main website</a> at UTHSC</li>
                        <!--<li><a href="http://test-gn2.genenetwork.org/">Testing website</a> at UTHSC</li>-->
                      </ul>
                    <h3>GeneNetwork v1:</h3>
                    <ul>
                        <li><a href="http://www.genenetwork.org/">Main website</a> at UTHSC</li>
                        <li><a href="http://artemis.uthsc.edu/">Time Machine</a>: Full GN versions from 2009 to 2016 (mm9)</li>
                            Cloud (EC2)</a></li>
                        </ul>
               </section>

                <!--<section id="getting-started">
                    <div class="page-header">
                        <h1>Getting started</h1>
                    </div>

                <ol style="font-size:12px;font-family:verdana;color:black">
                  <li>Select <b>Species</b> (or All)</li>

                  <li>Select <b>Group</b> (a specific sample)</li>

                  <li>Select <b>Type</b> of data:

                    <ul>
                      <li>Phenotype (traits)</li>

                      <li>Genotype (markers)</li>

                      <li>Expression (mRNAs)</li>
                    </ul>
                  </li>

                  <li>Select a <b>Dataset</b></li>

                  <li>Enter terms in the search field: words,
                  genes, ID numbers, probes, advanced search commands</li>

                  <li>Click the <b>Search</b> button</li>

                  <li>Optional: Use the <b>Make Default</b> button to save your preferences</li>
                </ol>

                <h3>User Guide</h3>
                <h5>Read the
                <a href="http://www.genenetwork.org/index4.html">
                    user guide</a>.</h5>

                </section>-->
            </div>
        </div>
    </div>

{%endblock%}

{% block js %}
    <script src="/static/new/javascript/dataset_select_menu_orig.js"></script>

    <script>
        function pressed(e) {
            // Has the enter key been pressed?
            if ( (window.event ? event.keyCode : e.which) == 13) {
                e.preventDefault();
                // If enter key has been pressed and the search fields are non-empty
                // manually submit the <form>
                if( event.target.value.trim() != "" ) {
                    document.forms[1].submit();
                }
            }
        }
    </script>

    <script type="text/javascript" src="/twitter/js/twitterFetcher_min.js"></script>

    <script type="text/javascript">
      var configProfile = {
      "profile": {"screenName": 'GeneNetwork2'},
      "domId": 'tweets',
      "maxTweets": 5,
      "enableLinks": true,
      "showUser": false,
      "showTime": true,
      "showImages": true,
      "lang": 'en'
      };
      twitterFetcher.fetch(configProfile);
    </script>


{% endblock %}
