{% extends "base.html" %}
{% block title %}GeneNetwork{% endblock %}
{% block content %} 
  <!-- Start of body -->
    <tr>
      <td bgcolor="#EEEEEE" class="solidBorder">
        <table width="100%" cellspacing="0" cellpadding="5">
          <tr>
            <td valign="top" width="40%" align="left" height="10" bgcolor="#EEEEEE">
              <p style="font-size:18px;font-family:verdana;color:black"><b>Select and
              Search</b></p>

              <form method="get" action="/search" class="form-search" name="SEARCHFORM">
                <table width="100%">
                  <!--  SPECIES  SELECTION -->

                  <tr>
                    <td align="right" height="35" style=
                    "font-size:14px;font-family:verdana;color:black" width="16%">
                    <b>Species:</b></td>

                    <td width="3%"></td>

                    <td nowrap width="85%" align="left">
                      <div id="menu0">
                        <select name="species" size="1" id="species" onchange=
                        "fillOptions('species');">
                          </select>
                      </div>
                    </td>
                  </tr><!--  GROUP  SELECTION -->

                  <tr>
                    <td align="right" height="35" style=
                    "font-size:14px;font-family:verdana;color:black"><b>Group:</b></td>

                    <td width="3%"></td>

                    <td nowrap width="85%" align="left">
                      <div id="menu1">
                        <select name="cross" size="1" id="cross" onchange="fillOptions('cross');">
                          </select> <input type="button" class="btn" value="Info" onclick=
                          "javascript:crossinfo();">
                      </div>
                    </td>
                  </tr><!--  TYPE  SELECTION -->

                  <tr>
                    <td align="right" height="35" style=
                    "font-size:14px;font-family:verdana;color:black"><b>Type:</b></td>

                    <td width="3%"></td>

                    <td nowrap width="85%" align="left">
                      <div id="menu2">
                        <select name="tissue" size="1" id="tissue" onchange=
                        "fillOptions('tissue');">
                          </select>
                      </div>
                    </td>
                  </tr><!--  DATABASE  SELECTION -->

                  <tr>
                    <td align="right" height="35" style=
                    "font-size:14px;font-family:verdana;color:black"><b>Database:</b></td>

                    <td width="3%"></td>

                    <td nowrap width="85%" align="left">
                      <div id="menu3">
                        <select name="database" size="1" id="database">
                          </select> <input type="submit" class="btn" value="Info" name=
                          "info_database">
                      </div>
                    </td>
                  </tr><!--  USER HELP   -->

                  <tr>
                    <td align="right" height="20" width="10%"></td>

                    <td width="3%"></td>

                    <td align="left" width="85%">
                      <p class="fs12">&nbsp;&nbsp;&nbsp;&nbsp;Databases marked with <b>**</b>
                      suffix are not public yet.<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;Access requires <a href="/account.html" target=
                      "_blank" class="fs14"><small>user login</small></a>.</p>
                    </td>
                  </tr><!--  GET ANY  SEARCH -->

                  <tr>
                    <td align="right" height="35" nowrap="on" style=
                    "font-size:14px;font-family:verdana;color:black" width="10%">
                    <b>Search:</b></td>

                    <td width="3%"></td>

                    <td nowrap width="85%" align="left"><input class="input-medium search-query"
                    id="tfor" name="ORkeyword" style=
                    "width:420px; background-color:white; font-family:verdana; font-size:14px"
                    type="text" maxlength="500"></td>
                  </tr><!--  GET ANY HELP   -->

                  <tr>
                    <td align="right" height="20" width="10%"></td>

                    <td width="3%"></td>

                    <td width="85%" align="left">
                      <p class="fs12">&nbsp;&nbsp;&nbsp;&nbsp;Enter terms, genes, ID numbers in the
                      <b>Search</b> field.<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;Use <b>*</b> or <b>?</b> wildcards (Cyp*a?,
                      synap*).<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;Use <b>quotes</b> for terms such as <i>"tyrosine
                      kinase"</i>.</p>
                    </td>
                  </tr><!--  SEARCH, MAKE DEFAULT, ADVANCED SEARCH -->

                  <tr align="center">
                    <td width="3%"></td>

                    <td width="3%"></td>

                    <td align="left" height="40" colspan="3"><input id="btsearch" type="submit"
                    class="btn btn-primary" value="Search">&nbsp;&nbsp;&nbsp;&nbsp; <input type=
                    "button" class="btn" value="Make Default" onclick=
                    "setDefault(this.form);">&nbsp;&nbsp;&nbsp;&nbsp; <input type="button" class=
                    "btn" value="Advanced Search" onclick=
                    "javascript:window.open('/index3.html', '_self');"></td>
                  </tr>
                </table><input type="hidden" name="FormID" value="searchResult"> <input type=
                "hidden" name="RISet" value="BXD"> <script src="/javascript/selectDatasetMenu.js"
                type="text/javascript">
</script>
              </form><!--  QUICK HELP  -->

              <p>&nbsp;______________________________________________________</p>

              <p style="font-size:13px;font-family:verdana;color:black"><b>&nbsp; Quick HELP
              Examples and</b> <a href="http://www.genenetwork.org/index4.html" target="_blank"
              class="fs14"><b>User's Guide</b></a></p>&nbsp;&nbsp;You can also use advanced
              commands. Copy these simple examples<br>
              &nbsp;&nbsp;into the <b>Get Any</b> or <b>Combined</b> search fields:

              <ul style="font-size:12px;font-family:verdana;color:black">
                <li><b><i>POSITION=(chr1 25 30)</i></b> finds genes, markers, or transcripts on
                chromosome 1 between 25 and 30 Mb.</li>

                <li><b><i>MEAN=(15 16) LRS=(23 46)</i></b> in the <b>Combined</b> field finds
                highly expressed genes (15 to 16 log2 units) AND with peak <a href=
                "http://www.genenetwork.org/glossary.html#L" target="_blank" class=
                "fs14"><small>LRS</small></a> linkage between 23 and 46.</li>

                <li><b><i>RIF=mitochondrial</i></b> searches RNA databases for <a href=
                "http://www.ncbi.nlm.nih.gov/projects/GeneRIF/GeneRIFhelp.html" target="_blank"
                class="fs14"><small>GeneRIF</small></a> links.</li>

                <li><b><i>WIKI=nicotine</i></b> searches <a href=
                "http://www.genenetwork.org/webqtl/main.py?FormID=geneWiki" target="_blank" class=
                "fs14"><small>GeneWiki</small></a> for genes that you or other users have annotated
                with the word <i>nicotine</i>.</li>

                <li><b><i>GO:0045202</i></b> searches for synapse-associated genes listed in the
                <a href="http://www.godatabase.org/cgi-bin/amigo/go.cgi" target="_blank" class=
                "fs14"><small>Gene Ontology</small></a>.</li>

                <li><b><i>GO:0045202 LRS=(9 99 Chr4 122 155) cisLRS=(9 999 10)</i></b><br>
                in <b>Combined</b> finds synapse-associated genes with <a href=
                "http://www.genenetwork.org/glossary.html#E" target="_blank" class=
                "fs14"><small>cis eQTL</small></a> on Chr 4 from 122 and 155 Mb with LRS scores
                between 9 and 999.</li>

                <li><b><i>RIF=diabetes LRS=(9 999 Chr2 100 105) transLRS=(9 999 10)</i></b><br>
                in <b>Combined</b> finds diabetes-associated transcripts with peak <a href=
                "http://www.genenetwork.org/glossary.html#E" target="_blank" class=
                "fs14"><small>trans eQTLs</small></a> on Chr 2 between 100 and 105 Mb with LRS
                scores between 9 and 999.</li>
              </ul>
            </td><!-- END OF FIND SELECTOR PULL-DOWN PANEL (LEFT SIDE)  -->
            <!-- START OF TOP RIGHT PANEL  -->

            <td valign="top" width="40%" bgcolor="#FFFFFF">
              <p style="font-size:15px;font-family:verdana;color:black"><b>Websites Affiliated with
              GeneNetwork</b></p>

              <p style="font-size:12px;font-family:verdana;color:black"></p>

              <ul>
                <li><a href="http://ucscbrowser.genenetwork.org/" target="_blank">Genome
                Browser</a> at UTHSC</li>

                <li><a href="http://galaxy.genenetwork.org/" target="_blank">Galaxy</a> at
                UTHSC</li>

                <li>GeneNetwork at <a href="http://ec2.genenetwork.org/" target="_blank">Amazon
                Cloud (EC2)</a></li>

                <li>GeneNetwork Source Codes at <a href=
                "http://sourceforge.net/projects/genenetwork/" target="_blank">SourceForge</a></li>

                <li>GeneNetwork Source Codes at <a href=
                "https://github.com/genenetwork/genenetwork" target="_blank">GitHub</a></li>
              </ul>

              <p>____________________________</p>

              <p style="font-size:15px;font-family:verdana;color:black"><b>Getting Started</b>
              &nbsp;&nbsp;</p>

              <ol style="font-size:12px;font-family:verdana;color:black">
                <li>Select <b>Species</b> (or select All)</li>

                <li>Select <b>Group</b> (a specific sample)</li>

                <li>Select <b>Type</b> of data:

                  <ul>
                    <li>Phenotype (traits)</li>

                    <li>Genotype (markers)</li>

                    <li>Expression (mRNAs)</li>
                  </ul>
                </li>

                <li>Select a <b>Database</b></li>

                <li>Enter search terms in the <b>Get Any</b> or <b>Combined</b> field: words,
                genes, ID numbers, probes, advanced search commands</li>

                <li>Click on the <b>Search</b> button</li>

                <li>Optional: Use the <b>Make Default</b> button to save your preferences</li>
              </ol>

              <p>____________________________</p>

              <p style="font-size:14px;font-family:verdana;color:black"><b>How to Use
              GeneNetwork</b></p>

              <blockquote>
                <p style="font-size:12px;font-family:verdana;color:black">Take a 20-40 minute
                GeneNetwork <a href="http://www.genenetwork.org/tutorial/WebQTLTour/" target=
                "_blank" class="fs14"><small>Tour</small></a> that includes screen shots and
                typical steps in the analysis.</p>
              </blockquote>

              <blockquote>
                <p style="font-size:12px;font-family:verdana;color:black">For information about
                resources and methods, select the <img src=
                "http://www.genenetwork.org/images/upload/Info.png" alt="INFO" border="0" valign=
                "middle"> buttons.</p>

                <p style="font-size:12px;font-family:verdana;color:black">Try the <a href=
                "http://alexandria.uthsc.edu/" target="_blank" class=
                "fs14"><small>Workstation</small></a> site to explore data and features that are
                being implemented.</p>

                <p style="font-size:12px;font-family:verdana;color:black">Review the <a href=
                "/conditionsofUse.html" target="_blank" class="fs14"><small>Conditions</small></a>
                and <a href="/statusandContact.html" target="_blank" class=
                "fs14"><small>Contacts</small></a> pages for information on the status of data sets
                and advice on their use and citation.</p>
              </blockquote>

              <p style="font-size:14px;font-family:verdana;color:black"><b>Mirror and Development
              Sites</b></p>

              <ul>
                <li><a href="http://www.genenetwork.org/" target="_blank" style=
                "font-size:12px;font-family:verdana;color:blue">Main GN site at UTHSC</a> (main
                site)</li>

                <li><a href="http://www.genenetwork.waimr.uwa.edu.au/" target="_blank" style=
                "font-size:12px;font-family:verdana;color:blue">Australia at the UWA</a></li>

                <li><a href="http://gn.genetics.ucla.edu/" target="_blank" style=
                "font-size:12px;font-family:verdana;color:blue">California at UCLA</a></li>

                <li><a href="http://genenetwork.helmholtz-hzi.de/" target="_blank" style=
                "font-size:12px;font-family:verdana;color:blue">Germany at the HZI</a></li>

                <li><a href="https://genenetwork.hubrecht.eu/" target="_blank" style=
                "font-size:12px;font-family:verdana;color:blue">Netherlands at the Hubrecht</a>
                (Development)</li>

                <li><a href="http://genenetwork.memphis.edu/" target="_blank" style=
                "font-size:12px;font-family:verdana;color:blue">Memphis at the U of M</a></li>

                <li><a href="http://webqtl.bic.nus.edu.sg/" target="_blank" style=
                "font-size:12px;font-family:verdana;color:blue">Singapore at the NUS</a></li>

                <li><a href="http://genenetwork.epfl.ch/" target="_blank" style=
                "font-size:12px;font-family:verdana;color:blue">Switzerland at the EPFL</a></li>
              </ul>

              <p style="font-size:14px;font-family:verdana;color:black"><b>History and
              Archive</b></p>

              <blockquote>
                <p style="font-size:12px;font-family:verdana;color:black">GeneNetwork's <a href=
                "http://artemis.uthsc.edu" target="_blank" class="fs14"><small>Time
                Machine</small></a> links to earlier versions that correspond to specific
                publication dates.</p>
              </blockquote>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- End of body -->
    <script src="/javascript/searchtip.js" type="text/javascript">
    </script>
    <script type="text/javascript">
      $(document).ready(function () {
                initialDatasetSelection();
        });
    </script>
{% endblock %}

