{% extends "base.html" %}
{% block title %}Interval Mapping{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/new/css/interval_mapping.css" />
    <link rel="stylesheet" type="text/css" href="/static/new/packages/DataTables/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/static/packages/DT_bootstrap/DT_bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/packages/TableTools/media/css/TableTools.css" />
{% endblock %}
{% block content %} <!-- Start of body -->

    {{ header("Mapping",
        '{}: {}'.format(this_trait.name, this_trait.description_fmt)) }}

    <div class="container">
        <div>
            <h2>
                Whole Genome Mapping
            </h2>
        </div>
        <div id="interval_map" class="interval_map">
            
        </div>
        <div>
            <h2>
                Results
            </h2>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" id="qtl_results" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <td>Index</td>
                    <td>LRS Score</td>
                    {% if method == "qtl_reaper" %}
                    <td>Additive Effect</td>
                    {% endif %}
                    <td>Chr</td>
                    <td>Mb</td>
                    <td>Locus</td>
                </tr>
            </thead>
            <tbody>
                {% for marker in qtl_results %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ marker.lrs_value|float }}</td>
                    {% if method == "qtl_reaper" %}
                    <td>{{ marker.additive|float }}</td>
                    {% endif %}
                    <td>{{ marker.chr|int }}</td>
                    <td>{{ marker.Mb|float  }}</td>
                    <td>{{ marker.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>

    <!-- End of body -->

{% endblock %}

{% block js %}  
    <script>
        js_data = {{ js_data | safe }}
    </script>

    <!--[if lt IE 9]>
<!--        <script language="javascript" type="text/javascript" src="/static/packages/jqplot/excanvas.js"></script>-->
    <![endif]-->
    <script language="javascript" type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/interval_mapping.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/dataTables.scientific.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/DT_bootstrap/DT_bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/TableTools/media/js/TableTools.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/underscore/underscore-min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready( function () {
            console.time("Creating table");
            $('#qtl_results').dataTable( {
                //"sDom": "<<'span3'l><'span3'T><'span4'f>'row-fluid'r>t<'row-fluid'<'span6'i><'span6'p>>",
                "sDom": "lTftipr",
                "oTableTools": {
                    "aButtons": [
                        "copy",
                        "print",
                        {
                            "sExtends":    "collection",
                            "sButtonText": 'Save <span class="caret" />',
                            "aButtons":    [ "csv", "xls", "pdf" ]
                        }
                    ],
                    "sSwfPath": "/static/packages/TableTools/media/swf/copy_csv_xls_pdf.swf"
                },
                "iDisplayLength": 50,
                "bLengthChange": true,
                "bDeferRender": true,
                "bSortClasses": false
            } );
            console.timeEnd("Creating table");
        });
    </script>
{% endblock %}