<title>Loading Mapping Results</title>
<link REL="stylesheet" TYPE="text/css" href="/static/packages/bootstrap/css/bootstrap.css" />
<form method="post" action="/run_mapping" name="loading_form" id="loading_form" class="form-horizontal">
  {% for key, value in start_vars.iteritems() %}
  <input type="hidden" name="{{ key }}" value="{{ value }}">
  {% endfor %}
  <div class="container">
    <div>
      <div style="min-height: 80vh; display: flex; align-items: center;">
        <div style="margin-bottom: 10px; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); position: absolute;">
        <h1>Loading&nbsp;Mapping&nbsp;Results...</h1>
        </div>
        <div class="progress center-block" style="margin-top: 5px; margin-left: 25%; margin-right: 25%; position: absolute; height:50px; width:50%; top:50%;">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;"></div>
        </div>
      </div>
    </div>
  </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/packages/bootstrap/js/bootstrap.min.js"></script>
<script  type="text/javascript">
$("#loading_form").submit();
</script>