<title>Loading {{ start_vars.tool_used }} Results</title>
<link REL="stylesheet" TYPE="text/css" href="/static/packages/bootstrap/css/bootstrap.css" />
<form method="post" action="" name="loading_form" id="loading_form" class="form-horizontal">
  {% for key, value in start_vars.items() %}
  <input type="hidden" name="{{ key }}" value="{{ value }}">
  {% endfor %}
  <div class="container">
    <div>
      <div style="min-height: 80vh; display: flex; align-items: center; text-align: center;">
        <div style="margin-bottom: 5px; left: 50%; margin-right: -50%; margin-top: 10%; transform: translate(-50%, -50%); position: absolute;">
        {% if start_vars.tool_used == "Mapping" %}
        <span>{{ start_vars }}</span>
        <h1>Computing the Maps</h1>
        <br>
        Method = {% if start_vars.method == "gemma" %}GEMMA{% else %}{{ start_vars.method }}{% endif %}
        <br>
        {% if start_vars.method == "gemma" and start_vars.use_loco == 'True' %}
        Using LOCO (leave one chromosome out)
        <br>
        {% endif %}
        <i>n</i> = {{ start_vars.n_samples }}
        <br>
        {% if start_vars.num_perm != '0' %}
        # Permutations = {{ start_vars.num_perm }}
        <br>
        {% endif %}
        {% if start_vars.method == "reaper" and start_vars.num_bootstrap != '0' %}
        # Bootstrap = {{ start_vars.num_bootstrap }}
        <br>
        {% endif %}
        {% if start_vars.do_control == 'True' and start_vars.control_marker != '' %}
        Controlling for marker {{ start_vars.control_marker }}
        <br>
        {% endif %}
        {% if start_vars.covariates != '' and (start_vars.method == "gemma" or start_vars.method == "rqtl_geno") %}
        {% set covariates_list = start_vars.covariates.split(',') %}
        Using {% if covariates_list|length > 2 %}{% for covariate in covariates_list[:-1] %}{{ covariate.split(':')[0] }}, {% endfor %}{% else %}{{ covariates_list[0].split(':')[0] }} {% endif %}and {{ covariates_list[-1].split(':')[0] }} as cofactors
        <br>
        {% endif %}
        {% if start_vars.transform != "" %}
        transform = {{ start_vars.transform }}
        <br>
        {% endif %}
        MAF >= {{ start_vars.maf }}
        {% else %}
        <h1>Loading&nbsp;{{ start_vars.tool_used }}&nbsp;Results...</h1>
        {% endif %}
        <br><br>
        <img align="center" src="/static/gif/89.gif">
        </div>
        <!--<div style="margin-left: auto; margin-right: auto; display: block; width: 50%; top:50%;">
            <img align="center" src="/static/gif/89.gif">
        </div>-->
        <!--
        <div class="progress center-block" style="margin-left: 25%; margin-right: 25%; position: absolute; height:50px; width:50%; top:50%;">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;"></div>
        </div>
        -->
      </div>
    </div>
  </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/packages/bootstrap/js/bootstrap.min.js"></script>
<script  type="text/javascript">

$("#loading_form").attr("action", "{{ start_vars.form_url }}");
setTimeout(function(){ $("#loading_form").submit()}, 350);
</script>
