<!DOCTYPE html>
<html>

  <head>
    <title>Loading Correlation Results</title>

    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="5">

    <link rel="stylesheet" type="text/css"
	  href="{{url_for('toplevel.main_views.css', filename='bootstrap/css/bootstrap.css')}}" />
    <link rel="stylesheet" type="text/css"
	  href="/static/new/css/bootstrap-custom.css" />
  </head>

  <body>
    <div style="margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <h1>&nbsp;Correlation Computation in progress ...</h1>
      <div style="text-align: center;">
	<img align="center" src="/static/gif/waitAnima2.gif">
      </div>
    </div>

    <script src="{{ url_for('toplevel.main_views.js', filename='jquery/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('toplevel.main_views.js', filename='bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
  </body>

</html>
