{%extends "base.html"%}
{%block titl%}Error{%endblock%}
{%block content%}
<!-- Start of body -->
{{ header("An error occurred during mapping") }}

<div class="container">
  <h3>
    {%if error:%}
    <p>
      The following error was raised<br /><br />
      <dl>
	<dt>Error message</dt>
	<dd>{{error.args[0]}}</dd>
	<dt>Error Type</dt>
	<dd>{{error_type}}</dd>
      </dl>
    </p>
    <p>
      Please contact Zach Sloan (zachary.a.sloan@gmail.com) or Arthur Centeno
      (acenteno@gmail.com) about the error.
    </p>
    {%else:%}
    <p>There is likely an issue with the genotype file associated with this group/RISet. Please contact Zach Sloan (zachary.a.sloan@gmail.com) or Arthur Centeno (acenteno@gmail.com) about the data set in question.</p>
  </h3>
  <br>
  <h3>
    <p>Try mapping using interval mapping instead; some genotype files with many columns of NAs have issues with GEMMA or R/qtl.</p>
    {%endif%}
  </h3>
</div>


<!-- End of body -->

{%endblock%}
