{% extends "base.html" %}
{% block title %}Error{% endblock %}
{% block content %}
<!-- Start of body -->
    {{ header("An error occurred during mapping") }}

    <div class="container">
    <h3>
        <p>There is likely an issue with the genotype file associated with this group/RISet. Please contact Zach Sloan (zachary.a.sloan@gmail.com) or Arthur Centeno (acenteno@gmail.com) about the data set in question.</p>
    </h3>
    <br>
    <h3>
        <p>Try mapping using interval mapping instead; some genotype files with many columns of NAs have issues with GEMMA or R/qtl.</p>
    </h3>
    </div>


<!-- End of body -->

{% endblock %}
