{% extends "base.html" %}
{% block title %}Interval Mapping{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/new/css/marker_regression.css" />
    <link rel="stylesheet" type="text/css" href="/static/new/css/show_trait.css" />
    <link rel="stylesheet" type="text/css" href="/static/new/packages/DataTables/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/static/packages/DT_bootstrap/DT_bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/packages/TableTools/media/css/TableTools.css" />
    <link rel="stylesheet" type="text/css" href="/static/new/css/d3-tip.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/new/css/panelutil.css" />
{% endblock %}
{% block content %} <!-- Start of body -->

    {{ header("Mapping",
        '{}: {}'.format(this_trait.name, this_trait.description_fmt)) }}

    <div class="container">
        <div>
            <h2>
                Whole Genome Mapping
            </h2>
            <form style ='float: left; padding: 5px;' id="exportform" action="export" method="post">
              <input type="hidden" id="data" name="data" value="">
              <input type="hidden" id="filename" name="filename" value="">
              <input type="submit" id="export" value="Download SVG">
            </form>
            <form style ='float: left; padding: 5px;' id="exportpdfform" action="export_pdf" method="post">
              <input type="hidden" id="data" name="data" value="">
              <input type="hidden" id="filename" name="filename" value="">
              <input type="submit" id="export_pdf" value="Download PDF">
            </form>
<!--            <button id="export_pdf" class="btn">Export PDF</button>-->
        </div>
        <div id="chart_container">
            <div class="qtlcharts" id="topchart">
                
            </div>
        </div>
        <div>
            <h2>
                Results
            </h2>
            <table cellpadding="0" cellspacing="0" border="0" id="qtl_results" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <td>Index</td>
                        <td>LOD Score</td>
                        <td>Chr</td>
                        <td>Mb</td>
                        <td>Locus</td>
                   </tr>
                </thead>
                <tbody>
                    {% for marker in filtered_markers %}
                        {% if marker.lod_score > lod_cutoff %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{marker.lod_score}}</td>
                            <td>{{marker.chr}}</td>
                            <td>{{marker.Mb}}</td>
                            <td>{{marker.name}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- End of body -->

{% endblock %}

{% block js %}  
    <script>
        js_data = {{ js_data | safe }}
    </script>

    <script language="javascript" type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/js_external/d3-tip.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/jsPDF/libs/FileSaver.js/FileSaver.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/jsPDF/libs/Blob.js/BlobBuilder.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/jsPDF/jspdf.plugin.standard_fonts_metrics.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/jsPDF/jspdf.plugin.from_html.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/panelutil.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/chr_lod_chart.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/lod_chart.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/javascript/create_lodchart.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/dataTables.scientific.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/DT_bootstrap/DT_bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/TableTools/media/js/TableTools.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/underscore/underscore-min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready( function () {
            console.time("Creating table");
            $('#qtl_results').dataTable( {
                //"sDom": "<<'span3'l><'span3'T><'span4'f>'row-fluid'r>t<'row-fluid'<'span6'i><'span6'p>>",
                "sDom": "lTftipr",
                "oTableTools": {
                    "aButtons": [
                        "copy",
                        "print",
                        {
                            "sExtends":    "collection",
                            "sButtonText": 'Save <span class="caret" />',
                            "aButtons":    [ "csv", "xls", "pdf" ]
                        }
                    ],
                    "sSwfPath": "/static/packages/TableTools/media/swf/copy_csv_xls_pdf.swf"
                },
                "iDisplayLength": 50,
                "bLengthChange": true,
                "bDeferRender": true,
                "bSortClasses": false
            } );
            console.timeEnd("Creating table");
        });
    </script>
{% endblock %}