{% extends "base.html" %}
{% block title %}Mapping Results{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/new/packages/DataTables/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/static/packages/DT_bootstrap/DT_bootstrap.css" />
{% endblock %}
{% from "base_macro.html" import header %}
{% block content %}
    {{ header("Mapping",
        '{}: {}'.format(this_trait.name, this_trait.description_fmt)) }}

    <div class="container">
        <div>
            <h2>
                Whole Genome Mapping
            </h2>
        </div>
        <div id="chart_container">
            <div class="qtlcharts" id="topchart">
                {{ gifmap|safe }}
                <img src="/static/output/{{ filename }}.jpeg" usemap="#WebQTLImageMap">
            </div>
        </div>
        <div style="width:45%;">
            <h2>
                Results
            </h2>
            <table id="qtl_results" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Index</th>
                        <th>{{ LRS_LOD }}</th>
                        <th>Chr</th>
                        {% if plotScale == "centimorgan" %}
                        <th>cM</th>
                        {% else %}
                        <th>Mb</th>
                        {% endif %}
                        <th>Locus</th>
                   </tr>
                </thead>
                <tbody>
                    {% for marker in qtlresults %}
                        {% if (LRS_LOD == "LOD" and marker.lod_score|float > cutoff|float) or
                              (LRS_LOD == "LRS" and marker.lrs_value|float > cutoff|float) %}
                        <tr>
                            <td>
                                <input type="checkbox" name="selectCheck"
                                       class="checkbox edit_sample_checkbox"
                                       value="{{ marker.name }}" checked="checked">
                            </td>
                            <Td align="right">{{ loop.index }}</Td>
                            {% if score_type == "LOD" %}
                            <td>{{ '%0.2f' | format(marker.lod_score|float) }}</td>
                            {% else %}
                            <td>{{ '%0.2f' | format(marker.lrs_value|float) }}</td>
                            {% endif %}
                            <td>{{marker.chr}}</td>
                            <td>{{ '%0.6f' | format(marker.Mb|float) }}</td>
                            <td>
                                {{ marker.name }}
                                <!--<a href="{{ url_for('show_trait_page',
                                        trait_id = marker.name,
                                        dataset = dataset.name
                                        )}}">
                                    {{ marker.name }}
                                </a>-->
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- End of body -->

{% endblock %}

{% block js %}  

    <script type="text/javascript" src="/static/new/js_external/underscore-min.js"></script>
    <script type="text/javascript" src="/static/new/js_external/underscore.string.min.js"></script>

    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/jquery.dataTables.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.0/js/dataTables.buttons.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.0/js/buttons.html5.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.datatables.net/buttons/1.0.0/js/buttons.bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/dataTables.scientific.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/dataTables.naturalSort.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/extensions/dataTables.colResize.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/extensions/dataTables.colReorder.js"></script>

    <script>
        js_data = {{ js_data | safe }}
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready( function () {
            console.time("Creating table");
            $('#qtl_results').dataTable( {
                "columns": [
                    { "type": "natural", "bSortable": false },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural" },
                    { "type": "natural" }
                    ],
                "buttons": [
                    'csv'
                ],
                "sDom": "RZBtir",
                "iDisplayLength": -1,
                "autoWidth": true,
                "bDeferRender": true,
                "bSortClasses": false,
                "scrollY": "700px",
                "scrollCollapse": true,
                "paging": false
            } );
            console.timeEnd("Creating table");

        });
    </script>

{% endblock %}

