{%extends "base.html"%}

{%block title%}Partial Correlations:{%endblock%}

{%block css%}
<link rel="stylesheet" type="text/css" href="/static/new/css/partial_correlations.css" />
{%endblock%}

{%block content%}
<form id="partial-correlations-form"
      method="POST"
      action="{{url_for('partial_correlations')}}">

  <div id="main-form">
    {%with messages = get_flashed_messages(with_categories=true)%}
    {%if messages:%}
    <ul class=flashes>
      {%for category, message in messages:%}
      <li class="{{category}}">{{message}}</li>
      {%endfor%}
    </ul>
    {%endif%}
    {%endwith%}

    {%if step == "select-primary":%}
    <p>Please select the primary trait (X)</p>
    {%include "with-trait-items.html" %}

    <button type="submit" class="btn btn-primary">
      Next: Select Control Traits
    </button>
    {%endif%}



    {%if step == "select-controls":%}

    <p>Select a maximum of three (3) control traits (Z)</p>
    {%include "with-trait-items.html" %}

    <button type="submit" class="btn btn-primary">
      Next: Select Target
    </button>
    {%endif%}



    {%if step == "select-targets":%}
    <p>Select at least one target trait (Y)</p>
    {%for trait in traits_list:%}
    <div class="label-element-combo">
      <input type="checkbox"
	     name="target_traits[]"
	     value="{{trait['name']}}:::{{trait['dataset']}}:::{{trait['symbol']}}:::{{trait['description']}}:::{{trait['data_hmac']}}"
	     checked="checked"
	     id="trait_{{trait['data_hmac']}}" />
      <label for="trait_{{trait['data_hmac']}}">
	{{trait["name"]}} - {{trait["symbol"]}} - {{trait["description"]}}
      </label>
    </div>
    {%endfor%}
    <button type="submit" class="btn btn-primary">
      Next: Select Correlation Method
    </button>
    {%endif%}



    {%if step == "select-corr-method":%}
    <div class="label-element-combo">
      <label for="target-db-input">Choose Database</label>
      <select id="target-db-input" required="required" name="target_db">
	{%if target_dbs:%}
	{%for item in target_dbs:%}
	{%if "description" in item.keys():%}
        <option value="{{item['value']}}">{{item['description']}}</option>
	{%else:%}
	{%for group, opts in item.items()%}
	{%if opts | length > 0:%}
	<optgroup label="{{group}} ------">
	  {%for item2 in opts:%}
	  <option value="{{item2['value']}}">{{item2['description']}}</option>
	  {%endfor%}
	</optgroup>
	{%endif%}
	{%endfor%}
	{%endif%}
	{%endfor%}
	{%endif%}
      </select>
    </div>

    <div class="label-element-combo">
      <label for="corr-method-input">Compute</label>
      <select id="corr-method-input" required="required" name="method">
	<option value="Genetic Correlation, Pearson's r">
	  Genetic Correlation, Pearson's r</option>
	<option value="Genetic Correlation, Spearman's rho">
	  Genetic Correlation, Spearman's rho</option>
	<option value="SGO Literature Correlation">
	  SGO Literature Correlation</option>
	<option value="Tissue Correlation, Pearson's r">
	  Tissue Correlation, Pearson's r</option>
	<option value="Tissue Correlation, Spearman's rho">
	  Tissue Correlation, Spearman's rho</option>
      </select>
    </div>

    <div class="label-element-combo">
      <label for="criteria-input">Return</label>
      <select id="criteria-input" required="required" name="criteria" size="1">
	<option value="100">top 100</option>
	<option value="200">top 200</option>
	<option value="500" selected="selected">top 500</option>
	<option value="1000">top 1000</option>
	<option value="2000">top 2000</option>
	<option value="5000">top 5000</option>
	<option value="10000">top 10000</option>
	<option value="15000">top 15000</option>
	<option value="20000">top 20000</option>
      </select>
    </div>

    <button id="run-partial-corr-button"
	    type="submit"
	    class="btn btn-primary"
	    data-url="{{part_corr_url}}">
      Run Partial Correlation
    </button>
    {%endif%}

    {%if step == "run-correlation":%}
    <input type="hidden" name="selected_method" value="{{method}}" />
    <input type="hidden" name="selected_target_db" value="{{target_db}}" />
    <input type="hidden" name="selected_criteria" value="{{criteria}}" />

    {{corr_results}}
    {%endif%}
  </div>

  <div id="form-display-area">
    <input type="hidden" name="step" id="step-indicator" value="{{step}}" />
    <input type="hidden"
	   name="traits_list"
	   value="{% for trait in traits_list %}{{trait['name']}}:::{{trait['dataset']}}:::{{trait['symbol']}}:::{{trait['description']}}:::{{trait['location']}}:::{{trait['mean_expr']}}:::{{trait['max_lrs']}}:::{{trait['data_hmac']}}|||{% endfor %}">

    {%if primary_trait:%}
    <input type="hidden"
	   name="primary_trait"
	   value="{{primary_trait['name']}}:::{{primary_trait['dataset']}}:::{{primary_trait['symbol']}}:::{{primary_trait['description']}}:::{{primary_trait['location']}}:::{{primary_trait['mean_expr']}}:::{{primary_trait['max_lrs']}}:::{{primary_trait['data_hmac']}}"
	   id="trait_{{primary_trait['data_hmac']}}" />

    <div class="panel panel-info">
      <div class="panel-heading">Primary Trait (X)</div>
      <div class="panel-body">
	{{primary_trait["name"]}}&nbsp;-&nbsp;
	{{primary_trait["symbol"]}}&nbsp;-&nbsp;{{primary_trait["description"]}}
      </div>
    </div>
    {%endif%}

    {%if target_traits:%}
    <input type="hidden"
	   name="target_traits"
	   value="{%for trait in target_traits:%}{{trait['name']}}:::{{trait['dataset']}}:::{{trait['symbol']}}:::{{trait['description']}}:::{{trait['location']}}:::{{trait['mean_expr']}}:::{{trait['max_lrs']}}:::{{trait['data_hmac']}}|||{%endfor%}" />
    <div class="panel panel-info">
      <div class="panel-heading">Target Traits (Y)</div>
      <div class="panel-body">
	<ul>
	  {%for trait in target_traits:%}
	  <li>
	    {{trait["name"]}}&nbsp;-&nbsp;{{trait["symbol"]}}&nbsp;-&nbsp;
	    {{trait["description"]}}</li>
	  {%endfor%}
	</ul>
      </div>
    </div>
    {%endif%}

    {%if control_traits:%}
    <input type="hidden"
	   name="control_traits"
	   value="{%for trait in control_traits:%}{{trait['name']}}:::{{trait['dataset']}}:::{{trait['symbol']}}:::{{trait['description']}}:::{{trait['location']}}:::{{trait['mean_expr']}}:::{{trait['max_lrs']}}:::{{trait['data_hmac']}}|||{%endfor%}" />
    <div class="panel panel-info">
      <div class="panel-heading">Control Traits (Z)</div>
      <div class="panel-body">
	<ul>
	  {%for trait in control_traits:%}
	  <li>
	    {{trait["name"]}}&nbsp;-&nbsp;{{trait["symbol"]}}&nbsp;-&nbsp;
	    {{trait["description"]}}</li>
	  {%endfor%}
	</ul>
      </div>
    </div>
    {%endif%}
  </div>

</form>

<div id="partial-correlation-results">
  <span id="partial-correlations-progress-indicator"
	style="display: {%if step == 'run-correlation':%}block{%else:%}none{%endif%};">
    <img src="/static/gif/waitAnima2.gif">
  </span>
  <div id="part-corr-success">
    <table id="part-corr-results-publish" style="display:none;">
      <thead>
	<tr>
	  <th>_</th>
	  <th>Record</th>
	  <th>Phenotype</th>
	  <th>Authors</th>
	  <th>Year</th>
	  <th>N</th>
	  <th>Partial {%if "spearman" in (method | lower):%}rho{%else:%}r{%endif%}</th>
	  <th>p(partial {%if "spearman" in (method | lower):%}rho{%else:%}r{%endif%})</th>
	  <th>{%if "spearman" in (method | lower):%}rho{%else:%}r{%endif%}</th>
	  <th>p({%if "spearman" in (method | lower):%}rho{%else:%}r{%endif%})</th>
	  <th>delta {%if "spearman" in (method | lower):%}rho{%else:%}r{%endif%}</th>
	</tr>
      </thead>

      <tbody>
	<tr class="template-publish-results-row">
	  <td data-column-heading="_"></td>
	  <td data-column-heading="Record"></td>
	  <td data-column-heading="Phenotype"></td>
	  <td data-column-heading="Authors"></td>
	  <td data-column-heading="Year"></td>
	  <td data-column-heading="N"></td>
	  <td data-column-heading="Partial {%if 'spearman' in (method | lower):%}rho{%else:%}r{%endif%}">
	  </td>
	  <td data-column-heading="p(partial {%if 'spearman' in (method | lower):%}rho{%else:%}r{%endif%})">
	  </td>
	  <td data-column-heading="{%if 'spearman' in (method | lower):%}rho{%else:%}r{%endif%}">
	  </td>
	  <td data-column-heading="p({%if 'spearman' in (method | lower):%}rho{%else:%}r{%endif%})">
	  </td>
	  <td data-column-heading="delta {%if 'spearman' in (method | lower):%}rho{%else:%}r{%endif%}">
	  </td>
	</tr>
      </tbody>
    </table>

    <table id="part-corr-results-geno" style="display:none;">
      <thead>
	<tr>
	  <th>_</th>
	  <th>Chr</th>
	  <th>Megabase</th>
	  <th>N</th>
	  <th>Partial {%if "spearman" in (method | lower):%}rho{%else:%}r{%endif%}</th>
	  <th>p(partial {%if "spearman" in (method | lower):%}rho{%else:%}r{%endif%})</th>
	  <th>{%if "spearman" in (method | lower):%}rho{%else:%}r{%endif%}</th>
	  <th>p({%if "spearman" in (method | lower):%}rho{%else:%}r{%endif%})</th>
	  <th>delta {%if "spearman" in (method | lower):%}rho{%else:%}r{%endif%}</th>
	</tr>
      </thead>

      <tbody>
	<tr class="template-geno-results-row">
	  <td data-column-heading="_"></td>
	  <td data-column-heading="Chr"></td>
	  <td data-column-heading="Megabase"></td>
	  <td data-column-heading="N"></td>
	  <td data-column-heading="Partial {%if 'spearman' in (method | lower):%}rho{%else:%}r{%endif%}">
	  </td>
	  <td data-column-heading="p(partial {%if 'spearman' in (method | lower):%}rho{%else:%}r{%endif%})">
	  </td>
	  <td data-column-heading="{%if 'spearman' in (method | lower):%}rho{%else:%}r{%endif%}">
	  </td>
	  <td data-column-heading="p({%if 'spearman' in (method | lower):%}rho{%else:%}r{%endif%})">
	  </td>
	  <td data-column-heading="delta {%if 'spearman' in (method | lower):%}rho{%else:%}r{%endif%}">
	  </td>
	</tr>
      </tbody>
    </table>

    <table id="part-corr-results-probeset" style="display:none;">
      <thead>
	<tr>
	  <th>_</th>
	  <th>Record</th>
	  <th>Gene ID</th>
	  <th>Homologene ID</th>
	  <th>Symbol</th>
	  <th>Description</th>
	  <th>Chr</th>
	  <th>Megabase</th>
	  <th>Mean Expr</th>
	  <th>N</th>
	  <th>Sample Partial {%if "spearman" in (method | lower):%}rho{%else:%}r{%endif%}</th>
	  <th>Sample p(partial {%if "spearman" in (method | lower):%}rho{%else:%}r{%endif%})</th>
	  <th>Sample {%if "spearman" in (method | lower):%}rho{%else:%}r{%endif%}</th>
	  <th>Sample p({%if "spearman" in (method | lower):%}rho{%else:%}r{%endif%})</th>
	  <th>delta {%if "spearman" in (method | lower):%}rho{%else:%}r{%endif%}</th>
	  <th>Lit Corr</th>
	  <th>Tissue {%if "spearman" in (method | lower):%}rho{%else:%}r{%endif%}</th>
	  <th>Tissue p({%if "spearman" in (method | lower):%}rho{%else:%}r{%endif%})</th>
	</tr>
      </thead>

      <tbody>
	<tr class="template-probeset-results-row">
	  <td data-column-heading="_"></td>
	  <td data-column-heading="Record"></td>
	  <td data-column-heading="Gene ID"></td>
	  <td data-column-heading="Homologene ID"></td>
	  <td data-column-heading="Symbol"></td>
	  <td data-column-heading="Description"></td>
	  <td data-column-heading="Chr"></td>
	  <td data-column-heading="Megabase"></td>
	  <td data-column-heading="Mean Expr"></td>
	  <td data-column-heading="N"></td>
	  <td data-column-heading="Sample Partial {%if 'spearman' in (method | lower):%}rho{%else:%}r{%endif%}"></td>
	  <td data-column-heading="Sample p(partial {%if 'spearman' in (method | lower):%}rho{%else:%}r{%endif%})"></td>
	  <td data-column-heading="Sample {%if 'spearman' in (method | lower):%}rho{%else:%}r{%endif%}"></td>
	  <td data-column-heading="Sample p({%if 'spearman' in (method | lower):%}rho{%else:%}r{%endif%})"></td>
	  <td data-column-heading="delta {%if 'spearman' in (method | lower):%}rho{%else:%}r{%endif%}"></td>
	  <td data-column-heading="Lit Corr"></td>
	  <td data-column-heading="Tissue {%if 'spearman' in (method | lower):%}rho{%else:%}r{%endif%}"></td>
	  <td data-column-heading="Tissue p({%if 'spearman' in (method | lower):%}rho{%else:%}r{%endif%})"></td>
	</tr>
      </tbody>
    </table>
  </div>
  <div id="part-corr-error">
  </div>
</div>
{%endblock%}

{%block js%}
{%if step == "select-corr-method":%}
<script type="text/javascript"
	src="/static/new/javascript/partial_correlations.js"></script>
{%endif%}
{%endblock%}
