{% extends "base.html" %}

{% block css %}
<style type="text/css">
 .page-header {
     text-underline-offset: 0.5rem;
     padding: 1em;
 }
</style>
{% endblock %}

{% block title %}Phenotype: {{ name }}{% endblock %}

{% block content %}

<h1 class="page-header">
    <u>Phenotype: {{ metadata.traitName }} ({{ metadata.abbreviation}})</u>
</h1>

<div class="container">
    <table class="table">
	<tr>
            <td><b>Species</b></td>
            <td>{{ metadata.species or "N/A" }}</td>
	</tr>
	<tr>
            <td><b>Group</b></td>
            <td>{{ metadata.group or "N/A" }}</td>
        </tr>

	<tr>
            <td><b>Phenotype</b></td>
            <td>{{ metadata.description or "N/A"}}</td>
	</tr>

        {% if metadata.creator %}
        <tr>
            <td><b>Authors</b></td>
            <td>
                {% if metadata.creator is iterable %}
                {{ metadata.creator |join(", ") }}
                {% for creator in metadata.creator %}
                {{ creator }}
                {% endfor %}
                {% else %}
                metadata.creator
                {% endif %}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td><b>Title</b></td>
	    <td><a href="{{ metadata.references.id }}" target="_blank">{{ metadata.title or "N/A"}}</a></td>
        </tr>

	<tr>
	    <td><b>Database</b></td>
	    <td>
		{% for database in metadata.dataset %}
		{% set dataset_url = url_for('get_dataset', name=database.identifier)%}
		<a href="{{ dataset_url }}" target="blank">{{ database.prefLabel }}</a> <br/>
                {% endfor %}
	    </td>
	</tr>

	<tr>
	    <td><b>Journal</b></td>
	    <td>{{ metadata.journal or "N/A"}}</td>
	</tr>

	<tr>
	    <td><b>Volume</b></td>
	    <td>{{ metadata.volume or "N/A"}}</td>
	</tr>

	<tr>
	    <td><b>Month</b></td>
	    <td>{{ metadata.month or "N/A"}}</td>
	</tr>

	<tr>
	    <td><b>Page</b></td>
	    <td>{{ metadata.page or "N/A"}}</td>
	</tr>

	<tr>
	    <td><b>Year</b></td>
	    <td>{{ metadata.year or "N/A"}}</td>
	</tr>

	<tr>
	    <td><b>Mean</b></td>
	    <td>{{ metadata.mean or "N/A"}}</td>
	</tr>

	<tr>
	    <td><b>LRS</b></td>
	    <td>{{ metadata.LRS or "N/A"}}</td>
	</tr>

	<tr>
	    <td><b>Additive</b></td>
	    <td>{{ metadata.Additive or "N/A"}}</td>
	</tr>
    </table>
</div>


{% endblock %}
