{% extends "base.html" %}

{% block css %}
<style type="text/css">
 .page-header {
     padding: 1em;
 }
</style>
{% endblock %}

{% block title %}Phenotype: {{ name }}{% endblock %}

{% block content %}

<h1 class="page-header">
    Phenotype: {{ metadata.traitName }} ({{ metadata.abbreviation }})
</h1>

<div class="container">
    <table class="table">
	<tr>
            <td><b>Species</b></td>
            <td>{{ metadata.species or "N/A" }}</td>
	</tr>
	<tr>
            <td><b>Group</b></td>
            <td>{{ metadata.group or "N/A" }}</td>
        </tr>

	<tr>
            <td><b>Phenotype</b></td>
            <td>{{ metadata.description or "N/A"}}</td>
	</tr>

        {% if metadata.creator %}
        <tr>
            <td><b>Authors</b></td>
            <td>
                {% if metadata.creator is iterable %}
                {{ metadata.creator |join(", ") }}
                {% for creator in metadata.creator %}
                {{ creator }}
                {% endfor %}
                {% else %}
                metadata.creator
                {% endif %}
                {% endif %}
            </td>
        </tr>
	{% if metadata.references.id %}
	<tr>
	    <td><b>Publication</b></td>
	    <td>
		<i>{{ metadata.references.title }}.</i> {{ ', '.join(metadata.references.creator) }}. {{ metadata.references.year }} {{ metadata.references.month }}{{ metadata.references.volume }}:{{ metadata.references.page }}
		<sup>
		    <a href="{{ metadata.references.id }}" target="_blank"><small>PubMed<sup>&#32;<span class="glyphicon glyphicon-new-window"></span></sup></small></a>
		</sup>
	    </td>
	</tr>
	{% endif %}

	<tr>
	    <td><b>Database</b></td>
	    <td>
		{% for database in metadata.dataset %}
		<a href="{{ url_for('get_dataset', name='database.identifier' )}}" target="blank">{{ database.prefLabel }}</a> <br/>
                {% endfor %}
	    </td>
	</tr>

	<tr>
	    <td><b>Mean</b></td>
	    <td>{{ metadata.mean or "N/A"}}</td>
	</tr>

	<tr>
	    <td><b>Peak -logP</b></td>
	    <td>{{ metadata.lodScore or "N/A"}}</td>
	</tr>

	<tr>
	    <td><b>Effect Size</b></td>
	    <td>{{ metadata.additive or "N/A"}}</td>
	</tr>
	{% if metadata.references.id %}
	<tr>
	    <td><b>Resource Links</b></td>
	    <td>
		<a href="{{ metadata.references.id }}" target="_blank">PubMed</a>
	    </td>
	</tr>
	{% endif %}
    </table>
</div>


{% endblock %}
