{% extends "base.html" %}
{% block title %}QuickSearch Results{% endblock %}
{% block content %}
<!-- Start of body -->
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h1>QuickSearch Results</h1>
            <p class="lead">
                GeneNetwork found {{ numify(results|count, "record", "records") }}.
            </p>
        </div>
    </header>

    <div class="container">
        <div class="page-header">
            <h1>Your Search</h1>
        </div>

        <p>We across all data sets to find all records that match:</p>

        <ul>
            {% if search_terms %}
            <li>
                <strong>{{search_terms}}</strong> 
            </li>
            {% endif %}
        </ul>
        
        <p>To study a record, click on its ID below.<br />
        Check records below and click Add button to add to selection.</p>

        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                {% if results.phenotype %}
                <li class="active"> <a href="#tab1" data-toggle="tab">Phenotype</a></li>
                {% endif %}
                {% if results.mrna_assay %}
                <li>                <a href="#tab2" data-toggle="tab">mRNA Assay</a></li>
                {% endif %}
                {% if results.genotype %}
                <li>                <a href="#tab3" data-toggle="tab">Genotype</a></li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs">
                            {% for species in species_groups.phenotype %}
                            <li> <a href="#tab1_{{ loop.index }}" data-toggle="tab">{{ species }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for species in species_groups.phenotype %}
                            <div class="tab-pane active" id="tab{{ loop.index }}">
                                <table id="pheno_results" class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                        <th>Id</th>
                                        <th>Species</th>
                                        <th>Group</th>
                                        <th>Description</th>
                                        <th>LRS</th>
                                        <th>Year</th>
                                        <th>Authors</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for result in results.phenotype %}
                                        {% if result.result_fields['species'] == species %}
                                        <tr>
                                            <td>{{ result.result_fields['phenotype_id'] }}</td>
                                            <td>{{ result.result_fields['species'] }}</td>
                                            <td>{{ result.result_fields['group_name'] }}</td>
                                            <td>{{ result.result_fields['description'] }}</td>
                                            <td>{{ result.result_fields['lrs'] }}</td>
                                            <td>
                                                <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids={{ result.result_fields['pubmed_id'] }}&dopt=Abstract">
                                                    {{ result.result_fields['year'] }}
                                                </a>
                                            </td>
                                            <td>{{ result.result_fields['authors'] }}</td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="tab2">
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs">
                            {% for species in species_groups.mrna_assay %}
                            <li> <a href="#tab2_{{ loop.index }}" data-toggle="tab">{{ species }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for species in species_groups.mrna_assay %}
                            <div class="tab-pane active" id="tab{{ loop.index }}">
                                <table id="mrna_assay_results" class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                        <th>Record ID</th>
                                        <th>Species</th>
                                        <th>Group</th>
                                        <th>Data Set</th>
                                        <th>Symbol</th>
                                        <th>Description</th>
                                        <th>Location</th>
                                        <th>Mean Expr</th>
                                        <th>Max LRS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for result in results.mrna_assay %}
                                        {% if result.result_fields['species'] == species %}
                                        <tr>
                                            <td>
                                                <a href="http://gn2python.genenetwork.org/show_trait?trait_id={{ result.result_fields['name'] }}&dataset={{ result.result_fields['dataset'] }}"
                                                   {{ result.result_fields['name'] }}
                                                </a>
                                            </td>
                                            <td>{{ result.result_fields['species'] }}</td>
                                            <td>{{ result.result_fields['group_name'] }}</td>
                                            <td>{{ result.result_fields['dataset_name'] }}</td>
                                            <td>{{ result.result_fields['symbol'] }}</td>
                                            <td>{{ result.result_fields['description'] }}</td>
                                            <td>{{ result.result_fields['chr'] }} : {{ result['mb'] }}</td>
                                            <td>{{ result.result_fields['mean'] }}</td>
                                            <td>{{ result.result_fields['lrs'] }}</td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>       
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="tab3">
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs">
                            {% for species in species_groups.genotype %}
                            <li> <a href="#tab3_{{ loop.index }}" data-toggle="tab">{{ species }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for species in species_groups.genotype %}
                            <div class="tab-pane active" id="tab{{ loop.index }}">
                                <table id="geno_results" class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                        <th>Marker</th>
                                        <th>Species</th>
                                        <th>Group</th>
                                        <th>Data Set</th>
                                        <th>Location</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for result in results.genotype %}
                                        {% if result.result_fields['species'] == species %}
                                        <tr>
                                            <td>
                                                <a href="http://gn2python.genenetwork.org/show_trait?trait_id={{ result.result_fields['marker_name'] }}&dataset={{ result.result_fields['dataset'] }}">
                                                    {{ result.result_fields['marker_name'] }}
                                                </a>
                                            </td>
                                            <td>{{ result.result_fields['species'] }}</td>
                                            <td>{{ result.result_fields['group_name'] }}</td>
                                            <td>{{ result.result_fields['dataset_name'] }}</td>
                                            <td>{{ result.result_fields['chr'] }} : {{ result.result_fields['mb'] }}</td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>   
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
                {#
                    <table id="pheno_results" class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                            <th>Id</th>
                            <th>Species</th>
                            <th>Group</th>
                            <th>Description</th>
                            <th>LRS</th>
                            <th>Year</th>
                            <th>Authors</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results.phenotype %}
                            <tr>
                                <td>{{ result.result_fields['phenotype_id'] }}</td>
                                <td>{{ result.result_fields['species'] }}</td>
                                <td>{{ result.result_fields['group_name'] }}</td>
                                <td>{{ result.result_fields['description'] }}</td>
                                <td>{{ result.result_fields['lrs'] }}</td>
                                <td>
                                    <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids={{ result.result_fields['pubmed_id'] }}&dopt=Abstract">
                                        {{ result.result_fields['year'] }}
                                    </a>
                                </td>
                                <td>{{ result.result_fields['authors'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="tab2">
                    <table id="mrna_assay_results" class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                            <th>Record ID</th>
                            <th>Species</th>
                            <th>Group</th>
                            <th>Data Set</th>
                            <th>Symbol</th>
                            <th>Description</th>
                            <th>Location</th>
                            <th>Mean Expr</th>
                            <th>Max LRS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results.mrna_assay %}
                            <tr>
                                <td>
                                    <a href="http://gn2python.genenetwork.org/show_trait?trait_id={{ result.result_fields['name'] }}&dataset={{ result.result_fields['dataset'] }}"
                                       {{ result.result_fields['name'] }}
                                    </a>
                                </td>
                                <td>{{ result.result_fields['species'] }}</td>
                                <td>{{ result.result_fields['group_name'] }}</td>
                                <td>{{ result.result_fields['dataset_name'] }}</td>
                                <td>{{ result.result_fields['symbol'] }}</td>
                                <td>{{ result.result_fields['description'] }}</td>
                                <td>{{ result.result_fields['chr'] }} : {{ result['mb'] }}</td>
                                <td>{{ result.result_fields['mean'] }}</td>
                                <td>{{ result.result_fields['lrs'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                    
                </div>
                <div class="tab-pane" id="tab3">
                    <table id="geno_results" class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                            <th>Marker</th>
                            <th>Species</th>
                            <th>Group</th>
                            <th>Data Set</th>
                            <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results.genotype %}
                            <tr>
                                <td>
                                    <a href="http://gn2python.genenetwork.org/show_trait?trait_id={{ result.result_fields['marker_name'] }}&dataset={{ result.result_fields['dataset'] }}">
                                        {{ result.result_fields['marker_name'] }}
                                    </a>
                                </td>
                                <td>{{ result.result_fields['species'] }}</td>
                                <td>{{ result.result_fields['group_name'] }}</td>
                                <td>{{ result.result_fields['dataset_name'] }}</td>
                                <td>{{ result.result_fields['chr'] }} : {{ result.result_fields['mb'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                     
                </div>
                #}

<!-- End of body -->

{% endblock %}

{% block js %}  
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/static/new/packages/DataTables/js/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/DT_bootstrap/DT_bootstrap.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/TableTools/media/js/TableTools.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/packages/underscore/underscore-min.js"></script>

    
    <script type="text/javascript" charset="utf-8">
        $(document).ready( function () {
            console.time("Creating table");
            $('#pheno_results, #mrna_assay_results, #geno_results').dataTable( {
                //"sDom": "<<'span3'l><'span3'T><'span4'f>'row-fluid'r>t<'row-fluid'<'span6'i><'span6'p>>",
                "sDom": "lTftipr",
                "oTableTools": {
                    "aButtons": [
                        "copy",
                        "print",
                        {
                            "sExtends":    "collection",
                            "sButtonText": 'Save <span class="caret" />',
                            "aButtons":    [ "csv", "xls", "pdf" ]
                        }
                    ],
                    "sSwfPath": "/static/packages/TableTools/media/swf/copy_csv_xls_pdf.swf"
                },
                "iDisplayLength": 50,
                "bLengthChange": true,
                "bDeferRender": true,
                "bSortClasses": false
            } );
            console.timeEnd("Creating table");
        });
    </script>
{% endblock %}
