{% extends "base.html" %}

{% block title %}Reference{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/new/css/markdown.css" />
{% endblock %}

{% block content %}

 <div class="github-btn">
 <a href="https://github.com/genenetwork/genenetwork2">Edit on Github</a>	
 </div>

<div id="markdown" class="container">
   {{ rendered_markdown|safe }}

</div>

<style type="text/css">
	.github-btn{
		margin:20px 10px;
		display: flex;
		width: 90vw;
		justify-content: flex-end;
	}
	.github-btn a{
		display: inline-block;
		align-self:center;
		text-decoration: none;
		transition-property:all;
		transition-duration:0.5s;
		padding:8px 12px;
		color:#fff;
		/*background: #27407a;*/
		background: blue;
		border-radius: 20px;
		/*text-align: center;*/


	}
	.github-btn a:hover{

		background: #333;

	}

/*html{
  
  scroll-behavior: smooth;
}*/

	
</style>

{% endblock %}

