{% extends "base.html" %}

{% block title %}Reference{% endblock %}

{% block css %}
<!-- <link rel="stylesheet" type="text/css" href="/static/new/css/markdown.css" /> -->
{% endblock %}

{% block content %}

 <div class="github-btn">
 <a href="https://raw.githubusercontent.com/genenetwork/gn-docs/master/general/glossary/glos">Edit on Github</a>	
 </div>

<div id="markdown" class="container">
   {{ rendered_markdown|safe }}

</div>

<style type="text/css">
<!--  -->
.container {
width:80vw;
margin: auto;
max-width:80vw; 
  
}

p {
	font-size: 17px;
	 word-spacing: 0.2em;
}
@media(max-width:650px){
	.container{
		width: 100vw;
	}
}

</style>
<link rel="stylesheet" type="text/css" href="/static/new/css/markdown.css" />
{% endblock %}