<table class="table metadata">
    {% if metadata.accession_id %}
    <tr>
        <td><b>Title:</b></td>
        <td><div>{{ metadata.accession_id }} {% if metadata.title %}: {{ metadata.title }} {% endif %}</div></td>
    </tr>
    {% endif %}

    {% if metadata.geo_series %}
    <tr>
        <td><b>Geo Series:</b></td>
        <td><div>{{ metadata.geo_series|safe }}</div></td>
    </tr>
    {% endif %}

    {% if metadata.dataset_group %}
    <tr>
        <td><b>Dataset Group:</b></td>
        <td><div>{{ metadata.dataset_group }}</div></td>
    </tr>
    {% endif %}

    {% if metadata.species_name %}
    <tr>
        <td><b>Species:</b></td>
        <td><div>{{ metadata.species_name }}</div></td>
    </tr>
    {% endif %}

    {% if metadata.inbred_set_name %}
    <tr>
        <td><b>Group:</b></td>
        <td><div>{{ metadata.inbred_set_name }}</div></td>
    </tr>
    {% endif %}

    {% if metadata.investigators %}
    <tr>
        <td><b>Investigator(s):</b></td>
        <td><div>{{ metadata.investigators.name }}, {{ metadata.investigators.city }}, {{ metadata.investigators.country }} </div></td>
    </tr>
    {% endif %}

    {% if metadata.tissue_name %}
    <tr>
	<td><b>Tissue:</b></td>
	<td>
	    {% if metadata.about_tissue %}
	    <div></div>
	    <details>
		<summary><b title="Click to view tissue information">{{ metadata.tissue_name }}</b></summary>
		<b>About the tissue used to generate this set of data:</b>
		<div>{{ metadata.about_tissue|safe }}</div>
	    </details>
	    {% else %}
	    {{ metadata.tissue_name }}
	    {% endif %}
	</td>
    </tr>
    {% endif %}

    {% if metadata.platform_name %}
    <tr>
	<td><b>Platforms:</b></td>
	<td>
	    {% if metadata.about_platform %}
	    <details>
		<summary><b title="Click to view platform information">{{ metadata.platform_name }}</b></summary>
		<b>About the array platform:</b>
		{{ metadata.about_platform|safe }}
	    </details>
	    {% else %}
	    {{ metadata.platform_name }}
	    {% endif %}
	</td>
    </tr>
    {% endif %}

    {% if metadata.normalization_name %}
    <tr>
	<td><b>Normalization:</b></td>
	<td>
	    {{ metadata.normalization_name }}
	</td>
    </tr>
    {% endif %}

    {% if metadata.summary %}
    <tr>
        <td></td>
        <td>
            <details>
                <summary><b title="Click to view summary">Summary</b></summary>
                {{ metadata.summary|safe  }}
            </details>
        </td>
    </tr>
    {% endif %}


    {% if metadata.about_cases %}
    <tr>
	<td></td>
	<td>
	    <details>
		<summary><b title="Click to view case information">About the cases used to generate this set of data</b></summary>
		{{ metadata.about_cases|safe }}
	    </details>
	</td>
    </tr>
    {% endif %}

    {% if metadata.about_data_processing %}
    <tr>
        <td></td>
	<td>
	    <details>
		<summary><b title="Click to view data values and processing">About Data Values and Data Processing</b></summary>
		{{ metadata.about_data_processing|safe }}
	    </details>
	</td>
    </tr>
    {% endif %}

    {% if metadata.notes %}
    <tr>
        <td></td>
	<td>
	    <details>
		<summary><b>Notes</b></summary>
		{{ metadata.notes|safe }}
	    </details>
	</td>
    </tr>
    {% endif %}

    {% if metadata.experiment_design %}
    <tr>
        <td></td>
	<td>
	    <details>
		<summary><b>Experiment Type</b></summary>
		{{ metadata.experiment_design|safe }}
	    </details>
	</td>
    </tr>
    {% endif %}

    {% if metadata.contributors %}
    <tr>
        <td></td>
	<td>
	    <details>
		<summary><b>Contributor(s)</b></summary>
		{{ metadata.contributors|safe }}
	    </details>
	</td>
    </tr>
    {% endif %}

    {% if metadata.citation  %}
    <tr>
        <td>
            <td>
		<details>
		    <summary><b>Citation</b></summary>
		    {{ metadata.citation|safe }}
		</details>
	    </td>
    </tr>
    {% endif %}

    {% if metadata.acknowledgment  %}
    <tr>
        <td></td>
        <td>
	    <details>
	    <summary><b>Data source acknowledgment</b></summary>
	    {{ metadata.acknowledgment|safe }}
	    </details>
	</td>
    </tr>
    {% endif %}


</table>
