<dl class="dl-horizontal">
    <dt>Species</dt>
    <dd>{{ this_trait.dataset.group.species }}</dd>
    <dt>Group</dt>
    <dd>{{ this_trait.dataset.group.name }}</dd>
    <dt>Tissue</dt>
    <dd>{{ this_trait.dataset.tissue }}</dd>
    {% if this_trait.dataset.type == 'ProbeSet' %}
    <dt>Aliases</dt>
    <dd>{{ this_trait.alias_fmt }}</dd>
    {% endif %}

    {% if this_trait.dataset.type != 'Publish' %}
    <dt>Location</dt>
    <dd>{{ this_trait.location_fmt }}</dd>
    {% endif %}

    <dt>Database</dt>
    <dd>
        <a href="{{ url_for('static', filename='/dbdoc/' + dataset.fullname + '.html') }}" target="_blank">
            {{ dataset.name }}
        </a>
    </dd>

    {% if this_trait.probe_set_specificity %}
    <dt>
        <a href="/blatInfo.html" target="_blank"
           title="Values higher than 2 for the specificity are good">
            BLAT Specificity
        </a>
    </dt>
    <dd>{{ "%0.3f" | format(this_trait.probe_set_specificity|float) }}</dd>
    {% endif %}
    {% if this_trait.probe_set_blat_score %}
    <dt>BLAT Score</dt>
    <dd>{{ "%0.3f" | format(this_trait.probe_set_blat_score|float) }}</dd>
    {% endif %}
    <dt>Resource Links</dt>
    {% if this_trait.dataset.type == 'ProbeSet' %}
    <dd>
        {% if this_trait.geneid != None %}
        <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=gene&cmd=Retrieve&dopt=Graphics&list_uids={{ this_trait.geneid }}" target="_blank" title="Info from NCBI Entrez Gene">
            Gene
        </a>
        &nbsp;&nbsp;
        {% endif %}
        {% if this_trait.omim != None %}
        <a href="http://www.ncbi.nlm.nih.gov/omim/{{ this_trait.omim }}" target="_blank" title="Summary from On Mendelion Inheritance in Man">
            OMIM
        </a>
        &nbsp;&nbsp;
        {% endif %}
        {% if this_trait.genbankid != None %}
        <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=Nucleotide&cmd=search&doptcmdl=DocSum&term={{ this_trait.genbankid }}" target="_blank" title="Find the original GenBank sequence used to design the probes">
            GenBank
        </a>
        &nbsp;&nbsp;
        {% endif %}
        {% if this_trait.symbol != None %}
        <a href="http://www.genotation.org/Getd2g.pl?gene_list={{ this_trait.symbol }}" target="_blank" title="Related descriptive, genomic, clinical, functional and drug-therapy information">
            Genotation
        </a>
        &nbsp;&nbsp;
        {% endif %}
    </dd>
    {% endif %}
</dl>


<div style="margin-bottom:15px;" class="btn-toolbar">
    <div class="btn-group">
        <a href="#redirect">
        <button type="button" id="add_to_collection" class="btn btn-primary" title="Add to collection">
            <i class="icon-plus-sign icon-white"></i> Add
        </button>
        </a>
        {% if this_trait.dataset.type == 'ProbeSet' %}
        {% if this_trait.symbol != None %}
        <a href="#redirect" onclick="window.open('http://www.genenetwork.org/webqtl/main.py?cmd=sch&amp;gene={{ this_trait.symbol }}&amp;alias=1&amp;species={{ species_name }}')">
        <button type="button" class="btn btn-default" title="Find similar expression data">
            <i class="icon-search"></i> Find
        </button>
        </a>
        {% endif %}
        {% if UCSC_BLAT_URL != "" %}
        <a href="#redirect" onclick="window.open('{{ UCSC_BLAT_URL }}')">
        <button type="button" class="btn btn-default" title="Check probe locations at UCSC">
            <i class="icon-ok"></i> Verify
        </button>
        </a>
        {% endif %}
        {% if this_trait.symbol != None %}
        <a href="#redirect" onclick="window.open('http://genenetwork.org/webqtl/main.py?FormID=geneWiki&symbol={{ this_trait.symbol }}')">
        <button type="button" class="btn btn-default" title="Write or review comments about this gene">
            <i class="icon-edit"></i> GeneWiki
        </button>
        </a>
        <a href="#redirect" onclick="window.open('http://genenetwork.org/webqtl/main.py?FormID=SnpBrowserResultPage&submitStatus=1&diffAlleles=True&customStrain=True&geneName={{ this_trait.symbol }}')">
        <button type="button" class="btn btn-default" title="View SNPs and Indels">
            <i class="icon-road"></i> SNPs
        </button>
        </a>
        {% endif %}
        {% if UTHSC_BLAT_URL != "" %}
        <a href="#redirect" onclick="window.open('{{ UTHSC_BLAT_URL }}')">
        <button type="button" class="btn btn-default" title="View probes, SNPs, and RNA-seq at UTHSC">
            <i class="icon-eye-close"></i> RNA-seq
        </button>
        </a>
        {% endif %}
        {% if show_probes == "True" %}
        <a href="#redirect" onclick="window.open('http://genenetwork.org/webqtl/main.py?FormID=showProbeInfo&database={{ this_trait.dataset.name }}&ProbeSetID={{ this_trait.name }}&CellID={{ this_trait.cellid }}&RISet={{ dataset.group.name }}&incparentsf1=ON')">
        <button type="button" class="btn btn-default" title="Check sequence of probes">
            <i class="icon-list"></i> Probes
        </button>
        </a>
        {% endif %}
        {% endif %}
    </div>
</div>

