<table class="table">
    <tr>
        <td>Species and Group</td>
        <td>{{ this_trait.dataset.group.species }}, {{ this_trait.dataset.group.name }}</td>
    </tr>
    {% if this_trait.dataset.type == 'Publish' %}
    <tr>
        <td>Phenotype</td>
        <td><div style="width:40%;">{{ this_trait.description_fmt }}</div></td>
    </tr>
    <tr>
        <td>Authors</td>
        <td><div style="width:40%;">{{ this_trait.authors }}</div></td>
    </tr>
    <tr>
        <td>Title</td>
        <td><div style="width:40%;">{{ this_trait.title }}</div></td>
    </tr>
    <tr>
        <td>Journal</td>
        <td>{{ this_trait.journal }} (<a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids={{ this_trait.pubmed_id }}&dop=Abstract" title="PubMed">{{ this_trait.year }}</a>)</td>
    </tr>
    {% else %}
    <tr>
        <td>Tissue</td>
        <td>{{ this_trait.dataset.tissue }}</td>
    </tr>
    {% endif %}
    {% if this_trait.dataset.type == 'ProbeSet' %}
    {% if this_trait.symbol != None %}
    <tr>
        <td>Gene Symbol</td>
        <td>{{ this_trait.symbol }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>Aliases</td>
        <td>{{ this_trait.alias_fmt|replace(",",";") }}</td>
    </tr>
    {% endif %}
    {% if this_trait.dataset.type != 'Publish' %}
    <tr>
        <td>Location</td>
        <td>{{ this_trait.location_fmt }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>Database</td>
        <td>
            <a href="http://genenetwork.org/webqtl/main.py?FormID=sharinginfo&InfoPageName={{ dataset.name }}">
                {{ dataset.fullname }}
            </a>
        </td>
    </tr>
    {% if this_trait.probe_set_specificity %}
    <tr>
        <td>Target Score</td>
        <td>
            <a href="http://genenetwork.org/blatInfo.html" title="Values higher than 2 for the specificity are good">
                BLAT Specificity
            </a>: 
            {{ "%0.3f" | format(this_trait.probe_set_specificity|float) }}
            &nbsp;&nbsp;
            {% if this_trait.probe_set_blat_score %}
            Score: {{ "%0.3f" | format(this_trait.probe_set_blat_score|float) }}
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% if this_trait.pubmed_id or this_trait.geneid or this_trait.omim or this_trait.symbol %}
    {% if this_trait.dataset.type != 'Publish' %}
    <tr>
        <td>Resource Links</td>
        <td>
            {% if this_trait.pubmed_id %}
            <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids={{ this_trait.pubmed_id }}&dop=Abstract" title="PubMed">
                PubMed
            </a>
            {% endif %}
            {% if this_trait.geneid %}
            <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=gene&cmd=Retrieve&dopt=Graphics&list_uids={{ this_trait.geneid }}" title="Info from NCBI Entrez Gene">
                NCBI
            </a>
            &nbsp;&nbsp;
            {% endif %}
            {% if this_trait.omim %}
            <a href="http://www.ncbi.nlm.nih.gov/omim/{{ this_trait.omim }}" title="Summary from On Mendelion Inheritance in Man">
                OMIM
            </a>
            &nbsp;&nbsp;
            {% endif %}
            {% if this_trait.symbol %}
            <a href="http://www.genotation.org/Getd2g.pl?gene_list={{ this_trait.symbol }}" title="Related descriptive, genomic, clinical, functional and drug-therapy information">
                Genotation
            </a>
            &nbsp;&nbsp;
            <a href="https://www.gtexportal.org/home/gene/{{ this_trait.symbol }}" title="GTEx Portal">
                GTEx Portal
            </a>
            &nbsp;&nbsp;
        {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endif %}
</table>

<div style="margin-bottom:15px;" class="btn-toolbar">
    <div class="btn-group">
        <a href="#redirect">
        <button type="button" id="add_to_collection" class="btn btn-primary" title="Add to collection">Add</button>
        </a>
        {% if this_trait.dataset.type == 'ProbeSet' %}
        {% if this_trait.symbol != None %}
        <a href="http://www.genenetwork.org/webqtl/main.py?cmd=sch&amp;gene={{ this_trait.symbol }}&amp;alias=1&amp;species={{ dataset.group.species }}">
        <button type="button" class="btn btn-default" title="Find similar expression data">Find</button>
        </a>
        {% endif %}
        {% if UCSC_BLAT_URL != "" %}
        <a href="{{ UCSC_BLAT_URL }}">
        <button type="button" class="btn btn-default" title="Check probe locations at UCSC">Verify</button>
        </a>
        {% endif %}
        {% if this_trait.symbol != None %}
        <a href="http://genenetwork.org/webqtl/main.py?FormID=geneWiki&symbol={{ this_trait.symbol }}">
        <button type="button" class="btn btn-default" title="Write or review comments about this gene">GeneWiki</button>
        </a>
        <a href="http://genenetwork.org/webqtl/main.py?FormID=SnpBrowserResultPage&submitStatus=1&diffAlleles=True&customStrain=True&geneName={{ this_trait.symbol }}">
        <button type="button" class="btn btn-default" title="View SNPs and Indels">SNPs</button>
        </a>
        {% endif %}
        {% if UTHSC_BLAT_URL != "" %}
        <a href="{{ UTHSC_BLAT_URL }}">
        <button type="button" class="btn btn-default" title="View probes, SNPs, and RNA-seq at UTHSC">RNA-seq</button>
        </a>
        {% endif %}
        {% if show_probes == "True" %}
        <a href="http://genenetwork.org/webqtl/main.py?FormID=showProbeInfo&database={{ this_trait.dataset.name }}&ProbeSetID={{ this_trait.name }}&CellID={{ this_trait.cellid }}&RISet={{ dataset.group.name }}&incparentsf1=ON">
        <button type="button" class="btn btn-default" title="Check sequence of probes">Probes</button>
        </a>
        {% endif %}
        {% endif %}
    </div>
</div>

