<div>
    <br>
    <h2>Charts and Figures</h2>
    <div class="well form-horizontal">
        <select class="stats_samples_group">
            {% for group, pretty_group in sample_group_types.items() %}
                <option value="{{ group }}">{{ pretty_group }}</option>
            {% endfor %}
        </select>
        {% if sample_groups[0].attributes %}
        <div class="input-append">
            <select id="color_attribute" size=1>
              {% for attribute in sample_groups[0].attributes %}
              <option value="{{ sample_groups[0].attributes[attribute].name.replace(' ', '_') }}">
                  {{ sample_groups[0].attributes[attribute].name }}</option>
              {% endfor %}
            </select>
        </div>
        {% endif %}
        <button type="button" id="update_bar_chart">Sort By Value</button>
        <div id="bar_chart_container">
            <div id="bar_chart"></div>
        </div>
        
    </div>
</div>