<table class="table">
    <tr>
        <td width="150px"><b>Species and Group</b></td>
        <td>{{ this_trait.dataset.group.species }}, {{ this_trait.dataset.group.name }}</td>
    </tr>
    {% if this_trait.dataset.type == 'Publish' %}
    <tr>
        <td><b>Phenotype</b></td>
        <td><div style="width:40%;">{{ this_trait.description_fmt }}</div></td>
    </tr>
    <tr>
        <td><b>Authors</b></td>
        <td><div style="width:40%;">{{ this_trait.authors }}</div></td>
    </tr>
    <tr>
        <td><b>Title</b></td>
        <td><div style="width:40%;">{{ this_trait.title }}</div></td>
    </tr>
    <tr>
        <td><b>Journal</b></td>
        <td>{{ this_trait.journal }} ({% if this_trait.pubmed_id %}<a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids={{ this_trait.pubmed_id }}&dop=Abstract" target="_blank" title="PubMed">{{ this_trait.year }}</a>{% else %}{{ this_trait.year }}{% endif %})</td>
    </tr>
    {% else %}
    <tr>
        <td><b>Tissue</b></td>
        <td>{{ this_trait.dataset.tissue }}</td>
    </tr>
    {% endif %}
    {% if this_trait.dataset.type == 'ProbeSet' %}
    {% if this_trait.symbol != None %}
    <tr>
        <td><b>Gene Symbol</b></td>
        <td>{{ this_trait.symbol }}</td>
    </tr>
    {% endif %}
    <tr>
        <td><b>Aliases</b></td>
        <td>Wikidata: {{ this_trait.wikidata_alias_fmt|replace(",",";") }}</td>
    </tr>
    {% if this_trait.alias_fmt != "Not Available" %}
    <tr>
        <td></td>
        <td>GeneNetwork: {{ this_trait.alias_fmt|replace(",",";") }}</td>
    </tr>
    {% endif %}
    {% endif %}
    {% if this_trait.dataset.type != 'Publish' %}
    <tr>
        <td><b>Location</b></td>
        <td>{{ this_trait.location_fmt }}</td>
    </tr>
    {% endif %}
    <tr>
        <td><b>Database</b></td>
        <td>
            <a href="http://genenetwork.org/webqtl/main.py?FormID=sharinginfo&InfoPageName={{ dataset.name }}" target="_blank">
                {{ dataset.fullname }}
            </a>
        </td>
    </tr>
    {% if this_trait.probe_set_specificity %}
    <tr>
        <td><b>Target Score</b></td>
        <td>
            <a href="http://genenetwork.org/blatInfo.html" target="_blank" title="Values higher than 2 for the specificity are good">
                BLAT Specificity
            </a>: 
            {{ "%0.3f" | format(this_trait.probe_set_specificity|float) }}
            &nbsp;&nbsp;
            {% if this_trait.probe_set_blat_score %}
            Score: {{ "%0.3f" | format(this_trait.probe_set_blat_score|float) }}
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% if this_trait.pubmed_id or this_trait.geneid or this_trait.omim or this_trait.symbol %}
    <tr>
        <td><b>Resource Links</b></td>
        <td>
            {% if pubmed_link %}
            <a href="{{ pubmed_link }}" target="_blank" title="PubMed">
                PubMed
            </a>
            {% endif %}
            {% if ncbi_gene_link %}
            <a href="{{ ncbi_gene_link }}" target="_blank" title="Info from NCBI Entrez Gene">
                Gene
            </a>
            &nbsp;&nbsp;
            {% endif %}
            {% if omim_link %}
            <a href="{{ omim_link }}" target="_blank" title="Summary from On Mendelion Inheritance in Man">
                OMIM
            </a>
            &nbsp;&nbsp;
            {% endif %}
            {% if genemania_link %}
            <a href="{{ genemania_link }}" target="_blank" title="GeneMANIA">
                GeneMANIA
            </a>
            &nbsp;&nbsp;
            {% endif %}
            {% if protein_atlas_link %}
            <a href="{{ protein_atlas_link }}" target="_blank" title="Human Protein Atlas">
                    Protein Atlas
            </a>
            &nbsp;&nbsp;
            {% endif %}
            {% if open_targets_link %}
            <a href="{{ open_targets_link }}" target="_blank" title="Open Targets">
                Open Targets
            </a>
            &nbsp;&nbsp;
            {% endif %}
            {% if homologene_link %}
            <a href="{{ homologene_link }}" target="_blank" title="Find similar genes in other species">
                HomoloGene
            </a>
            &nbsp;&nbsp;
            {% endif %}
            {% if this_trait.symbol %}
            <a href="{{ genotation_link }}" target="_blank" title="Related descriptive, genomic, clinical, functional and drug-therapy information">
                Genotation
            </a>
            &nbsp;&nbsp;
            <a href="{{ gtex_link }}" target="_blank" title="GTEx Portal">
                GTEx Portal
            </a>
            &nbsp;&nbsp;
            {% if genebridge_link %}
            <a href="{{ genebridge_link }}" target="_blank">
                GeneBridge
            </a>
            {% endif %}
            {% endif %}
            <br>
            {% if ucsc_blat_link %}
            <a href="{{ ucsc_blat_link }}" target="_blank" title="Info from UCSC Genome Browser">
                UCSC
            </a>
            &nbsp;&nbsp;
            {% endif %}
            {% if biogps_link %}
            <a href="{{ biogps_link }}" target="_blank" title="Expression across many tissues and cell types">
                BioGPS
            </a>
            &nbsp;&nbsp;
            {% endif %}
            {% if string_link %}
            <a href="{{ string_link }}" target="_blank" title="Protein interactions: known and inferred">
                STRING
            </a>
            &nbsp;&nbsp;
            {% endif %}
            {% if panther_link %}
            <a href="{{ panther_link }}" target="_blank" title="Gene and protein data resources from Celera-ABI">
                PANTHER
            </a>
            &nbsp;&nbsp;
            {% endif %}
            {% if gemma_link %}
            <a href="{{ gemma_link }}" target="_blank" title="Meta-analysis of gene expression data">
                Gemma
            </a>
            &nbsp;&nbsp;
            {% endif %}
            {% if aba_link %}
            <a href="{{ aba_link }}" target="_blank" title="Allen Brain Atlas">
                ABA
            </a>
            &nbsp;&nbsp;
            {% endif %}
            {% if ebi_gwas_link %}
            <a href="{{ ebi_gwas_link }}" target="_blank" title="EBI GWAS">
                EBI GWAS
            </a>
            &nbsp;&nbsp;
            {% endif %}
            {% if wiki_pi_link %}
            <a href="{{ wiki_pi_link }}" target="_blank" title="Wiki-Pi">
                Wiki-Pi
            </a>
            &nbsp;&nbsp;
            {% endif %}
            {% if uniprot_link %}
            <a href="{{ uniprot_link }}" target="_blank" title="UniProt">
                UniProt
            </a>
            &nbsp;&nbsp;
            {% endif %}
        </td>
    </tr>
    {% endif %}
</table>

<div style="margin-bottom:15px;" class="btn-toolbar">
    <div class="btn-group">
        <a href="#redirect">
        <button type="button" id="add_to_collection" class="btn btn-primary" title="Add to collection">Add</button>
        </a>
        {% if this_trait.dataset.type == 'ProbeSet' %}
        {% if this_trait.symbol != None %}
        <a target="_blank" href="http://www.genenetwork.org/webqtl/main.py?cmd=sch&amp;gene={{ this_trait.symbol }}&amp;alias=1&amp;species={{ dataset.group.species }}">
        <button type="button" class="btn btn-default" title="Find similar expression data">Find</button>
        </a>
        {% endif %}
        {% if UCSC_BLAT_URL != "" %}
        <a target="_blank" href="{{ UCSC_BLAT_URL }}">
        <button type="button" class="btn btn-default" title="Check probe locations at UCSC">Verify</button>
        </a>
        {% endif %}
        {% if this_trait.symbol != None %}
        <a target="_blank" href="http://genenetwork.org/webqtl/main.py?FormID=geneWiki&symbol={{ this_trait.symbol }}">
        <button type="button" class="btn btn-default" title="Write or review comments about this gene">GeneWiki</button>
        </a>
        {% if dataset.group.species == "mouse" or dataset.group.species == "rat" %}
        <a href="./snp_browser?first_run=true&species={{ dataset.group.species }}&gene_name={{ this_trait.symbol }}&limit_strains=on">
        <button type="button" class="btn btn-default" title="View SNPs and Indels">SNPs</button>
        </a>
        {% endif %}
        {% endif %}
        {% if show_probes == "True" %}
        <a target="_blank" href="http://genenetwork.org/webqtl/main.py?FormID=showProbeInfo&database={{ this_trait.dataset.name }}&ProbeSetID={{ this_trait.name }}&CellID={{ this_trait.cellid }}&RISet={{ dataset.group.name }}&incparentsf1=ON">
        <button type="button" class="btn btn-default" title="Check sequence of probes">Probes</button>
        </a>
        {% endif %}
        {% endif %}
        <a target="_blank" href="http://www.genenetwork.org/webqtl/main.py?cmd=show&db={{ this_trait.dataset.name }}&probeset={{ this_trait.name }}">
        <button type="button" id="view_in_gn1" class="btn btn-primary" title="View Trait in GN1">View in GN1</button>
        </a>
    </div>
</div>

