<div>
    <h2>Mapping Tools</h2>
    <div class="well form-horizontal">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#interval_mapping" data-toggle="tab">Interval Mapping</a>
                </li>
                <li>
                    <a href="#marker_regression" data-toggle="tab">Marker Regression</a>
                </li>
                <li>
                    <a href="#pair_scan" data-toggle="tab">Pair Scan</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="interval_mapping">
                    <div class="control-group">
                        <label for="chromosome" class="control-label">Chromosome:</label>
                        <div class="controls">
                            <select name="chromosome">
                                {% for name, value in dataset.species.chromosomes %}
                                <option value="{{ value }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
    
                    <div class="control-group">
                        <label for="mapping_permutations" class="control-label">Permutation Test n=</label>
                        <div class="controls">
                            <input name="num_permutations" value="2000" />
                        </div>
                    </div>
    
                    <div class="control-group">
                        <label for="mapping_bootstraps" class="control-label">Bootstrap Test n=</label>
                        <div class="controls">
                            <input name="mapping_bootstraps" value="2000" />
                        </div>
                    </div>
                    
               
                    {% if dataset.group.genotype.Mbmap %}
                    <div class="control-group">
                        <label class="control-label">Scale: </label>
                        <div class="controls">                      
                        <label class="radio inline">
                            <input type="radio" name="scale" id="scale" value="megabase" checked>
                            Megabase
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="scale" id="scale" value="centimorgan">
                            Centimorgan
                        </label>
                        </div>
                    </div>
                    {% endif %}

                    <div class="well well-small">
                        <strong>Composite Mapping</strong>
                        - Control for a marker as a co-factor (e.g.: rs12345):
                        <!--Prefer a <strong>composite</strong>? Tell us the control locus (e.g.: rs12345):-->
                        <INPUT TYPE="text" NAME="control_locus" default="" />
                    </div>
                    <input type="button" name="interval_mapping_btn" class="btn" value="Compute">
                </div>
                
                <div class="tab-pane" id="marker_regression">
                    <label for="suggestive_lrs">Display LRS greater than:
                        <input name="suggestive_lrs" />
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="display_all_lrs" /> Display All LRS
                    </label>
                    <input type="button" id="marker_regression_btn" name="marker_regression_btn" class="btn" value="Compute">
                </div>

                <div class="tab-pane" id="pair_scan">
                  <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="fs12 fwn" nowrap="on">
                        <table cellpadding="2" cellspacing="0" width="232px">
                          <tr>
                            <td><span class="ffl fwb fs12"><strong>Sort by:</strong></span></td>

                            <td><select name="graphSort" size="1">
                              <option value="0">
                                LRS Full
                              </option>

                              <option value="1">
                                LRS Interact
                              </option>
                            </select></td>
                          </tr>

                          <tr>
                            <td><span class="ffl fwb fs12"><strong>Return:</strong></span></td>

                            <td><select name="pairScanReturn" size="1">
                              <option value="50">
                                top 50
                              </option>

                              <option value="100">
                                top 100
                              </option>

                              <option value="200">
                                top 200
                              </option>

                              <option value="500">
                                top 500
                              </option>
                            </select></td>
                          </tr>
                        </table><br>
                        <label for="pairscan_permutations">Permutation Test n=
                            <input name="pairscan_permutations" value="2000" />
                        </label>
                        <br>
                        <br>
                        <input type="button" class="btn" value=" Compute " onclick="dataEditingFunc(this.form,'directPlot');"><br>
                        <br>
                      </td>
                    </tr>

                    <tr>
                      <td valign="top"><span><a href="/glossary.html#Pair_Scan" target="_blank">Pair-Scan</a> searches for pairs of chromosomal regions
                      that are<br>
                      involved in two-locus epistatic interactions.</span><br></td>
                    </tr>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>
