<div>
    <br>
    <h2>Charts and Figures</h2>
    <div class="well form-horizontal">
        {% if sample_groups|length > 1 %}
        <select class="stats_samples_group">
            {% for group, pretty_group in sample_group_types.items() %}
                <option value="{{ group }}">{{ pretty_group }}</option>
            {% endfor %}
        </select>
        {% endif %}
        {% if sample_groups[0].attributes %}
        <div class="input-append">r
            <select id="color_attribute" size=1>
                <option value="None">None</option>
                {% for attribute in sample_groups[0].attributes %}
                <option value="{{ sample_groups[0].attributes[attribute].name.replace(' ', '_') }}">
                    {{ sample_groups[0].attributes[attribute].name }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <button type="button" id="update_bar_chart">Sort By Value</button>
        <button type="button" id="color_by_trait">Color by Trait</button>
        <div id="bar_chart_container">
            <div id="bar_chart"></div>
        </div>
        
    </div>
    <div id="collections_holder"></div>
</div>