<div>
    {% if dataset.group.mapping_names|length > 0 %}
    <div class="col-xs-4" style="min-width: 600px;">
        <div class="tabbable"> <!-- Only required for left/right tabs -->

            <ul class="nav nav-pills">
                {% if dataset.group.mapping_id == "1" %}
                <li class="mapping_tab active">
                    <a href="#gemma" data-toggle="tab">GEMMA</a>
                </li>
                <li class="mapping_tab">
                    <a href="#interval_mapping" data-toggle="tab">Haley-Knott Regression</a>
                </li>
                <li class="mapping_tab rqtl">
                    <a href="#rqtl_geno" data-toggle="tab">R/qtl</a>
                </li>
                {% endif %}
                {% for mapping_method in dataset.group.mapping_names %}
                {% if mapping_method == "GEMMA" %}
                <li class="mapping_tab active">
                    <a href="#gemma_plink" data-toggle="tab">GEMMA</a>
                </li>
                {% elif mapping_method == "PLINK" %}
                <li class="mapping_tab">
                    <a href="#plink" data-toggle="tab">PLINK</a>
                </li>
                {% endif %}
                {% endfor %}
                <!--<li>
                    <a href="#pair_scan" data-toggle="tab">Pair Scan</a>
                </li>-->
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="gemma">
                    <div style="padding-top: 20px;" class="form-horizontal">
                        <div class="mapping_method_fields form-group">
                            <label for="chr_select" style="text-align: right;" class="col-xs-3 control-label">Chromosome</label>
                            <div style="margin-left:20px;" class="col-xs-2 controls">
                                <select id="chr_gemma" class="form-control">
                                    {% for item in chr_list %}
                                    <option value="{{ item[1] }}">{{ item[0] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% if genofiles and genofiles|length>0 %}
                        <div class="mapping_method_fields form-group">
                            <label for="genofiles" style="text-align: right;" class="col-xs-3 control-label">Genotypes</label>
                            <div style="margin-left:20px;" class="col-xs-4 controls">
                                <select id="genofile_gemma" class="form-control">
                                    {% for item in genofiles %}
                                    <option value="{{item['location']}}:{{item['title']}}">{{item['title']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endif %}
                        <div class="mapping_method_fields form-group">
                            <label for="maf_gemma" style="text-align: right;" class="col-xs-3 control-label">MAF</label>
                            <div style="margin-left:20px;" class="col-xs-4 controls">
                                <input name="maf_gemma" value="{{ maf }}" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="mapping_method_fields form-group">
                            <label style="text-align: right;" class="col-xs-3 control-label">Use LOCO</label>
                            <div style="margin-left:20px;" class="col-xs-6 controls">
                                <label class="radio-inline">
                                    <input type="radio" name="use_loco" value="True" checked="">
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="use_loco" value="False">
                                    No
                               </label>
                            </div>
                        </div>
                        <div class="mapping_method_fields form-group">
                            <div class="col-xs-3" style="text-align: right;">
                            <label class="control-label">Covariates</label>
                            <font size="2">Select covariate(s) from a collection</font>
                            </div>
                            <div style="margin-left:20px;" class="col-xs-7">
                              {% if g.user_session.logged_in %}
                              {% if g.user_session.num_collections < 1 %}
                              No collections available. Please add traits to a collection to use them as covariates.
                              {% else %}
                              <div style="margin-bottom: 10px;" class="btn-group" role="group">
                                <button type="button" id="select_covariates" class="btn btn-default">Select</button>
                                <button type="button" id="remove_covariates" class="btn btn-default">Remove</button>
                              </div>
                              <textarea rows="3" cols="50" readonly placeholder="No covariates selected" style="overflow-y: scroll; resize: none;" class="selected_covariates"></textarea>
                              {% endif %}
                              {% elif g.cookie_session.display_num_collections() == "" %}
                              No collections available. Please add traits to a collection to use them as covariates.
                              {% else %}
                              <div style="margin-bottom: 10px;" class="btn-group" role="group">
                                <button type="button" id="select_covariates" class="btn btn-default">Select</button>
                                <button type="button" id="remove_covariates" class="btn btn-default">Remove</button>
                              </div>
                              <textarea rows="3" cols="20" readonly placeholder="No covariates selected" style="overflow-y: scroll; resize: none;" class="selected_covariates"></textarea>
                              {% endif %}
                            </div>
                        </div>
                        <div class="mapping_method_fields form-group">
                          <label class="col-xs-3 control-label"></label>
                          <div style="margin-left:20px;" class="col-xs-6">
                            <button id="gemma_compute" class="btn submit_special btn-success" data-url="/marker_regression" title="Compute Marker Regression">
                                Compute
                            </button>
                          </div>
                        </div>
                    </div>
                </div>
                {% if dataset.group.mapping_id == "1" %}
                <div class="tab-pane" id="interval_mapping">
                    <div style="margin-top: 20px" class="form-horizontal">
                        <div class="mapping_method_fields form-group">
                            <label for="reaper_version" style="text-align: right;" class="col-xs-3 control-label">Version<sup><a title="'New' is the new qtlreaper implementation written in RUST by Christian Fischer. 'Original' corresponds to the original version written in C.">?</a></sup></label>
                            <div style="margin-left:20px;" class="col-xs-3 controls">
                                <select name="reaper_version" class="form-control">
                                    <option value="new">New</option>
                                    <option value="original">Original</option>
                                </select>
                            </div>
                        </div>
                        <div class="mapping_method_fields form-group">
                            <label for="chr_select" style="text-align: right;" class="col-xs-3 control-label">Chromosome</label>
                            <div style="margin-left:20px;" class="col-xs-2 controls">
                                <select id="chr_reaper" class="form-control">
                                    {% for item in chr_list %}
                                    <option value="{{ item[1] }}">{{ item[0] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% if genofiles and genofiles|length>0 %}
                        <div class="mapping_method_fields form-group">
                            <label style="text-align: right;" for="genofiles" class="col-xs-3 control-label">Genotypes</label>
                            <div style="margin-left:20px;" class="col-xs-4 controls">
                                <select id="genofile_reaper" class="form-control">
                                    {% for item in genofiles %}
                                    <option value="{{item['location']}}:{{item['title']}}">{{item['title']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endif %}
                        <div class="mapping_method_fields form-group">
                            <label style="text-align: right;" for="mapping_permutations" class="col-xs-3 control-label">Permutations</label>
                            <div style="margin-left:20px;" class="col-xs-4 controls">
                                <input name="num_perm_reaper" value="2000" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="mapping_method_fields form-group">
                            <label style="text-align: right;" for="mapping_bootstraps" class="col-xs-3 control-label">Bootstraps</label>
                            <div style="margin-left:20px;" class="col-xs-4 controls">
                                <input name="num_bootstrap" value="2000" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="mapping_method_fields form-group">
                            <label style="text-align: right;" for="control_for" class="col-xs-3 control-label">Control&nbsp;for<br>Cofactors</label>
                            <div style="margin-left:20px;" class="col-xs-6 controls">
                                {% if dataset.type == 'ProbeSet' and this_trait.locus_chr != "" %}
                                <input name="control_reaper" value="{{ nearest_marker }}" type="text" style="width: 160px; display: inline-block;" class="form-control" />
                                {% else %}
                                <input name="control_reaper" value="" type="text" style="display: inline-block; padding-right: 10px;" class="form-control" />
                                {% endif %}
                                <input type="radio" name="do_control_reaper" value="true"> Yes&nbsp;&nbsp;<input type="radio" name="do_control_reaper" value="false" checked="" style="margin-left: 10px;"> No</span>
                                <!--
                                <label class="radio-inline">
                                    <input type="radio" name="do_control_reaper" value="true">
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="do_control_reaper" value="false" checked="">
                                    No
                                </label>
                            -->
                            </div>
                        </div>

<!--
                        <div class="mapping_method_fields form-group">
                            <label for="mapping_bootstraps" class="col-xs-3 control-label" title="Bootstrapping Resamples">Bootstrap Test (n=2000)</label>
                            <div class="col-xs-4 controls">
                                <label>
                                    <input type="checkbox" name="bootCheck" id="bootCheck"> Bootstrap Test (n=2000)
                                </label>
                            </div>
                        </div>

                        <div class="mapping_method_fields form-group">
                            <label style="text-align:left;" class="col-xs-12 control-label">Display Additive Effect</label>
                            <div class="col-xs-12 controls" id="display_additive_effect">
                                <label class="radio-inline">
                                    <input type="radio" name="display_additive" id="display_additive" value="yes" checked="">
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="display_additive" id="display_additive" value="no">
                                    No
                                </label>
                            </div>
                        </div>
-->
                        <div class="mapping_method_fields form-group">
                            <label style="text-align: right;" class="col-xs-3 control-label">Interval Map</label>
                            <div style="margin-left:20px;" class="col-xs-6 controls">
                                <label class="radio-inline">
                                    <input type="radio" name="manhattan_plot_reaper" value="False" checked="">
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="manhattan_plot_reaper" value="True">
                                    No
                               </label>
                            </div>
                        </div>
                        <div class="mapping_method_fields form-group">
                            <label class="col-xs-3 control-label"></label>
                            <div style="margin-left:20px;" class="col-xs-6">
                              <button id="interval_mapping_compute" class="btn submit_special btn-success" data-url="/marker_regression" title="Compute Interval Mapping">
                                  Compute
                              </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="rqtl_geno">
                    <div style="margin-top: 20px" class="form-horizontal">
                        <div class="mapping_method_fields form-group">
                            <label for="chr_select" style="text-align: right;" class="col-xs-3 control-label">Chromosome</label>
                            <div style="margin-left:20px;" class="col-xs-2 controls">
                                <select id="chr_rqtl_geno" class="form-control">
                                    {% for item in chr_list %}
                                    <option value="{{ item[1] }}">{{ item[0] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% if genofiles and genofiles|length>0 %}
                        <div class="mapping_method_fields form-group">
                            <label style="text-align:right;" for="genofiles" class="col-xs-3 control-label">Genotypes</label>
                            <div style="margin-left:20px;" class="col-xs-4 controls">
                                <select id="genofile_rqtl_geno" class="form-control">
                                    {% for item in genofiles %}
                                    <option value="{{item['location']}}:{{item['title']}}">{{item['title']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endif %}
                        <div class="mapping_method_fields form-group">
                            <label style="text-align:right;" for="mapping_permutations" class="col-xs-3 control-label">Permutations</label>
                            <div style="margin-left:20px;" class="col-xs-4 controls">
                                <input name="num_perm_rqtl_geno" value="200" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="mapping_method_fields form-group">
                            <label style="text-align:right;" for="control_for" class="col-xs-3 control-label">Control&nbsp;for</label>
                            <div style="margin-left:20px;" class="col-xs-6 controls">
                                {% if dataset.type == 'ProbeSet' and this_trait.locus_chr != "" %}
                                <input name="control_rqtl_geno" value="{{ nearest_marker }}" type="text" style="width: 160px;" class="form-control" />
                                {% else %}
                                <input name="control_rqtl_geno" value="" type="text" class="form-control" />
                                {% endif %}
                                <label class="radio-inline">
                                    <input type="radio" name="do_control_rqtl" value="true">
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="do_control_rqtl" value="false" checked="">
                                    No
                                </label>
                            </div>
                        </div>

                        <div class="mapping_method_fields form-group">
                            <label style="text-align:right;" for="mapmodel_rqtl_geno" class="col-xs-3 control-label">Model</label>
                            <div style="margin-left:20px;" class="col-xs-4 controls">
                              <select id="mapmodel_rqtl_geno" name="mapmodel_rqtl_geno" class="form-control">
                                <option value="normal">Normal</option>
                                {% if binary == "true" %}<option value="binary">Binary</option>{% endif %}
                                <!--<option value="2part">2-part</option>-->
                                <option value="np">Non-parametric</option>
                              </select>
                            </div>
                        </div>

                        <div class="mapping_method_fields form-group">
                            <label style="text-align:right;" for="mapmethod_rqtl_geno" class="col-xs-3 control-label">Method</label>
                            <div style="margin-left:20px;" class="col-xs-6 controls">
                              <select id="mapmethod_rqtl_geno" name="mapmethod_rqtl_geno" class="form-control">
                                <option value="hk" selected>Haley-Knott</option>
                                <option value="ehk">Extended Haley-Knott</option>
                                <option value="mr">Marker Regression</option>
                                <option value="em">Expectation-Maximization</option>
                                <option value="imp">Imputation</option>
                              </select>
                            </div>
                        </div>
                        <div id="missing_geno_div" class="mapping_method_fields form-group" style="display: none;">
                            <label style="text-align:right;" for="missing_genotypes" class="col-xs-3 control-label"></label>
                            <div style="margin-left:20px;" class="col-xs-6 controls">
                              <select id="missing_genotype" name="missing_genotypes" class="form-control">
                                <option value="mr">Remove Samples w/o Genotypes</option>
                                <option value="mr-imp">Single Imputation</option>
                                <option value="mr-argmax">Imputation w/ Viterbi Algorithm</option>
                              </select>
                            </div>
                        </div>

                        <!--
                        <div class="mapping_method_fields form-group">
                            <label style="text-align:left;" class="col-xs-12 control-label">Pair Scan</label>
                            <div class="col-xs-12 controls">
                                <label class="radio-inline">
                                    <input type="radio" name="pair_scan" value="true">
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="pair_scan" value="false" checked="">
                                    No
                               </label>
                            </div>
                        </div>
                        -->
                        <div class="mapping_method_fields form-group">
                            <label style="text-align:right;" class="col-xs-3 control-label">Manhattan<br>Plot</label>
                            <div style="margin-left:20px;" class="col-xs-6 controls">
                                <label class="radio-inline">
                                    <input type="radio" name="manhattan_plot_rqtl" value="True">
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="manhattan_plot_rqtl" value="False" checked="">
                                    No
                               </label>
                            </div>
                        </div>

                        <div class="mapping_method_fields form-group">
                            <label class="col-xs-3 control-label"></label>
                            <div style="margin-left:20px;" class="col-xs-6">
                              <button id="rqtl_geno_compute" class="btn submit_special btn-success" data-url="/marker_regression" title="Compute Interval Mapping">
                                  Compute
                              </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <dl>
             <dt>GEMMA</dt>
             <dd>GEMMA is software implementing the Genome-wide Efficient Mixed Model Association algorithm for a standard linear mixed model for genome-wide association studies (GWAS).</dd>
             {% if dataset.group.mapping_id == "1" %}
             <dt style="margin-top: 20px;">Haley-Knott Regression</dt>
             <dd>This method is implementing using the tool QTLReaper. Interval mapping (the last option) is a process in which the statistical significance of a hypothetical QTL is evaluated at regular points across a chromosome, even in the absence of explicit genotype data at those points.<br><br>
                 The default option is a version of QTLReaper rewritten in RUST that should fix some of the issues the original had. You can still use the original with the Version option.</dd>
             <dt style="margin-top: 20px;">R/qtl</dt>
             <dd>R/qtl is an extensible, interactive environment for mapping quantitative trait loci (QTL) in experimental crosses.</dd>
             {% endif %}
        </dl>
        <div class="rqtl_description" style="padding-top: 40px; display: none;">
        More information on R/qtl mapping models and methods can be found <a href="http://www.rqtl.org/tutorials/rqtltour.pdf">here</a>.
        </div>
    </div>
    <div id="mapping_result_holder_wrapper" style="display:none;">
        <div id="mapping_result_holder"></div>
    </div>
    {% else %}
    Mapping options are disabled for data not matched with genotypes.
    {% endif %}
</div>
