<div>
  <div class="col-xs-4">
    <div class="tabbable"> <!-- Only required for left/right tabs -->

      <ul class="nav nav-pills">
        <li class="active">
            <a href="#PheWAS" data-toggle="tab">PheWAS</a>
        </li>
        <li>
            <a href="#ePheWAS" data-toggle="tab">ePheWAS</a>
        </li>
        <li>
            <a href="#mediation" data-toggle="tab">Mediation</a>
        </li>

        <div class="tab-content">
          <div class="tab-pane active" id="PheWAS">
            <div style="margin-top: 25px" class="form-horizontal">
                <br>PheWAS options:
<!--
                <div class="mapping_method_fields form-group">
                    <label for="num_strain_limit" style="text-align:left;" class="col-xs-3 control-label">Strain&nbsp;limit</label>
                    <div style="margin-left: 20px;" class="col-xs-4 controls">
                        <input name="num_strain_limit" value="15" type="text" class="form-control">
                    </div>
                </div> -->
                <div class="mapping_method_fields form-group">
                    <label for="num_region" style="text-align:left;" class="col-xs-3 control-label">Region&nbsp;size</label>
                    <div style="margin-left: 20px;" class="col-xs-4 controls">
                        <input name="num_region" value="2" type="text" class="form-control">
                    </div>
                </div>
                <div class="mapping_method_fields form-group">
                  <label for="mtadjust" style="text-align:left;" class="col-xs-3 control-label">P&nbsp;adjustment</label>
                  <div style="margin-left: 20px;width: 225px;" class="col-xs-4 controls">
                    <select name="sel_mtadjust" class="form-control">
                      <option value="fdr">False Discovery Rate</option>
                      <option value="BH">Benjamini Hochberg</option>
                      <option value="holm">Holm</option>
                      <option value="hochberg">Hochberg</option>
                      <option value="hommel">Hommel</option>
                      <option value="bonferroni">Bonferroni</option>

                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div style="padding-left:15px;" class="controls">
                    <button id="phewas_compute" class="btn btn-primary submit_special" title="Compute PheWAS">
                      <i class="icon-ok-circle icon-white"></i> Compute
                    </button>
                  </div>
                </div>
            </div>
          </div> <!-- end of the PheWAS tab -->

          <div class="tab-pane" id="ePheWAS">
            <div style="margin-top: 25px" class="form-horizontal">
                <br>ePheWAS options:
                <div class="mapping_method_fields form-group">
                    <label for="strain_limit" style="text-align:left;" class="col-xs-3 control-label">ePheWAS&nbsp;opt&nbsp;1</label>
                    <div style="margin-left: 20px;" class="col-xs-4 controls">
                        <input name="num_strain_limit" value="15" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                  <div style="padding-left:15px;" class="controls">
                    <button id="ephewas_compute" class="btn submit_special btn-primary" title="Compute ePheWAS">
                      <i class="icon-ok-circle icon-white"></i> Compute
                    </button>
                  </div>
                </div>
            </div>
          </div> <!-- end of the ePheWAS tab -->

          <div class="tab-pane" id="mediation">
            <div style="margin-top: 25px" class="form-horizontal">
                <br>Mediation options:
                <div class="mapping_method_fields form-group">
                    <label for="strain_limit" style="text-align:left;" class="col-xs-3 control-label">Mediation&nbsp;opt&nbsp;1</label>
                    <div style="margin-left: 20px;" class="col-xs-4 controls">
                        <input name="num_strain_limit" value="15" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                  <div style="padding-left:15px;" class="controls">
                    <button id="mediation_compute" class="btn submit_special btn-primary" title="Run mediation analysis">
                      <i class="icon-ok-circle icon-white"></i> Compute
                    </button>
                  </div>
                </div>
            </div>
          </div> <!-- end of the Mediation tab -->

        </div>
      </ul>
    </div>
  </div>
  <div class="col-xs-6">
      <dl>
           <dt>Phewas</dt>
           <dd>PLaceholder.</dd>
           <dt>ePhewas</dt>
           <dd>PLaceholder.</dd>
           <dt>Mediation</dt>
           <dd>PLaceholder.</dd>
      </dl>
  </div>
</div>
