{% extends "base.html" %}
{% block title %}Trait Data and Analysis{% endblock %}
{% block content %} <!-- Start of body -->

    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h1>{{ this_trait.symbol}}</h1>
            <p class="lead">
                {{ this_trait.name }}: {{ this_trait.description_fmt }}
            </p>
        </div>
    </header>

    <form method="post" action="/corr_compute" name="dataInput" id="trait_data_form">
            {% for key in hddn %}
                <input type="hidden" name="{{ key }}" value="{{ hddn[key] }}">
            {% endfor %}

        <div class="container">
            <div class="page-header">
                <h1>{{ dataset.group.species.capitalize() }} -
                    {{ dataset.group.name }} -
                    {{ this_trait.symbol }}
                </h1>
            </div>
            
            {% include 'show_trait_details.html' %}
            {% include 'show_trait_statistics.html' %}
            {% include 'show_trait_calculate_correlations.html' %}
            {% include 'show_trait_mapping_tools.html' %}
            {% include 'show_trait_edit_data.html' %}

        </div>
    </form>

    <!-- End of body -->

{% endblock %}

{% block js %}
    <script>
        js_data = {{ js_data | safe }}
    </script>

    <script type="text/javascript" src="/static/new/js_external/underscore-min.js"></script>-->
    <script type="text/javascript" src="/static/new/js_external/underscore.string.min.js"></script>
    <script type="text/javascript" src="/static/new/packages/ValidationPlugin/dist/jquery.validate.min.js"></script>

    <script type="text/javascript" src="/static/new/javascript/stats.js"></script>
    <script type="text/javascript" src="/static/new/javascript/show_trait.js"></script>
    <script type="text/javascript" src="/static/new/javascript/validation.js"></script>
{% endblock %}
