<div>
    <h2>Calculate Correlations</h2>
    <div class="well form-horizontal">
        
        <div class="control-group">
            <label for="corr_method" class="control-label">Method</label>
            <div class="controls">
                <select name="corr_method">
                    <option value="sample">Sample r</option>
                    <option value="lit">Literature r</option>
                    <option value="tissue">Tissue r</option>
                </select>
            </div>
        </div>
        
        <div class="control-group">
            <label for="corr_dataset" class="control-label">Database</label>
            <div class="controls">
                <select name="corr_dataset">
                    {% for tissue in corr_tools.dataset_menu %}
                        {% if tissue.tissue %}
                            <optgroup label="{{ tissue.tissue }} ------">
                        {% endif %}
                        {% for dataset in tissue.datasets %}
                            <option value="{{ dataset[1] }}"
                            {% if corr_tools.dataset_menu_selected == dataset[1] %}
                                selected
                            {% endif %}>
                                {{ dataset[0] }}
                            </option>
                        {% endfor %}
                        {% if tissue.tissue %}
                            </optgroup>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <div class="control-group">
            <label for="corr_return_results" class="control-label">Return</label>
            <div class="controls">
                <select name="corr_return_results">
                    {% for return_result in corr_tools.return_results_menu %}
                        <option value="{{ return_result }}"
                        {% if corr_tools.return_results_menu_selected == return_result %}
                            selected
                        {% endif %}>
                        Top {{ return_result }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <div class="control-group">
            <label for="corr_samples_group" class="control-label">Samples</label>
            <div class="controls">
                <select name="corr_samples_group">
                    {% for group, pretty_group in sample_group_types.items() %}
                        <option value="{{ group }}">{{ pretty_group }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
            
        <div class="control-group">
            <label for="corr_sample_method" class="control-label">Type</label>
            <div class="controls">
                <select name="corr_sample_method">
                    <option value="pearson">Pearson</option>
                    <option value="spearman">Spearman Rank</option>
                </select>
            </div>
        </div>
        
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-inverse submit_special"
                        data-url="/corr_compute"
                        title="Compute Correlation">
                    <i class="icon-ok-circle icon-white"></i> Compute
                </button>
            </div>
        </div>

        <span id="sample_r_desc" class="correlation_desc fs12">
            The <a href="/correlationAnnotation.html#sample_r" target="_blank">Sample Correlation</a>
            is computed
            between trait data and any<br>
            other traits in the sample database selected above. Use
            <a href="/glossary.html#Correlations" target="_blank">Spearman
            Rank</a><br>
            when the sample size is small (&lt;20) or when there are influential outliers.
        </span>
        <SPAN id="lit_r_desc" style="display: none;" class="correlation_desc fs12">
            The <A HREF="/correlationAnnotation.html" TARGET="_blank">Literature Correlation</A>
            (Lit r) between
            this gene and all other genes is computed<BR>
            using the <A HREF="https://grits.eecs.utk.edu/sgo/sgo.html" TARGET="_blank">
            Semantic Gene Organizer</A>
            and human, rat, and mouse data from PubMed. <BR>
            Values are ranked by Lit r, but Sample r and Tissue r are also displayed.<BR><BR>
            <A HREF="/glossary.html#Literature" TARGET="_blank">More on using Lit r</A>
        </SPAN>
        <SPAN id="tissue_r_desc" style="display: none;" class="correlation_desc fs12">
            The <A HREF="/webqtl/main.py?FormID=tissueCorrelation" TARGET="_blank">Tissue Correlation</A>
            (Tissue r)
            estimates the similarity of expression of two genes<BR>
            or transcripts across different cells, tissues, or organs
            (<A HREF="/correlationAnnotation.html#tissue_r" TARGET="_blank">glossary</A>).
            Tissue correlations<BR>
            are generated by analyzing expression in multiple samples usually taken from single cases.<BR>
            <STRONG>Pearson</STRONG> and <STRONG>Spearman Rank</STRONG> correlations have been
            computed for all pairs of genes<BR> using data from mouse samples.<BR>
        </SPAN>

    </div>
</div>