<button id="corr_matrix" class="btn btn-primary submit_special" data-url="/corr_matrix" title="Correlation Matrix" >
    Correlations
</button>

<button id="network_graph" class="btn btn-primary submit_special" data-url="/network_graph" title="Network Graph" >
    Networks
</button>

<button id="send_to_webgestalt" class="btn btn-primary submit_special" data-url="/webgestalt_page" title="WebGestalt" >
  WebGestalt
</button>

<button id="send_to_geneweaver" class="btn btn-primary submit_special" data-url="/geneweaver_page" title="GeneWeaver" >
  GeneWeaver
</button>

<button id="send_to_bnw" class="btn btn-primary submit_special" data-url="/bnw_page" title="Bayesian network software for causal modeling and reasoning, with an intuitive interface to incorporate biological knowledge and a complete pipeline from data to model to prediction" >
  BNW
</button>

<button id="wgcna_setup" class="btn btn-primary submit_special" data-url="/wgcna_setup" title="WGCNA Analysis" >
    WGCNA
</button>

<button id="ctl_setup" class="btn btn-primary submit_special" data-url="/ctl_setup" title="CTL Analysis" >
    CTL Maps
</button>

<button id="heatmap" class="btn btn-primary submit_special" data-url="/heatmap" title="Heatmap" >
    MultiMap
</button>

<button id="comp_bar_chart" class="btn btn-primary submit_special" data-url="/comparison_bar_chart" title="Comparison Bar Chart" >
    Comparison Bar Chart
</button>