{% extends "base.html" %}
{% block title %}GeneNetwork{% endblock %}
{% block content %}
<!-- Start of body -->

                <!-- Body Start from Here -->
                <P class="title">Latest Updates and News from Genenetwork </P>
                {% for news_item in news_items %}
                    <h4>{{ news_item.title }} ({{ news_item.date }})</h4>
                    {{ news_item.details | safe }}
                    <br /><br />
                {% endfor %}




<!-- End of body -->
{% endblock %}
