{% extends "base.html" %}
{% block title %}GeneNetwork{% endblock %}
{% block content %}
<!-- Start of body -->

	<TR>
		<TD bgColor=#eeeeee class="solidBorder">
            <Table width= "100%" cellSpacing=0 cellPadding=5><TR>
                <!-- Body Start from Here -->
                <TD valign="top" height="200" width="100%" bgcolor="#eeeeee">

                <P class="title">Latest Updates and News from Genenetwork  <A HREF="/webqtl/main.py?FormID=editHtml"><img src="/images/modify.gif" alt="modify this page" border= 0 valign="middle"></A></P>


                {% for news_item in news_items %}
                    <h4>{{ news_item.title }} ({{ news_item.date }})</h4>
                    {{ news_item.details | safe }}
                    <br /><br />
                {% endfor %}

            <p />

		</TD>
	</TR>



<!-- End of body -->
{% endblock %}
