{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

    {{ header("Password Reset", "Check your email.") }}


    <div class="container">
        <div class="page-header">
            <h3>One last step</h3>
        </div>

        <p>You will receive an email with the subject <strong>{{ subject }}</strong>.</p>

        <p>You must click the link in the email to reset the password.</p>

        <p>If you don't see the email, check your spam folder.</p>
    </div>

{% endblock %}

{% block js %}
    {% include "new_security/_scripts.html" %}
    <script language="javascript" type="text/javascript" src="{{ url_for('js', filename='zxcvbn-async/zxcvbn-async.min.js') }}"></script>
    <script type="text/javascript" src="/static/new/javascript/password_strength.js"></script>
{% endblock %}
