{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block content %}

    {{ header("Forgot Password", "Easily reset your password.") }}

    <div class="container">
        <div class="page-header">
            <h1>Password Reset</h1>
        </div>


        <div class="security_box">

            <h4>Enter your email address</h4>

            <h5>And we'll send you a link to reset your password</h5>



            <form class="form-horizontal" action="/n/forgot_password_submit"
                  method="POST" name="login_user_form">
                <fieldset>


                    <div class="control-group">
                        <label class="control-label" for="email_address">Email Address</label>
                        <div class="controls">
                            <input id="email_address" class="focused" name="email_address" type="text" value="">
                        </div>
                    </div>


                    <div class="control-group">
                        <div class="controls" style="margin-top: 10px;">
                            <input id="next" name="next" type="hidden" value="">

                            <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Send link">
                        </div>
                    </div>

                </fieldset>

                <br />

                <div class="well">
                    <h5>Has your email address changed?</h5>

                    If you no longer use the email address connected to your account, you can contact us for assistance.

                </div>

            </form>
        </div>
        </div>
    </div>

  {% endblock %}

{% block js %}
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->

    {% include "new_security/_scripts.html" %}

{% endblock %}
