{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>Login</h1>
        </div>


        <div class="security_box">

            <h4>Don't have an account?</h4>


            <a href="/n/register" class="btn btn-primary modalize">Create a new account</a>


            <hr />

            <h4>Already have an account? Sign in here.</h4>


            <form class="form-horizontal" action="/n/login" method="POST" name="login_user_form">
                 <fieldset>
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="email_address">Email&nbsp;Address</label>
                        <div class="col-xs-10">
                            <input id="email_address" class="focused" name="email_address" type="text" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="password">Password</label>
                        <div class="col-xs-3 controls">
                            <input id="password" name="password" type="password" value="">
                            <br />
                            <a href="/n/forgot_password">Forgot your password?</a><br/>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="remember"></label>
                        <div class="col-xs-3 controls">
                            <label class="checkbox">
                                <input id="remember" name="remember" type="checkbox" value="y"> Remember me
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="submit"></label>
                        <div class="col-xs-3 controls">
                            <input id="next" name="next" type="hidden" value="">
                            <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Sign in">
                        </div>
                    </div>
              </fieldset>

            </form>
        </div>
        </div>
    </div>

  {% endblock %}

{% block js %}
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->

    {% include "new_security/_scripts.html" %}

{% endblock %}
