{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

    {{ header("Password Reset", "Create a new password.") }}


    <div class="container">
        <div class="page-header">
            <h1>Password reset</h1>
        </div>

        <div class="security_box">


            <h4>Enter your new password</h4>


            {% if errors %}
                <div class="alert alert-error">
                    <strong>Please note:</strong>
                    <ul>
                        {% for error in errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form class="form-horizontal" action="/n/password_reset_step2" data-validate="parsley"
                  method="POST" name="login_user_form">

                <fieldset>

                    <input class="hidden" name="user_encode" value="{{ user_encode }}">


                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input id="password" name="password" type="password" value=""
                                   data-trigger="change" data-required="true" data-minlength="6">
                        </div>
                    </div>

                    <div class="control-group" style="display: none" id="password_alert">
                        <div class="controls"">
                            <span id="password_strength" class="alert"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="password_confirm">Confirm Password</label>
                        <div class="controls">
                            <input id="password" name="password_confirm" type="password" value=""
                                   data-trigger="change" data-required="true" data-equalto="#password">
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls"">
                            <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Reset password">
                        </div>
                    </div>

                </fieldset>

            </form>
        </div>
    </div>

{% endblock %}

{% block js %}
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->

    {% include "new_security/_scripts.html" %}
    <script type="text/javascript" src="/static/new/js_external/zxcvbn/zxcvbn-async.js"></script>
    <script type="text/javascript" src="/static/new/javascript/password_strength.js"></script>
{% endblock %}
