{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
     {{ header("Almost Done", "Thanks for registering")}

    <div class="container">
        <div class="page-header">
            <h3>One last step</h3>
        </div>

        <p>You will receive an email with the subject <strong>{{ subject }}</strong>.</p>

        <p>You must click the link in the email to complete registration.</p>

        <p>If you don't see the email, check your spam folder.</p>
    </div>

{% endblock %}

{% block js %}
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->

    {% include "new_security/_scripts.html" %}
    <script type="text/javascript" src="/static/new/js_external/zxcvbn/zxcvbn-async.js"></script>
    <script type="text/javascript" src="/static/new/javascript/password_strength.js"></script>
{% endblock %}
