<div class="security_box">
    <h4>* Already have an account?</h4>

    <center>
        <a href="/n/login"
           class="btn btn-info modalize">Sign in using existing account</a>
    </center>

    <hr />

    <h4>Don't have an account?</h4>

    <h5>Register here</h5>

    <form class="form-horizontal" action="/n/register_submit"
          method="POST" name="login_user_form">
        <fieldset>


            <div class="control-group">
                <label class="control-label" for="email">Email Address</label>
                <div class="controls">
                    <input id="email" name="email" class="focused" type="text" value="">
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="email">Name</label>
                <div class="controls">
                    <input id="name" name="name" type="text" value="">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="email">Organization</label>
                <div class="controls">
                    <input id="organization" name="organization" type="text" value="">
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input id="password" name="password" type="password" value="">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="password_confirm">Confirm Password</label>
                <div class="controls">
                    <input id="password" name="password_confirm" type="password" value="">
                </div>
            </div>

            <div class="control-group">
                <div class="controls"">
                    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Create account">
                </div>
            </div>

        </fieldset>

    </form>
</div>
{% include "security/_scripts.html" %}
<!--{% include "security/_menu.html" %}-->
