{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    {{ header("Thank you", "Thanks for verifying") }}

    <div class="container">
        <div class="page-header">
            <h3>You are done registering</h3>
        </div>

        <p>Enjoy using the site.</p>

        <br />

        <a class="btn btn-primary" href="{{ url_for("index_page") }}">Go to the homepage</a>
    </div>

{% endblock %}

{% block js %}
    {% include "new_security/_scripts.html" %}
    <script language="javascript" type="text/javascript" src="{{ url_for('js', filename='zxcvbn-async/zxcvbn-async.min.js') }}"></script>
    <script type="text/javascript" src="/static/new/javascript/password_strength.js"></script>
{% endblock %}
