{% extends "base.html" %}
{% block title %}Verification{% endblock %}
{% block content %}
     {{ header("Verification", "You still need to verify") }}

    <div class="container">
        <div class="page-header">
            <h3>Verification of e-mail address</h3>
        </div>
        <h4>You still need to verify your e-mail address before you can sign in.</h4>

        <p>We've resent the verificaiton email.

        <p>Please check for an email with the subject <strong>{{ subject }}</strong>.</p>

        <p>You must click the link in the email to complete registration.</p>

        <p>If you don't see the email, check your spam folder.</p>
    </div>

{% endblock %}

{% block js %}
    {% include "new_security/_scripts.html" %}
    <script language="javascript" type="text/javascript" src="{{ url_for('js', filename='zxcvbn-async/zxcvbn-async.min.js') }}"></script>
    <script type="text/javascript" src="/static/new/javascript/password_strength.js"></script>
{% endblock %}
